/*
Local extensions/modifications to bootstrap
Trying not to modify bootstrap.css anymore so that we can safely update in the future
*/

.btn-default-pupil {
	color: #428bca;
	background-color: #FCFCFC;
	border-color: #F1F1F1;
}

.btn-default-pupil:hover {
	color: #428bca;
	background-color: #DDD;
	border-color: #F1F1F1;
}

.panel-pupil {
	background-color: #F1F1F1;
	border-color: #F1F1F1;
}

.panel-pupil > .panel-heading-pupil {
	background-color: #FCFCFC;
}

.panel-pupil > .panel-footing-pupil {
	background-color: #FCFCFC;
}