// adapted from

font-url(file)
  return '../media/fonts/' + file

webfont(family, file, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.woff')) format('woff') 
    font-weight weight
    font-style normal
    font-stretch normal