.u-padBottom--0
	padding-bottom 0

.u-textCenter
	text-align center!important

.u-textRight
	text-align right!important	
	
.u-textJustified
	text-align justify!important

.u-padTop--1
	padding-top 1em
	
.u-padTop--2
	padding-top 2em
	
.u-padTop--3
	padding-top 3em
	
.u-padTop--6
	padding-top 6em	
	
.u-padBottom--1
	padding-bottom 1em
	
.u-padBottom--2
	padding-bottom 2em

.u-padBottom--3
	padding-bottom 3em

.u-padBottom--5
	padding-bottom 5em !important
	
.u-padRight--2
	padding-right 2em

.u-marginTop--2
	margin-top 2em

.anchor
	display	block
	position relative
	top -100px
	visibility hidden