.u-linkAttention
  color darken($link-hover-color, 25%) !important
  transition color .3s ease-in-out



// ul.nav-vrar

// ul.nav-store

// ul.nav-blog

// ul.nav-about

// ul.nav-careers

// ul.nav-cart
