// Responsive image
// - Keep image from scaling beyond the width of their parent elements
img-responsive($display = block)
	display $display
	max-width 100% // set max relative to parent
	height auto // scale height according to the width
	