- var title = page_data.metadata.title
- var subtitle = page_data.metadata.subtitle
div.Banner-container.Banner--gradientBkg
  div.Banner-item.u-textCenter
    h1.Banner-title #{ title }
    h2.Banner-subtitle #{ subtitle }
