---
title: Terms and Conditions of Sale
subtitle: Pupil Hardware
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development. 
---

{% extends "jumbotron_tos.j2" %}

{% block headline %}
# Terms and Conditions of Sale
Pupil Hardware
{% endblock headline %}

{% block tos %}
<div class="text-center">
<h2>Terms and Conditions of Sale</h2>
<h4>Pupil Labs UG (haftungsbeschränkt)</h4>
</div>

####**1. General**
    
  1.1 All offers, sales contracts, deliveries and services made on the basis of any orders by our customers (each, a “**Customer**”) through our website www.pupil-labs.com (the “**Website**”) shall be governed by these general terms and conditions of sale (the “**Terms and Conditions**”).

  1.2 The product offerings on the Website are directed to Business Customers only and only to end users. For the purpose of these Terms and Conditions a “Business Customer” is an individual, company or partnership vested with legal capacity who enters into the relevant contract in the conduct of its business or its self-employed professional activity (Sec. 14 (1) of the German Civil Code).

  1.3 Note that the Pupil headset and Pupil software are not considered consumer products but rather intended as a development platform, and the terms of the applicable software license are limited to use by developers. BY PURCHASING Pupil Labs hardware and software, YOU REPRESENT AND WARRANT THAT YOU ARE PURCHASING THE PRODUCT FOR USE IN DEVELOPMENT AND RESEARCH CONTEXTS, AND NOT FOR PERSONAL USE AS AN END CONSUMER.

  1.4 Standard business conditions of the Customer do not apply, regardless of whether or not we expressly object to them in a particular case.

####**2. Conclusion of Contract**

  2.1 Offerings on the Website are non-binding.

  2.2 By placing an order on the Website, via e-mail, the Customer makes a binding offer to purchase the relevant product. The offer will remain open for acceptance by us for a period ending at the end of the third business day following the day of the offer.

  2.3 Without undue delay upon receipt of the order, we will send to the Customer by e-mail a confirmation of receipt, which shall not constitute an acceptance of the order. The order shall be deemed to be accepted by us either upon subsequent (e-mail) acceptance of the order or by dispatching the product. The sales contract with the Customer shall not become effective until our acceptance.

####**3. Prices and Payment**

  3.1 Our prices listed on the Website exclude statutory VAT and are net of shipping costs. Any customs duties and similar public charges shall be borne by the Customer. The shipping costs depend on the size and the weight of the ordered product(s), the shipping mode, and the country of delivery.
	
  3.2 All costs except any customs duties and similar public charges shall be borne by the Customer will be listed on the proforma invoice (quotation).

  3.3 Payments are being settled by use of credit cards, PayPal, by advanced payment. We reserve the right to allow payment post delivery on a case to case bases.

####**4. Dispatch of the Product**

  4.1 Any date of dispatch communicated by us shall be only approximate, except if a fixed date of dispatch has been agreed upon.

  4.2 Any time period relevant to determine the date of dispatch pursuant to this Section 4 (as specified by us when the order is made or as otherwise agreed upon) shall begin (a) if advance payment has been agreed, upon receipt by us of the full purchase price (including VAT and shipping costs) or (b) if payment after delivery has been agreed, upon the conclusion of the sales contract.

  4.3 The date of dispatch shall be such day on which the product is handed over by us to the carrier.

####**5. Shipment, Insurance, and Passing of Risk**

  5.1 Unless expressly otherwise agreed upon, we shall be free to determine the appropriate mode of shipment and to select the carrier at our reasonable discretion.

  5.1 We shall only be obliged to properly and timely deliver the product to the carrier and shall not be responsible for any delays caused by the carrier. Any transit times specified by us shall therefore only be non-binding estimates.

  5.3 The risk of accidental destruction, damage or loss of the delivered product shall pass to the Customer upon delivery of the product by us to the carrier.

####**6. Retention of title**

  6.1 We retain legal title to any product supplied by us until the purchase price (including VAT and shipping costs) for such product has been fully paid.

####**7. Warranty**

  7.1 In the event of a defect of the delivered product, we shall have the right to choose to repair the product or to supply another product (as ordered) at our discretion, provided that such choice shall be made by us by written notice (in “text form”, including by telefax or by e-mail) within a period of five business days following receipt of the Customer’s notice of the defect. 

  7.2 The warranty period shall be twelve months upon delivery of the product.

  7.3 The Customer shall inspect the product with due care promptly upon delivery. The delivered product shall be deemed to be approved by the Customer unless the defect is notified to us (i) in case of any obvious defects within a period of five business days upon delivery or (ii) otherwise within five business days from the day when the defect has been identified.

####**8. License for commercial use**

  8.1. Subject to the Customers continuous compliance with this agreement, we grant the Customer a limited non-exclusive license to install and make use of the product including the software with the right to modify the software for the Customers commercial use provided that the software, whether modified by the Customer or not, will only be sold and/or transferred along with our product (hardware) to third parties (the “Commercial License”). The Commercial License granted to Customer will automatically terminate without prior notice if the Customer breaches any terms of this Agreement, especially this Section 8.

  8.2 Our license for non-commercial use as set out on the Website remains unaffected.

####**9. Liability**

  9.1 We are unrestrictedly liable for damages that have been caused by deliberate intention or by gross negligence by us, our legal representatives or senior executives and for damages that have been caused by deliberate intention by other assistance in performance; in respect of gross negligence of other assistants in performance our liability shall be as set forth in the provisions for slight negligence.

  9.2 In cases of slight negligence, we are only liable if we, our legal representatives or assistants in performance have infringed a fundamental duty and if the purpose of the contract is threatened thereby or if it, our legal representatives or assistants in performance have infringed duties that have to be fulfilled for the duly contract implementation and if the Customer generally relies on the fulfilment of these duties. In the aforementioned cases, we are only liable for foreseeable damages to the Customer at the time the respective service was performed. Our liability for consequential damage and lost profit is excluded.

  9.3 We will not be liable hereunder by reason of any failure to timely perform our duties hereunder due to an event beyond our reasonable control, including acts of God; acts of terrorism; civil unrest; war; fires; power cuts; epidemics.

  9.4 If our liability is excluded or restricted, this also applies to the personal liability of its employees, representatives, and agents.

  9.5 The aforementioned restrictions of liability do not apply to cases of damages to life, body, or health, to cases of warranting for the condition of a product, and to cases of fraudulent concealment of defects by us, our legal representatives or assistants in performance or under the German Product Liability Act.

####**10. Applicable Law and Competent Courts**

  10.1 Any contracts entered into between us and the Customer shall be governed by the laws of the Federal Republic of Germany under exclusion of the UN Convention on the International Sale of Goods (CISG), without prejudice to any mandatory conflict of laws provisions.

  10.2. The courts in Berlin, Germany, shall have exclusive jurisdiction in respect of all disputes arising out of or in connection with the relevant contract.

  10.3. Should any provision of these Terms and Conditions be or become invalid, ineffective or unenforceable as a whole or in part, the validity, effectiveness and enforceability of the remaining provisions shall not be affected thereby. Any such invalid, ineffective or unenforceable provisions shall be deemed replaced by such valid, effective and enforceable provision as come closest to the economic intent and purpose as of such invalid, ineffective or unenforceable provisions as regard subject-matter, amount, time, place and extent. The aforesaid shall apply mutatis mutandis to any gap in these Terms and Conditions if any court has confirmed such proceeding.

*Last update: August 2014*
{% endblock tos %}