.Navbar-header
	padding 1.75em 2em
	background $navbar-bg
	border-bottom 1px solid $navbar-border-color
	display block
	max-width 100%
	width 100%
	z-index $zindex-navbar
	position relative
	
	&:after
		clear:both
		display:table
		content ""
	
.Navbar-linkLogo
	text-decoration none
	float left
	position relative