// 
// Global Variables 
// -------------------------------

// Colors


// Grids


// Typography
// the ?= is a conditional assignment - if the variable is already assigned it doesn't get overwritten
// kind of overkill here but, interesting feature 
$font-family-sans-serif ?= 	"Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-serif ?=		Georgia, "Times New Roman", Times, serif
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace ?=  	Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base ?=      	$font-family-sans-serif

$font-size-base ?=			1.1em
$line-height-base ?=  		1.5 // "unit-less" base line height that can be used as a multiplier by elements


// Icons


// Components
// -- Define most commonly used padding and border radius sizes. We should use EM (relative to a base typography for this)

// Tables


// Buttons


// Forms
  

// Dropdowns


// Z-index master list
$zindex-navbar ?= 			1000

// Media queries, breakpoints 


// Grid system


// Navbar
$navbar-bg ?= 				#fff
$navbar-border-color ?= 	#ddd  

// Navs


// Pagination