---
title: About
subtitle: About Pupil Labs
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development. 
---

{% extends "jumbotron_about.j2" %}

{% block headline %}
# Pupil Labs
Research & Development & Design
{% endblock headline %}

{% block about %}
## About Us
Pupil Labs is a company by Moritz Kassner, William Patera and Andreas Bulling.

We do research and development, with an emphasis on design.

At Pupil Labs we strive to make great tools, and are excited to see what you do with them!

Interested in purchasing Pupil hardware or want to get in touch with us about sales.  Email <a href="mailto:sales@pupil-labs.com" target="_blank">sales@pupil-labs.com</a>
{% endblock about %}

{% block imprint %}
## Imprint 

### Address
Pupil Labs UG (haftungsbeschr&auml;nkt)
Gustav-M&uuml;ller-Str. 40 
10829 Berlin

### Contact
E-Mail <a href="mailto:info@pupil-labs.com" target="_blank">info@pupil-labs.com</a>

### CEO
Moritz Kassner

### Registration
Resitercourt/ Register id:
District court Berlin (Charlottenburg) HRB 155541

### VAT-ID 
gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz: DE293673193

Responsible for Content (nach &sect; 10 Absatz 3 MDStV): 
Moritz Kassner (Address as above)
{% endblock imprint %}


