---
title: Pupil Labs
subtitle: Research and Development with a strong emphasis on design.
description: #
pupil_button: Get Pupil
pupil_url: projects.html
about_button: Learn More
about_url: about.html
---

{% extends "fullwidth.j2" %}

{% block about_pupil %}
Pupil is an open source mobile eye tracking product, in active community driven development.

The hardware is accessible and affordable, and software written in Python.
{% endblock %}

{% block about_us %}
Pupil Labs is a partnership between Moritz Kasser and William Patera.

We like like to make well designed tools, and are excited to see how what you do with them!
{% endblock %}