---
title: Pupil Labs
subtitle: Research & Development & Design
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development.
pupil_button: Learn More
pupil_url: pupil
about_button: Get in Touch!
about_url: about.html
---

{% extends "jumbotron_home.j2" %}

{% block about_pupil %}
Pupil is an open source mobile eye tracking product, in active community driven development.

The hardware is accessible and affordable, and software written in Python.
{% endblock %}

{% block about_us %}
At Pupil Labs we strive to make great tools, and are excited to see what you do with them!

We do research and development, with an emphasis on design.
{% endblock %}