---
title: Pupil Labs Newsletter
subtitle: Subscription Confirmed!  Thanks for signing up!  
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development. 
---

{% extends "jumbotron.j2" %}

{% block headline %}
# Newsletter Signup
Subscription Confirmed
Thanks for signing up!
{% endblock headline %}

{% block column1 %}
## Pupil Labs Newsletter

<div class="text-center">
<img src="{{ media_url('img/Pupil_Logo_wiki-04.png') }}">
</div>
We send out about four updates per year to announce what we're working on, and exciting updates.  We will not spam your inbox and will never share your contact information.  

Read recent & past updates on the Pupil Labs blog.

<p class="text-center"><a href="/blog" class="btn btn-default btn-lg btn-default-pupil">Pupil Labs Blog</a></p>
{% endblock column1 %}

{% block column2 %}
## Pupil Hardware

<div class="text-center">
<img src="{{ media_url('img/Pupil_Logo_wiki-01.png') }}">
</div>
Check out Pupil - mobile eye tracking hardware and software.

<p class="text-center"><a href="/pupil" class="btn btn-default btn-lg btn-default-pupil">Learn More</a></p>
{% endblock column2 %}

{% block column3 %}
## Pupil Hardware

<div class="text-center">
<img src="{{ media_url('img/Pupil_Logo_wiki-05.png') }}">
</div>
Are you a developer, or just like reading code?  Go straight to the wiki to read more.

<p class="text-center"><a href="http://github.com/pupil-labs/pupil/wiki" class="btn btn-default btn-lg btn-default-pupil">Pupil Wiki</a></p>
{% endblock column3 %}