---
title: Projects
subtitle: Pupil Labs Project Page
description: Projects
download_mac_buton: Download for MacOS
download_linux_button: Download for Linux
---

{% extends "single-project.j2" %}

{% block headline %}
# Pupil

Open source mobile eye tracking platform.

Pupil is in active, community driven development.
{% endblock headline %}

{% block overview %}
## Overview
**Pupil** is a head mounted mobile eye tracking platform.  With **Pupil**, you will be able to record gaze positions. This means that you can view what someone else is looking at in real time, record gaze positions, and visualize results.  Pupil software is Open Source.  You can customize the software to your needs, build your own plugins, and contribute back to the community!
{% endblock %}

{% block hardware %}
<h2>Hardware</h2>
Pupil headsets are 3D printed head mounts that you wear like a pair of glasses. Pupil headsets hold two cameras. One camera tracks and records your eye movements, and another camera records your field of view.  Pupil headsets are lightweight and compatible with most modern computers with 2 USB ports.  

Pupil headsets currently comes in two flavors - <strong>Pupil One</strong> and <strong>Pupil One +</strong>.  
{% endblock %}

{% block price_table %}
    <thead>
    <tr>
        <th style="width: 20%;"></th>
        <th style="width: 40%;"><h3>Pupil One</h3></th>
        <th style="width: 40%;"><h3>Pupil One +</h3></th>
    </tr>
    </thead>

    <tbody>
    <tr>
    <td>Rendering</td>
    <td><img src="media/img/dev_front_crop.jpeg" class="img-responsive img-rounded" alt="Pupil One Side"></td>
    <td><img src="media/img/pro_front_crop.jpeg" class="img-responsive img-rounded" alt="Pupil One+ Side"></td>
    </tr>
    <tr>
        <td>Description</td>
        <td>This is the standard version Pupil Headset. Pupil is under constant development.
        <br>This means that you will always get the latest version of the hardware and that you will have access to continuous upgrades for the software.</td>

        <td>Pupil One+ comes with an upgraded World Camera, improved cable management, fully enclosed cameras.</td>
    </tr>
    <tr>
    <tr>
        <td><strong>Specifications</strong></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Eye Camera</td>
        <td>Maximum Resolution - 640x360 @ 30 fps</br>Infrared camera with basic IR-filter</td>
        <td>Maximum Resolution - 640x360 @ 30fps</br>Infrared camera with custom bandpass IR-filter for improved tracking</td>
    </tr>
    <tr>
        <td>World Camera</td>
        <td>Maximum Resolution - 1280x720 @ 30fps</br>View Angle 68 degrees</td>
        <td>Maximum Resolution - 1920x1080 @ 30 fps</br>Carl-Zeiss Optics</br>View Angle 90 degrees</td>
    </tr>
    <tr>
        <td>Design</td>
        <td>Exposed camera boards</td>
        <td>Fully enclosed camera boards</td>
    </tr>
    <tr>
        <td>Connection</td>
        <td>USB</td>
        <td>USB with improved cable management</td>
    </tr>
    <tr>
        <td>Material</td>
        <td>PLA</td>
        <td>PLA</td>
    </tr>  
    <tr>
        <td>Weight</td>
        <td>290 grams</td>
        <td>350 grams</td>
    </tr>
    <tr>
        <td><strong>Price</strong></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Individual (Noncommercial)</td>
        <td><strong>280 &euro; + shipping</strong></td>
        <td> <!-- Begin Pupil One+ NonCommercial -->
        <strong>480 &euro; + shipping</strong>
        </td>
    </tr>
    

    <tr>
        <td>Academic</td>
        <td>
        <strong>580 &euro; + shipping</strong>
        </td>

        <td>
        <strong>800 &euro; + shipping</strong>
        </td>
    </tr>
    <tr>
        <td>Commercial Enterprise</td>
        <td><a href="mailto:sales@pupil-labs.com">Contact us for a quotation</a></td>
        <td><a href="mailto:sales@pupil-labs.com">Contact us for a quotation</a></td>
    </tr>
    </tbody>

{% endblock price_table %}

{% block software %}
## Software
**Pupil** is a project in active, community driven development and distributed under an OpenSource license. The capture software runs on Linux, MacOS, and Windows. Currently we are actively developing for Linux and MacOS.  Windows installations are supported by the Pupil community.  You can download the app, plug in your Pupil Headset, and get started!  

<p class="centered col-md-3 col-md-offset-2"><a href="https://github.com/pupil-labs/pupil/releases/tag/v0.3.4" class="btn btn-default">Pupil for Linux</a></p>

<p class="centered col-md-3 col-md-offset-2"><a href="https://github.com/pupil-labs/pupil/releases/tag/v0.3.4" class="btn btn-default">Pupil for MacOS</a></p>
<br>
{% endblock %}

{% block development %}   
## Open Source Development 
Much work went into making the software modular and accessible.  You can develop and extend to suit your needs.  We want **Pupil** software to serve as an experiment and development platform for **Pupil** developers. 

Developers, &uuml;ber-nerds, and code explorers -- you can clone the repository and install all dependencies yourself to run **Pupil** directly from the Python source.  Follow build instructions for your platform of choice.

<div class="btn-group">
    <button class="btn btn-default">
        <a href="https://github.com/pupil-labs/pupil/" style="text-decoration: none; color: #000000;">Pupil Code on Github</a>
    </button>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle pagination-centered" type="button" data-toggle="dropdown">
            Build Instructions<span class="caret"></span>
        </button>
      <ul class="dropdown-menu">
        <li><a href="https://code.google.com/p/pupil/wiki/Installation_MacOS">MacOS</a></li>
        <li><a href="https://code.google.com/p/pupil/wiki/Installation_Linux">Linux (Ubuntu)</a></li>
        <li><a href="https://code.google.com/p/pupil/wiki/Installation_Windows">Windows</a></li>
      </ul>
    </div><!--  /btn-group -->
</div><!--  /btn-group -->
{% endblock %} 

{% block community %}
## Community, Documentation, & Support
Check out documentation on our [wiki](https://code.google.com/p/pupil/wiki/Headset_Intro?tm=6)

We provide free support for Pupil users through the [Pupil Forum](http://groups.google.com/group/pupil-discuss), on our [wiki](https://code.google.com/p/pupil/wiki/Headset_Intro?tm=6), and video tutorials embedded on the wiki.  

If you require a higher support levels via email, video-call (Skype or Google Hangouts), or on-site setup and training, get a quote at <sales@pupil-labs.com>

Still have questions or want to chat? Contact us at <info@pupil-labs.com>.   
{% endblock %}

{% block license %}
## License
We want Pupil to proliferate! We want you to use Pupil to empower and inspire whatever you do. Be it academic research, teaching, art, assistive technologies or professional work.

For noncommercial use, the software is open and the hardware is very accessible and modifiable. We consider you a member of the Pupil community rather than a customer of the Pupil product. We encourage the modification of software and hardware in accordance to the [open source license](http://creativecommons.org/licenses/by-nc-sa/3.0/).

If you plan to use Pupil in a commercial context, you will receive a commercial use license with your purchase. We offer to work closely with you to integrate Pupil into your workflow.
{% endblock %}




