---
title: Projects
subtitle: Pupil Labs Project Page
description:
---

{% extends "columns.j2" %}

{% block headline %}
# Pupil

Open source eye tracking hardware and software.

Pupil is in active, community driven development.
{% endblock headline %}

{% block history %}
Our vision is to create tools for a diverse group of people interested in learning about eye tracking and conducting eye tracking research.

The hardware is accessible and affordable. The software is open source and written in Python and C when speed is an issue.


{% endblock %}



