---
title: Jobs
subtitle: Work at Pupil Labs
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development. 
---

{% extends "jumbotron_singlecol.j2" %}

{% block headline %}
# Jobs
Work with us at Pupil Labs
{% endblock headline %}

{% block singlecol %}
## About Us
At Pupil Labs we do research and development, with an emphasis on design. 

We are a small team working on projects that we find challenging and exciting. It is our goal with every aspect of our work to learn something new.  

Currently we’re focusing our development efforts on Pupil – a mobile eye tracking headset and open source software framework. We are excited about this project, because it allows us to work at the intersection of many fields and to interact with a diverse community of researchers.  

We believe in open source. We have formed our business around an open source model, and have grown with our community.

By joining us at this early stage, you will have the chance to make a big impact, work on projects that you are genuinely passionate about, and challenge your capacities. You will not just be another cog in the machine. Because we are a small company, you will expected to wear many hats - to be agile, creative, and self-motivated.

We’re always looking for excellent people. Send us a note at <a href="mailto:jobs@pupil-labs.com">jobs@pupil-labs.com</a> - we’d love to hear from you.

--------------------

## Current Opportunities

### Internship
We are looking to hire paid interns to work at Pupil Labs. We are accepting internship applications on a rolling basis.  

Internships are project based. This means that as an intern at Pupil Labs you will be in charge of your own project, and will work closely with our team in the process of development. Projects will be designed such that they can be completed within the internship period. Ideal internship periods are for 6 months working at our office in Berlin. However, we are willing to discuss remote work and durations.

Currently we are looking for interns to work on projects within the following areas

  + **Software Development** - You should have a Bachelors degree in Computer Science or be pursuing a Master’s degree in Computer Science with a solid foundation in computer vision. You will be working on developing software written in Python, C, and/or Cython.   
  + **Design** - You should have practical experience or be pursuing a degree in a design field (Industrial Design, UI/UX, Graphic Design, Web Design/Development). Projects will be structured based on your area of interest and expertise. 
  + **Fabrication** - You love building things with your hands and are a tinkerer at heart. You have a passion for quality and strong attention to details. Experience with soldering, assembling electronics, and testing is a plus.  

### Software Engineer (Full Time)
We are looking to hire a software engineer with experience in computer vision. Research and/or real world experience in computer vision applications is ideal. The position would involve working closely with a small team of designers and software engineers in the development of Pupil – mobile eye tracking framework. 

Ideally you would work with us at our office in Berlin. However, we are willing to discuss remote collaborations. For remote work, we typically hold weekly video chats and would fly in remote employees for workshops at regular intervals throughout the year.

We’re looking for a person with expertise in some or all of the following areas:

  + Background in Computer Vision
  + Comfortable in Python & C
  + Real-time data processing and sensor fusion
  + Experience working with or developing eye tracking algorithms
  + 3D location and reconstruction from Video (SfM, SLAM) 
  + 2D/3D visualizations with OpenGL

Bonus Qualifications 

  + Passion for quality and strong attention to details and aesthetics
  + Excited about constantly learning new technologies
  + Loves writing Cython code
  + Experience with profiling and Optimization
  + Experience with Python code deployment
  + Desire to dive into Linux driver development
  + Portfolio of past projects or research       

{% endblock singlecol %}