<!DOCTYPE html>
<html lang="en">
  <head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="{{ resource.meta.charset }}">
    <title>{{ site_title }} | {% block title %}{{ resource.meta.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">

    {# Le HTML5 shim, for IE6-8 support of HTML elements #}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block basecss %}
    <link href="{{ media_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ media_url('css/pupil-styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.4/styles/github.min.css">

    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:100,400|Roboto+Slab:300,400' rel='stylesheet' type='text/css'>
    {% endblock basecss %}
    {% block css %}{% endblock %}



    {% block favicons %}
    {# Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references #}
    <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}">
<!--     <link rel="apple-touch-icon" href="{{ media_url('img/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ media_url('img/appleimgim-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ media_url('img/apple-touch-icon-114x114.png') }}"> -->
    {% endblock favicons %}

    {% block headjs %}
    {% endblock headjs %}

    {% block endhead %}{% endblock endhead %}
    {% block analytics %}
    {% include "analytics.j2" %}
    {% endblock analytics %}
  </head>

  <body class="{{ resource.meta.id if resource.meta.id else resource.slug }}">

    {% block body %}
    {% block jumbotron %}{% endblock jumbotron %}
    <div class="container" id="top">
      {% block container %}

      {% endblock container %}
      <hr>
      <footer>
        {% block footer %}
        <p class="text-center">{{ copyright }}</p>
        <p class="text-center"><a href="/about.html">About Us &amp; Imprint</a></p>
        <p class="text-center">
        <iframe src="http://ghbtns.com/github-btn.html?user=pupil-labs&repo=pupil&type=fork"
        allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        </p>
        {% endblock footer %}
      </footer>
    </div> <!-- /container -->

    {% endblock body %}

    {% block js %}

    {# Javascript at the bottom for fast page loading #}

    {% block jquery %}
    {# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ media_url('js/libs/jquery.js') }}">\x3C/script>')</script>
    {% endblock jquery %}

    {% block bootstrap_scripts %}
    <script src="{{ media_url('js/libs/bootstrap.min.js') }}">
    </script>
    {% endblock bootstrap_scripts %}

    {% block custom_scripts %}
    <script src="{{ media_url('js/libs/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% endblock custom_scripts %}


    <!--[if lt IE 7 ]>
      <script src="{{ media_url('js/libs/dd_belatedpng.js') }}"></script>
      <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
    <![endif]-->



    {% endblock js %}
  </body>
</html>
