{% extends "jumbotron.j2" %}

{% block container %}
		<div class="col-sm-12">
			<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(typeof submitted!='undefined'){window.location='{{ resource.meta.formRedirect }}';}"></iframe>
	    <form class="form-horizontal" role="form" action="{{ resource.meta.formUrl }}" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
	    

      <!-- order or quotation question -->
      <div class='form-group'>
        <div class="col-sm-12 text-center">
          <h3>{{ resource.meta.a }}</h3>
          <h4>Would you like to place an <strong>order</strong> or request a <strong>quotation</strong>?</h4>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 text-center">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default" name="order" data-id="order-type">
            <input type="radio" name="order-type" value="Order" id="option1">{{ resource.meta.a3 }}
          </label>
          <label class="btn btn-default" data-id="order-type" name="quote">
            <input type="radio" name="order-type" value="Quotation" id="option2">{{ resource.meta.a4 }}
          </label>
        </div>
        </div>
      </div>

      <div class="form-group" style="display: none;">
        <div class="col-sm-6 col-sm-offset-3">
          <input type="text" class="form-control" data-id="order-type" placeholder="" value="" name="{{ resource.meta.a5name }}" id="{{ resource.meta.a5id }}">
        </div>
      </div>

      <!-- /order or quotation question -->

	    <!-- order -->
	    <div id="order-collapse" class="collapse">
        
		    <div class='form-group'>
			    <div class="col-sm-12 text-center">
				    <h4><strong>How many</strong> headsets do you want to order?</h4>
			    </div>
		    </div>

         <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="input-group">
                  <span class="input-group-addon">
                  {{ resource.meta.a1 }}
                  </span>
                  <input type="text" class="form-control" id="inputPupilProQuantity" min="0" max="10" value="" placeholder="Number of Pupil Pro Headsets" data-action="count" data-product="pupil-pro" data-name="orderPro">
              </div>
            </div>
            <span class="col-sm-3 help-block" id="orderPro"></span>
          </div>

         <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="input-group">
                  <span class="input-group-addon">
                  {{ resource.meta.a2 }}
                  </span>
                  <input type="text" class="form-control" id="inputPupilDevQuantity" min="0" max="10" value="" placeholder="Number of Pupil Dev Headsets" data-action="count" data-product="pupil-dev" data-name="orderDev">
              </div>
            </div>
            <span class="col-sm-3 help-block" id="orderDev"></span>
          </div>

        <div class="form-group" style="display: none;">
          <div class="col-sm-6 col-sm-offset-3">
            <input type="text" class="form-control" data-id="orderSum" placeholder="" value="" name="{{ resource.meta.a6name }}" id="{{ resource.meta.a6id }}">
          </div>
        </div>


        <div class="form-group">
          <div class="text-center">
            <a id="next-0" href="#" class="btn btn-default btn-default-pupil btn-circle btn-lg"><i class="glyphicon glyphicon-chevron-down vertical-center"></i></a>
          </div>
        </div>

	    </div>
	    <!-- /order -->


	    <!-- contact -->
	    <div id="collapse-0" class="collapse">
  	    
        <!-- divider row -->
		    <div class="form-group">
			    <div class="col-sm-6 col-sm-offset-3">
				    <hr>
			    </div>
		    </div>
		    <!-- /divider row -->

        <div class='form-group'>
          <div class="col-sm-12 text-center">
            <h3>{{ resource.meta.b }}</h3>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group">
              <span class="input-group-addon">{{ resource.meta.b1 }}</span>
              <input type="text" class="form-control" data-id="b1" placeholder="{{ resource.meta.b1label }}" id="{{ resource.meta.b1id }}" name="{{ resource.meta.b1name }}" data-name='firstNameContact'>
            </div>
          </div>
          <span class="col-sm-3 help-block" id="firstNameContact"></span>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group">
              <span class="input-group-addon">{{ resource.meta.b2 }}</span>
              <input type="text" class="form-control" data-id="b2" placeholder="{{ resource.meta.b2label }}" name="{{ resource.meta.b2name }}" id="{{ resource.meta.b2id }}" data-name="lastNameContact">
            </div>
          </div>
          <span class="col-sm-3 help-block" id="lastNameContact"></span>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group">
              <span class="input-group-addon">{{ resource.meta.b3 }}</span>
              <input type="email" class="form-control" data-id="b3" placeholder="{{ resource.meta.b3label }}" name="{{ resource.meta.b3name }}" id="{{ resource.meta.b3id }}" data-name="emailContact">
            </div>
          </div>
          <span class="col-sm-3 help-block" id="emailContact"></span>
        </div>

        <div class="form-group">
          <div class="text-center">
            <a id="next-1" href="#" class="btn btn-default btn-default-pupil btn-circle btn-lg"><i class="glyphicon glyphicon-chevron-down vertical-center"></i></a>
          </div>
        </div>

    </div>
    <!-- /collapse-0 -->
    <!-- /contact -->


    <!-- billing -->
    <!-- collapse-1 -->
    <div id="collapse-1" class="collapse">

      <!-- divider row -->
        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <hr>
          </div>
        </div>
      <!-- /divider row -->

      <div class='form-group'>
        <div class="col-sm-12 text-center">
          <h3>{{ resource.meta.c }}</h3>
        </div>
      </div>

      <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group">
          <span class="input-group-addon">{{ resource.meta.c1 }}</span>
          <input type="text" class="form-control" data-id="b1" placeholder="{{ resource.meta.c1label }}" name="{{ resource.meta.c1name }}" id="{{ resource.meta.c1id }}">
        </div>
      </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <span class="input-group-addon">{{ resource.meta.c2 }}</span>
            <input type="text" class="form-control" data-id="b2" placeholder="{{ resource.meta.c2label }}"  name="{{ resource.meta.c2name }}" id="{{ resource.meta.c2id }}">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <span class="input-group-addon">{{ resource.meta.c4 }}</span>
            <input type="text" class="form-control" data-id="b4" placeholder="{{ resource.meta.c4label }}" name="{{ resource.meta.c4name }}" id="{{ resource.meta.c4id }}">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <span class="input-group-addon" data-toggle="tooltip" data-placement="right" title="If you are based in the EU and have a VAT ID, please enter it here.">{{ resource.meta.c5 }}</span>
            <input type="text" class="form-control" data-id="b5" placeholder="{{ resource.meta.c5label }}" name="{{ resource.meta.c5name }}" id="{{ resource.meta.c5id }}">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <span class="input-group-addon">{{ resource.meta.c6 }}</span>
            <input type="text" class="form-control" data-id="b6" placeholder="{{ resource.meta.c6label }}" name="{{ resource.meta.c6name }}" id="{{ resource.meta.c6id }}">
          </div>
        </div>
      </div>  

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <span class="input-group-addon">{{ resource.meta.c7 }}</span>
        <textarea class="form-control" data-id="b7" placeholder="{{ resource.meta.c7label }}" rows="4" style="resize: vertical;" name="{{ resource.meta.c7name }}" id="{{ resource.meta.c7id }}"></textarea>
        </div>
      </div>
      </div>

      <div class="form-group">
      	<div class="col-sm-6 col-sm-offset-3">
	        <select class="combobox form-control" name="{{ resource.meta.c8name }}" id="{{ resource.meta.c8id }}">
           <option value="" selected="selected">{{ resource.meta.c8 }}</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas, The">Bahamas, The</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
            <option value="Botswana">Botswana</option>
            <option value="Brazil">Brazil</option>
            <option value="Brunei">Brunei</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burma (Myanmar)">Burma (Myanmar)</option>
            <option value="Burundi">Burundi</option>
            <option value="Cabo Verde">Cabo Verde</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo, Democratic Republic of the">Congo, Democratic Republic of the</option>
            <option value="Congo, Republic of the">Congo, Republic of the</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="CotCote d'Ivoire">CotCote d'Ivoire</option>
            <option value="Croatia">Croatia</option>
            <option value="Cuba">Cuba</option>
            <option value="Curacao">Curacao</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia, The">Gambia, The</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Greece">Greece</option>
            <option value="Grenada">Grenada</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Holy See">Holy See</option>
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Kosovo">Kosovo</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Laos">Laos</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libya">Libya</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macau">Macau</option>
            <option value="Macedonia">Macedonia</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
            <option value="Malta">Malta</option>
            <option value="Marshall Islands">Marshall Islands</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mexico">Mexico</option>
            <option value="Micronesia">Micronesia</option>
            <option value="Moldova">Moldova</option>
            <option value="Monaco">Monaco</option>
            <option value="Mongolia">Mongolia</option>
            <option value="Montenegro">Montenegro</option>
            <option value="Morocco">Morocco</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Namibia">Namibia</option>
            <option value="Nauru">Nauru</option>
            <option value="Nepal">Nepal</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Netherlands Antilles">Netherlands Antilles</option>
            <option value="New Zealand">New Zealand</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="North Korea">North Korea</option>
            <option value="Norway">Norway</option>
            <option value="Oman">Oman</option>
            <option value="Pakistan">Pakistan</option>
            <option value="Palau">Palau</option>
            <option value="Palestinian Territories">Palestinian Territories</option>
            <option value="Zimbabwe">Zimbabwe</option>
            <option value="Panama">Panama</option>
            <option value="Papua New Guinea">Papua New Guinea</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Philippines">Philippines</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Qatar">Qatar</option>
            <option value="Romania">Romania</option>
            <option value="Russia">Russia</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
            <option value="Samoa">Samoa</option>
            <option value="San Marino">San Marino</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
            <option value="Saudi Arabia">Saudi Arabia</option>
            <option value="Senegal">Senegal</option>
            <option value="Serbia">Serbia</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Singapore">Singapore</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Solomon Islands">Solomon Islands</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Korea">South Korea</option>
            <option value="South Sudan">South Sudan</option>
            <option value="Spain">Spain</option>
            <option value="Sri Lanka">Sri Lanka</option>
            <option value="Sudan">Sudan</option>
            <option value="Suriname">Suriname</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
            <option value="Syria">Syria</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Tajikistan">Tajikistan</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Thailand">Thailand</option>
            <option value="Timor-Leste">Timor-Leste</option>
            <option value="Togo">Togo</option>
            <option value="Tonga">Tonga</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="Tunisia">Tunisia</option>
            <option value="Turkey">Turkey</option>
            <option value="Turkmenistan">Turkmenistan</option>
            <option value="Tuvalu">Tuvalu</option>
            <option value="Uganda">Uganda</option>
            <option value="Ukraine">Ukraine</option>
            <option value="United Arab Emirates">United Arab Emirates</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Uzbekistan">Uzbekistan</option>
            <option value="Vanuatu">Vanuatu</option>
            <option value="Venezuela">Venezuela</option>
            <option value="Vietnam">Vietnam</option>
            <option value="Yemen">Yemen</option>
            <option value="Zambia">Zambia</option>
	        </select>
      </div>
      </div>

      <div class="form-group">
        <div class="text-center">
          <a id="next-2" href="#" class="btn btn-default btn-default-pupil btn-circle btn-lg"><i class="glyphicon glyphicon-chevron-down vertical-center"></i></a>
        </div>
      </div>

    </div>
    <!-- /billing -->
    <!-- /collapse-1 -->

    <!-- shipping-row -->
    <div id="collapse-2" class="collapse">
	    
      <!-- divider row -->
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <hr>
        </div>
      </div>
      <!-- /divider row -->

      <div class='form-group'>
		    <div class="col-sm-12 text-center">
			    <h3>{{ resource.meta.d }}</h3>
          <h4>{{ resource.meta.dsub }}</h4>
		    </div>
	    </div>

      <div class="form-group">
      	<div class="col-sm-12 text-center">
        	<div class="btn-group" data-toggle="buttons">
        		<label class="btn btn-default" data-id="shipping-data" name="copy">
  	      		<input type="radio" name="use-contact" value="use-contact" id="option1">
  	      		{{ resource.meta.da }}
        		</label>
        		<label class="btn btn-default" data-id="shipping-data" name="new">
  	      		<input type="radio" value="use-other" id="option2">
  	      		{{ resource.meta.db }}
        		</label>
          </div>
      	</div>
      </div>
    	
    </div>

    <div id="shipping-collapse" class="collapse">

      <div class="form-group">
		    <div class="col-sm-6 col-sm-offset-3">
		      <div class="input-group">
		        <span class="input-group-addon">{{ resource.meta.d1 }}</span>
		        <input type="text" class="form-control" data-id="b1" placeholder="{{ resource.meta.d1label }}" name="{{ resource.meta.d1name }}" id="{{ resource.meta.d1id }}">
		      </div>
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-6 col-sm-offset-3">
		      <div class="input-group">
		        <span class="input-group-addon">{{ resource.meta.d2 }}</span>
		        <input type="text" class="form-control" data-id="b2" placeholder="{{ resource.meta.d2label }}" name="{{ resource.meta.d2name }}" id="{{ resource.meta.d2id }}">
		      </div>
		    </div>
		  </div>

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <span class="input-group-addon">{{ resource.meta.d4 }}</span>
            <input type="text" class="form-control" data-id="b4" placeholder="{{ resource.meta.d4label }}" name="{{ resource.meta.d4name }}" id="{{ resource.meta.d4id }}">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <span class="input-group-addon">{{ resource.meta.d7 }}</span>
        <textarea class="form-control" data-id="b7" placeholder="{{ resource.meta.d7label }}" rows="4" style="resize: vertical;" name="{{ resource.meta.d7name }}" id="{{ resource.meta.d7id }}"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="text-center">
          <a id="next-3" href="#" class="btn btn-default btn-default-pupil btn-circle btn-lg"><i class="glyphicon glyphicon-chevron-down vertical-center"></i></a>
        </div>
      </div>

    </div>
    <!-- /shipping-row -->

    <!-- preferences -->
    <div id="collapse-3" class="collapse">
      
      <!-- divider row -->
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <hr>
        </div>
      </div>
      <!-- /divider row -->

      <div class='form-group'>
        <div class="col-sm-12 text-center">
          <h3>{{ resource.meta.e }}</h3>
          <h4>{{ resource.meta.esub }}</h4>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 text-center">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default" data-id="payment-type">
            <input type="radio" value="pay-pal">
            {{ resource.meta.e1 }}
          </label>
          <label class="btn btn-default" data-id="payment-type">
            <input type="radio" value="bank-transfer" id="option2">
            {{ resource.meta.e2 }}
          </label>
        </div>
        </div>
      </div>

      <div class="form-group" style="display: visible;">
        <div class="col-sm-6 col-sm-offset-3">
          <input type="text" class="form-control" data-id="payment-method" placeholder="" value="" name="{{ resource.meta.e3name }}" id="{{ resource.meta.e3id }}">
        </div>
      </div>

	    <!-- Submit Row -->
	    <div id="submit-collapse" class="collapse">
	    
      <div class='form-group'>
        <div class="col-sm-12 text-center">
          <h4>{{ resource.meta.fsub }}</h4>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="input-group">
            <span class="input-group-addon">{{ resource.meta.f }}</span>
            <textarea class="form-control" data-id="d6" placeholder="{{ resource.meta.flabel }}" rows="4" style="resize: vertical;" name="{{ resource.meta.fname }}" id="{{ resource.meta.fid }}"></textarea>
          </div>
        </div>
      </div>

	    <div class="form-group">
		    <div class="col-sm-6 col-sm-offset-3">
			    <hr>
		    </div>
	    </div>

	    <div class='form-group'>
        <div class="col-sm-6 col-sm-offset-3">
	          <div class="form-group">
	            <button type="submit" id="ss-submit" class="btn btn-default btn-lg btn-default-pupil btn-block" data-id="submit-order">{{ resource.meta.g }}</button>
	          </div>
	        </div>
	    </div>

	    </div>
	    <!-- /submit-row -->
    </div><!--  /preferences -->

  <div class="col-sm-1">
    <i id="toggle-all" class="glyphicon small-gray glyphicon-eye-close" data-toggle="tooltip" data-placement="top" title="Show all form fields"></i>
  </div>

  </form>
  <!--  /form -->
  </div>
  <!--  /col -->
		
  <div class="row">
		<div class="col-md-6">
		  {% filter markdown -%}
		      {% block imprint %}{% endblock %}
		  {%- endfilter %}
		</div><!-- /col -->
	</div>
{% endblock container %}


{% block order_form_scripts %}
<link rel="stylesheet" href="{{ media_url('css/bootstrap-combobox.css') }}">
<link rel="stylesheet" href="{{ media_url('css/bootstrapValidator.min.css') }}">
<script src="{{ media_url('js/libs/bootstrap-combobox.min.js') }}"></script>
<script src="{{ media_url('js/libs/bootstrapValidatorMod.js') }}"></script>
<script src="{{ media_url('js/libs/order-form.js') }}"></script>
{% endblock order_form_scripts %}