{# Jumbotron template #}

{% extends "topbar.j2" %}


{% block jumbotron %}
<div class="jumbotron" style="margin-top: -50px;">
    <div class="container text-center" style="padding: 40px 15px;">
	    {% filter markdown -%}
	    <h1 class="index">{{ resource.meta.title }}</h1>
	    {%- endfilter %}
	  <div class="lead" style="margin-botton: 0px;">
	    {% filter markdown -%}
	    {{ resource.meta.subtitle }}
	    {%- endfilter %}
	  </div>


    </div><!-- /container -->
</div><!-- /jumbotron -->
{% endblock jumbotron %}
{% block container %}

<div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h2 class="index text-center">Pupil</h2>
        <p>{% filter markdown -%}
            {% block about_pupil %}{% endblock %}
            {%- endfilter %}
        </p>
            <p class="text-center"><a href="{{ resource.meta.pupil_url }}" class="btn btn-default btn-lg">
            {{ resource.meta.pupil_button }}
            </a></p>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <h2 class="index text-center">About</h2>
       <p>{% filter markdown -%}
            {% block about_us %}{% endblock %}
            {%- endfilter %}
        </p>
            <p class="text-center"><a href="mailto:{{ resource.meta.about_contact }}" class="btn btn-default btn-lg">
            {{ resource.meta.about_button }}
            </a></p>
    </div>
</div>

{% endblock container %}