{% extends "topbar.j2" %}

{% from "macros.j2" import render_post with context  %}
{% block container %}
{% block page_title %}<h1>{{ resource.meta.title }}</h1>{% endblock %}

{% for res in resource.page.posts %}
{{ render_post(res) }}
{% endfor %}

{% if resource.page.previous %}
<a href="{{ resource.base_url }}{{ resource.page.previous.resource.url -}}" class="btn btn-default">Newer Posts</a>{% endif %}
{% if resource.page.next %}
<a href="{{ resource.base_url }}{{ resource.page.next.resource.url -}}" class="btn btn-default">Older Posts</a>{% endif %}
{% endblock %}
