{# Single-Project template #}

{% extends "jumbotron.j2" %}


{% block container %}

  <div class="container">
  <div class="row">
    <div class="col-sm-12 well well-lg">
      {% filter markdown -%}
          {% block overview %}{% endblock %}
      {%- endfilter %}
    </div><!-- /col -->
  </div><!-- /row -->

  <div class="row">
    <div class="col-sm-12 well well-lg">
      {% block hardware %}{% endblock %}
    </div><!-- /col -->
  </div><!-- /row -->

  <div class="row">
    <div class="col-sm-12 well well-lg" style="background: #FFFFFF;">
      <table class="table table-hover" style="table-layout: fixed;">
          {% block price_table %}{% endblock %}
      </table>
    </div><!-- /col -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-12 well well-lg">
      {% filter markdown -%}
          {% block software %}{% endblock %}
      {%- endfilter %}
    </div><!-- /col -->
  </div><!-- /row -->

  <div class="row">
    <div class="col-sm-12 well well-lg">
      {% filter markdown -%}
          {% block development %}{% endblock %}
      {%- endfilter %}
    </div><!-- /col -->
  </div><!-- /row -->

   <div class="row">
    <div class="col-sm-6">
      {% filter markdown -%}
          {% block community %}{% endblock %}
      {%- endfilter %}
    </div><!-- /col -->
    <div class="col-sm-6">
      {% filter markdown -%}
          {% block license %}{% endblock %}
      {%- endfilter %}
    </div><!-- /col -->
  </div><!-- /row -->

    <div class="row">

  </div><!-- /row -->

  </div><!-- /container -->

{% endblock container %}




