{# Single-Project template #}

{% extends "topbar.j2" %}


{% block container %}
 <div class="row">
  <div class="col-sm-12">

    <div class="jumbotron">
        <div class="container">
            {% filter markdown -%}
                {% block headline %}{% endblock %}
            {%- endfilter %}
        </div><!-- /container -->
    </div><!-- /jumbotron -->
  </div><!-- /row -->
  </div><!-- /col-sm-12 -->

  <div class="row">
    <div class="col-sm-12">
      {% filter markdown -%}
          {% block lead_description %}{% endblock %}
      {%- endfilter %}
    </div><!-- /col -->
  </div><!-- /row -->

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
          {% block price_table %}{% endblock %}
      </table>
    </div><!-- /col -->
  </div><!-- /.row -->

 <div class="row">
    <div class="col-sm-12">
      {% filter markdown -%}
          {% block follow_description %}{% endblock %}
      {%- endfilter %}
    </div><!-- /col -->
  </div><!-- /row -->

{% endblock container %}




