{# Single-Project template #}

{% extends "jumbotron.j2" %}


{% block container %}
  <div class="container">
  <div id="intro" class="row">
    <div class="col-sm-12 well well-lg">
      {% block overview %}{% endblock %}
    </div><!-- /col -->
  </div><!-- /row -->

  <div id="hardware" class="row">
    <div class="col-sm-12 well well-lg">
      {% block hardware %}{% endblock %}
    </div><!-- /col -->
  </div><!-- /row -->

  <div id="hardware-table" class="row">
    <div class="col-sm-12 well well-lg well-table-pupil">
      <table class="table table-hover table-product-pupil">
          {% block price_table %}{% endblock %}
      </table>
    </div><!-- /col -->
  </div><!-- /.row -->

  <div id="software" class="row">
    <div class="col-sm-12 well well-lg">
      {% block software %}{% endblock %}
    </div><!-- /col -->
  </div><!-- /row -->

  <div id="user-guide-community" class="row">
    <div class="col-sm-12 well well-lg" style="background-color:transparent;">
      {% block user_guide %}{% endblock %}
    </div><!-- /col -->
  </div><!-- /row -->

  <div id="contribute" class="row">
    <div class="col-sm-12 well well-lg">
      {% block contribute %}{% endblock %}
    </div><!-- /col -->
  </div><!-- /row -->

   <div id="license" class="row">
    <div class="col-sm-12 well well-lg" style="background-color:transparent;">
      {% block license %}{% endblock %}
    </div><!-- /col -->
  </div><!-- /row -->

 <!-- Modal -->
  <div class="modal fade" id="pupilDesign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Pupil Design and Engineering</h4>
        </div>
        <div class="modal-body">
          {% block pupil_design_modal %}{% endblock %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

 <div class="modal fade" id="pupilProEyeCam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Pupil Pro Eye Camera Specs</h4>
        </div>
        <div class="modal-body">
          {% block pupil_pro_eye_cam_specs %}{% endblock %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- End Modals -->

  </div><!-- /container -->

{% endblock container %}




