{# Adds in the topbar #}

{% extends "base.j2" %}


{% block body %}
<div class="navbar navbar-fixed-top navbar-default" role="navigation">
  {% block topbar %}
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <!-- This makes the dropdown button with 3 lines -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ content_url(home_url) }}">{{ site_title }}</a>
    </div><!-- /.navbar-header -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% from "macros.j2" import render_main_menu with context %}
        {{ render_main_menu() }}
      </ul>
      
      <!-- Pupil Newsletter Signup -->
      <div class="col-sm-4 col-md-4 pull-right">
        <form id="mc-form" class="navbar-form" target="_blank">
          <div class="input-group">
            <input id="mc-email" type="email" value="" name="EMAIL" class="form-control input-xs required email" placeholder="Pupil Labs Newsletter">
              <span class="input-group-btn">
                <button type="submit" value="Subscribe" name="subscribe" class="btn btn-default btn-small"><span class="input-xs">Sign Up</span></button>
              </span>
          </div>
          
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        
          <label for="mc-email" class="label-xs"></label>
        
        </form> 
      </div> <!-- /form column -->
    

    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
  {% endblock topbar %}
</div><!-- /.navbar -->


{{ super() }} {# Use this to include the rest of the body block as it was originally defined #}

{% endblock body %}