// Typography for main elements

// Elements
h1
  font-family $font-family-sans-serif

h2
h3
h4
h5
h6
  font-family $font-family-sans-serif-alt

p
  font-family $font-family-sans-serif-alt


.material-icons
  font-size 28px

.material-icons-lg
  font-size 4em

.Roboto
  h2,h3,h4,h5,h6,p
    font-family Roboto, sans-serif

  &.pupil-black
    h2,h3,h4,h5,h6,p
      color #0D122A

  .sclera-white
    h2,h3,h4,h5,h6,p
      color #ECEFF1