// 
// Global Variables 
// -------------------------------

// Colors
$color-default ?= 		#fff
$color-primary ?= 		#ddd 
$color-secondary ?= 	#ddd

$color-success ?= 		#325E85
$color-info ?= 			#5bc0de
$color-danger ?= 		#d9534f

// Color - gray gradient
$gray-base ?=           #000
$gray-darker ?=         lighten($gray-base, 13.5%) // #222
$gray-dark ?=           lighten($gray-base, 20%)   // #333
$gray ?=                lighten($gray-base, 33.5%) // #555
$gray-light ?=          lighten($gray-base, 46.7%) // #777
$gray-lighter ?=        lighten($gray-base, 93.5%) // #eee

// Scaffolding
$body-bg ?= $color-default
$text-color ?= $gray-dark

$link-hover-color ?= lighten(rgb(17, 160, 140),25%) //#247b75
$link-color ?= rgb(17, 160, 140)
$link-hover-decoration ?= none
$link-text-decoration ?= none



// Typography
// the ?= is a conditional assignment - if the variable is already assigned it doesn't get overwritten
// kind of overkill here but, interesting feature 
$font-family-sans-serif ?= 	'Quicksand', sans-serif
$font-family-sans-serif-alt ?=		'Open Sans', sans-serif
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace ?=  	Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base ?=      	$font-family-sans-serif

$font-size-base ?=			1em
$line-height-base ?=  		1.5 // "unit-less" base line height that can be used as a multiplier by elements


// Icons


// Components
// -- Define most commonly used padding and border radius sizes. We should use EM (relative to a base typography for this)

// Tables


// Buttons


// Forms
  

// Dropdowns


// Z-index master list
$zindex-navbar ?= 			1000

// Media queries, breakpoints 
$break-sm ?=				"all and (max-width: 48em)"
$break-md ?=      		"all and (max-width 60em)"
$break-md-lg ?=             "all and (max-width 65em)"
$break-lg ?=				"all and (min-width: 48em)"

// Grid system


// Navbar
$navbar-bg ?= 				$color-default
$navbar-border-color ?= 	$color-secondary

// Navs


// Pagination