// 
// Global Variables 
// -------------------------------

// Colors
$color-default ?= 		#fff
$color-primary ?= 		#ddd 
$color-secondary ?= 	#ddd

$color-success ?= 		#325E85
$color-info ?= 			#5bc0de
$color-danger ?= 		#d9534f

// Color - gray gradient
$gray-base ?=           #000
$gray-darker ?=         lighten($gray-base, 13.5%) // #222
$gray-dark ?=           lighten($gray-base, 20%)   // #333
$gray ?=                lighten($gray-base, 33.5%) // #555
$gray-light ?=      	lighten($gray-base, 40%)   // #666
$gray-lighter ?=        lighten($gray-base, 46.7%) // #777
$gray-lighterer ?=      lighten($gray-base, 93.5%) // #eee



// Scaffolding
$header-color ?= $gray
$body-bg ?= $color-default
$text-color ?= $gray-light

$link-hover-color ?= lighten(rgb(17, 160, 140),25%) //#247b75
$link-color ?= rgb(17, 160, 140)
$link-hover-decoration ?= none
$link-text-decoration ?= none



// Typography
// the ?= is a conditional assignment - if the variable is already assigned it doesn't get overwritten
// kind of overkill here but, interesting feature 
$font-family-sans-serif ?= 	'Regular', sans-serif
$font-family-sans-serif-alt ?=		'AtlasGroteskRegular', 'Helvetica', sans-serif
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace ?=  	"Space Mono", "Courier New", monospace
$font-family-base ?=      	$font-family-sans-serif

$font-size-base ?=			1em
$line-height-base ?=  		1.2 // "unit-less" base line height that can be used as a multiplier by elements

$heading-font-size ?=		2.8em

$heading-font-weight ?=		400
$subhead-font-weight ?=		400
$subtitle-font-weight ?=	400
$paragraph-font-weight ?=	300



// Media queries, breakpoints 
$break-767 ?=             "all and (max-width 767px)"
$break-320 ?=             "all and (max-width 320px)"
$content-max ?=				1000px

// Grid system


// Navbar
$navbar-bg ?= 				$color-default
$navbar-border-color ?= 	$color-secondary
$navbar-height ?= 64px

