@import url('//fonts.googleapis.com/css?family=Space+Mono')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
// webfont('Regular', 'Regular-Semibold', 'normal')
// webfont('AtlasGroteskRegular', 'AtlasGrotesk-Regular-Web', 'normal')
@font-face
  font-family "Regular"
  font-style normal
  src url("../media/fonts/Regular-Semibold.woff") format("woff")
  
@font-face
  font-family "AtlasGroteskRegular"
  font-style normal
  src url("../media/fonts/AtlasGrotesk-Regular-Web.woff") format("woff")
