- var config_imgs = contents.store.config_images

- var world_cams = _.chain(contents.store.products['world-cameras.json'].metadata).sortBy(function(item){
-  return item['order']; 
- }).value()

- var eye_cams = _.chain(contents.store.products['eye-cameras.json'].metadata).sortBy(function(item){
-  return item['order']; 
- }).value()

section.Grid.Grid--1of2
  
  //- Images
  div.Grid-cell
    div.Feature
      figure.Feature-figure.Feature-figure--config
        //- init eye image with 120fps
        img(id="eye-img" class="Feature-image Feature-image--configEye" src=config_imgs['pupil-config-eye-120hz.png'].url)
        //- init world image with 120fps
        img(id="world-img" class="Feature-image Feature-image--configWorld" src=config_imgs['pupil-config-world-120hz.png'].url)          
  
  //- Controls
  div.Grid-cell
    div.Feature.Feature--padded-1
      //- World options
      h3 World Camera
      ul.Grid-cell
      each world in world_cams
        //- 120fps is active by default
        - var itemClass = (world.id === 'world-120hz' ? 'StoreConfig-world StoreConfig--state-active' : 'StoreConfig-world')
        li.Store-nav-item
          a(role="button" class=itemClass id=world.id href=world.image_url data-id=world.id data-specs=world.specs data-cost=world.cost)= world.label 
      
      //- Eye options
      h3 Eye Camera
      ul.Grid-cell
      each eye in eye_cams
        //- 120fps is active by default
        - var itemClass = (eye.id === 'eye-120hz' ? 'StoreConfig-eye StoreConfig--state-active' : 'StoreConfig-eye')
        li.Store-nav-item
          a(role="button" class=itemClass id=eye.id href=eye.image_url data-id=eye.id data-specs=eye.specs data-cost=eye.cost)= eye.label
      hr
      h3 Sub Total
      p(class="StoreConfig-subTotal")
      a(role="button" class="AddToCart" href="#" data-product="pupil") Add to cart
      br
      a(role="button" id="StoreConfig-clearCart" href="#") Clear Cart


