footer.Site-footer
  section.Footer-nav
    ul.Grid-noWrap.Grid-noWrap--breakSmall.Grid--stretch.Grid--justifySpaceAround
      each url, title in contents.menu['footer-nav.json'].metadata
        li.Grid-cell--auto.Footer-nav-item
          a(href=url class="Footer-nav-link")= title
  section.Footer-social
    ul.Grid-noWrap.Grid--justifyCenter
      each url, title in contents.menu['footer-connect.json'].metadata
        li.Grid-cell--auto.Footer-social-item
          a(href=url target="_blank" class="Footer-social-link")= title
  //- section.Footer-copy
  //-   div.Grid-noWrap.Grid--justifyCenter
  //-     div.Grid-cell--noFlex.Footer-copy-item
  //-       p.Footer-copy-text #{locals.owner} #{new Date().getFullYear()} 
