footer.Site-footer
  div.Footer-container
    div.Grid.Grid--1of4
      each category_data, category_title in contents.menu['footer-nav.json'].metadata
        div.Grid-cell
          h3.Footer-h3 #{ category_title }
          ul
            each val, key in category_data
              - var data = (category_title == "Contact & Address" ? "<p>"+val+"</p>" : "<a href='"+val+"'>"+key+"</a>");
              li
                !{data}

