head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title
    block title
      = locals.name

  meta(name='description' content= locals.description)

  //- favicons here

  //- stylesheets
  link(rel='stylesheet' href=contents.css['main.css'].url)

  //- js modernizr
  script(src=contents.js.vendor['modernizr-2.8.3.min.js'].url)

  //- feed
  //- link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
  //
    |      ___      ___         ___                       
    |     /\  \    /\  \       /\  \                      
    |    /::\  \   \:\  \     /::\  \  ___                
    |   /:/\:\__\   \:\  \   /:/\:\__\/\__\               
    |  /:/ /:/  ___  \:\  \ /:/ /:/  /:/__/   ___     ___ 
    | /:/_/:/  /\  \  \:\__/:/_/:/  /::\  \  /\  \   /\__\
    | \:\/:/  /\:\  \ /:/  \:\/:/  /\/\:\  \_\:\  \ /:/  /
    |  \::/__/  \:\  /:/  / \::/__/  ~~\:\/\__\:\  /:/  / 
    |   \:\  \   \:\/:/  /   \:\  \     \::/  /\:\/:/  /  
    |    \:\__\   \::/  /     \:\__\    /:/  /  \::/  /   
    |     \/__/    \/_____     \/__/    \/__/  ___/__/    
    |                 /\  \       _____       /\__\       
    |                /::\  \     /::\  \     /:/ _/_      
    |               /:/\:\  \   /:/\:\  \   /:/ /\  \     
    |  ___     ___ /:/ /::\  \ /:/ /::\__\ /:/ /::\  \    
    | /\  \   /\__/:/_/:/\:\__/:/_/:/\:|__/:/_/:/\:\__\   
    | \:\  \ /:/  \:\/:/  \/__\:\/:/ /:/  \:\/:/ /:/  /   
    |  \:\  /:/  / \::/__/     \::/_/:/  / \::/ /:/  /    
    |   \:\/:/  /   \:\  \      \:\/:/  /   \/_/:/  /     
    |    \::/  /     \:\__\      \::/  /      /:/  /      
    |     \/__/       \/__/       \/__/       \/__/       