//- google jquery and jquery fallback
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script window.jQuery || document.write('<script src="js/vendor/jquery-2.1.4.min.js"><\/script>')

//- load and minify jquery plugins if any

//- custom site script here
script(src=contents.js['main.js'].url)