//- see http://peric.github.io/GetCountries/
- var countryObj = contents.cart['country_list.json'].metadata
- var countryList = countryObj['countries']
//- contact
div.Cart-orderForm-container
  form(id="order-form" data-parsley-validate data-parsley-focus="first")
    div.Grid
      div.Grid-cell
        h3 Contact Info
    div.Grid.Grid--1of2.Grid--gutters
      div.Grid-cell
        //- label(for="c-email") Contact Email 
        input(class="Form-input Form-input--text" id="c-email" type="email" placeholder="email address" name="c-email" required data-parsley-trigger="focusout" data-parsley-errors-container="#c-email--error")
        p(class="Form-error--text" id="c-email--error")
      div.Grid-cell
        //- label(for="c-name-first") First Name
        input(class="Form-input Form-input--text" id="c-name" type="text" placeholder="name" name="c-name" required data-parsley-trigger="focusout" data-parsley-errors-container="#c-name--error")
        p(class="Form-error--text" id="c-name--error")
    //- billing & shipping is in the same row
    //- |=== Billing ===|=== Shipping ===|
    div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
      
      div.Grid-cell
        div.Grid
          div.Grid-cell.Form-header
            h3 Billing Info
        //- wrapper for billing inputs
        div.Form-billing-container
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="b-name" type="text" placeholder="name" name="b-name" required data-parsley-trigger="focusout" data-parsley-errors-container="#b-name--error")
              p(class="Form-error--text" id="b-name--error")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="b-phone" type="text" placeholder="phone number" name="b-phone" required data-parsley-trigger="focusout" data-parsley-errors-container="#b-phone--error")
              p(class="Form-error--text" id="b-phone--error")
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="b-company" type="text" placeholder="company or institution (optional)" name="b-company")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="b-vatId" type="text" placeholder="VAT ID (optional - EU only)" name="b-vatId")
              p(class="Form-error--text" id="b-vatId--error")
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              textarea(class="Form-input Form-input--text Form-input--textarea" id="b-address" placeholder="billing address" name="b-address" required data-parsley-trigger="focusout" data-parsley-errors-container="#b-address--error")
              p(class="Form-error--text" id="b-address--error")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="b-country" name="b-country" placeholder='country' list="country" required data-parsley-trigger="focusout" data-parsley-errors-container="#b-country--error")
              p(class="Form-error--text" id="b-country--error")
              datalist(id="country")
                each country in countryList
                  option(value=country['countryName'])

      //- shipping
      div.Grid-cell
        div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
          div.Grid-cell
            h3 Shipping Info
          div.Grid-cell
            div.Grid.Grid--1of2
              div.Grid-cell
                input(id="s-toggle-copy" class="Form-input--radio" type="radio")
                label(for="s-toggle-copy" class="Button-radio--sm Button--state-active Form-input--radioLabel" id="Form-input--s-toggle-copy") Use Billing
              div.Grid-cell
                input(id="s-toggle-alt" class="Form-input--radio" type="radio")
                label(for="s-toggle-alt" class="Button-radio--sm Form-input--radioLabel" id="Form-input--s-toggle-alt") Enter Other 
        //- This part is shown/hidden based on the toggle
        div.Form-shipping-container
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="s-name" type="text" placeholder="name" name="s-name" required data-parsley-trigger="focusout" data-parsley-errors-container="#s-name--error")
              p(class="Form-error--text" id="s-name--error")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="s-phone" type="text" placeholder="phone number" name="s-phone" required data-parsley-trigger="focusout" data-parsley-errors-container="#s-phone--error")
              p(class="Form-error--text" id="s-phone--error")
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="s-company" type="text" placeholder="company or institution" name="s-company")
            div.Grid-cell
              //- input(class="Form-input Form-input--text" id="s-vat-id" type="text" placeholder="EU VAT ID")
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              textarea(class="Form-input Form-input--text Form-input--textarea" id="s-address" placeholder="shipping address" name="s-address" required data-parsley-trigger="focusout" data-parsley-errors-container="#s-address--error")
              p(class="Form-error--text" id="s-address--error")
            div.Grid-cell


    //- payment | notes
    div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
      
      //- payment method
      div.Grid-cell
        div.Grid
          div.Grid-cell
            h3 Payment Method
        div.Grid.Grid--1of3
          div.Grid-cell
            input(id="p-paypal" class="Form-input--radio Form-payment-type" type="radio" name="p-type" value="paypal")
            label(for="p-paypal" class="Button-radio--sm Form-input--radioLabel Button--state-active" id="Form-input--p-paypal") Paypal & Credit Card
          div.Grid-cell
            input(id="p-transferwise" class="Form-input--radio Form-payment-type" type="radio" name="p-type" value="transferwise")
            label(for="p-transferwise" class="Button-radio--sm Form-input--radioLabel" id="Form-input--p-transferwise") Transferwise
          div.Grid-cell
            input(id="p-banktransfer" class="Form-input--radio Form-payment-type" type="radio" name="p-type" value="bankTransfer")
            label(for="p-banktransfer" class="Button-radio--sm Form-input--radioLabel" id="Form-input--p-banktransfer") Bank Transfer
      
      //- notes
      div.Grid-cell 
        div.Grid
          div.Grid-cell
            h3 Notes
        div.Grid
          div.Grid-cell
            //- label(for='notes') Additional Notes
            textarea(class="Form-input Form-input--text Form-input--textarea" id='notes' placeholder="If you have any questions or notes, please write them here." name="x-notes")

    input(type="text" class="Form-input--orderType" name="o-type")
    textarea(class="Form-input--cart" name="cart")
    //- submit
    div.Grid
      div.Grid-cell.Grid-cell--full.u-textCenter
        input(type='submit' value="submit" id="form-submit" class="Form-input--submit")
        label(for="form-submit" class="Button Button--cart Button-submit") Submit
    div.Grid
      div.Grid-cell.Grid-cell--full.u-textCenter
        p.Cart-disclaimerTxt by submitting the form, you agree to our #[a(href='/tos') terms and conditions of sale]



