div.Grid.Grid--1of2
  div.Grid-cell
    label(for="c-email") Contact Email 
    input(id="c-email" type="email" placeholder="you@domain.com")
  div.Grid-cell
    input(type="text" placeholder="something")
