//- see http://peric.github.io/GetCountries/
- var countryObj = contents.cart['country_list.json'].metadata
//- contact
div.Cart-orderForm-container
  form(id="order-form" data-parsley-validate data-parsley-focus="first")
    
    div.u-padBottom--1
      div.Grid
        div.Grid-cell
          h4 Contact Info
      div.Grid.Grid--1of2.Grid--gutters
        div.Grid-cell
          //- label(for="c-email") Contact Email 
          input(class="Form-input Form-input--text" id="email_c" type="email" placeholder="email address" name="email_c" required data-parsley-trigger="focusout" data-parsley-errors-container="#c-email--error")
          p(class="Form-error--text" id="c-email--error")
        div.Grid-cell
          //- label(for="c-name-first") First Name
          input(class="Form-input Form-input--text" id="name_c" type="text" placeholder="name" name="name_c" required data-parsley-trigger="focusout" data-parsley-errors-container="#c-name--error")
          p(class="Form-error--text" id="c-name--error")
    //- billing & shipping is in the same row
    //- |=== Billing ===|=== Shipping ===|
    div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
      
      div.Grid-cell
        div.Grid
          div.Grid-cell.Form-header
            h4 Billing Info
        //- wrapper for billing inputs
        div.Form-billing-container
          div.Grid.Grid--gutters.Grid--1of2              
            div.Grid-cell
              input(class="Form-input Form-input--text" id="name_b" type="text" placeholder="name" name="name_b" required data-parsley-trigger="focusout" data-parsley-errors-container="#b-name--error")
              p(class="Form-error--text" id="b-name--error")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="phone_b" type="text" placeholder="phone number" name="phone_b" required data-parsley-trigger="focusout" data-parsley-errors-container="#b-phone--error")
              p(class="Form-error--text" id="b-phone--error")
          div.Grid-cell
            input(class="Form-input Form-input--text" id="country_b" name="country_b" placeholder='country' list="country" required data-parsley-countryvalidator="postalCode_b-division_b" data-parsley-trigger="focusout" data-parsley-errors-container="#b-country--error")
            p(class="Form-error--text" id="b-country--error")
            datalist(id="country")
              each val,key in countryObj
                option(value=key)
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              textarea(class="Form-input Form-input--text Form-input--textarea" id="address_b" placeholder="street address" name="address_b" data-parsley-maxlength="90" required data-parsley-trigger="focusout" data-parsley-errors-container="#b-address--error")
              p(class="Form-error--text" id="b-address--error")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="city_b" type="text" placeholder="city" name="city_b" required data-parsley-maxlength="30" data-parsley-trigger="focusout" data-parsley-errors-container="#b-city--error")
              p(class="Form-error--text" id="b-city--error")                
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="division_b" type="text" placeholder="state/province/division" name="division_b" required data-parsley-maxlength="30" data-parsley-divisionvalidator="0" data-parsley-trigger="focusout" data-parsley-errors-container="#b-division--error")
              p(class="Form-error--text" id="b-division--error")            
            div.Grid-cell
              input(class="Form-input Form-input--text" id="postalCode_b" type="text" placeholder="postal code" name="postalCode_b" data-parsley-postalcodevalidator=0 data-parsley-trigger="focusout" data-parsley-errors-container="#b-postalCode--error")
              p(class="Form-error--text" id="b-postalCode--error")
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="company_b" type="text" placeholder="(optional) company or institution" name="company_b")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="vatid_b" type="text" placeholder="(optional - EU only) VAT ID " name="vatid_b")
              p(class="Form-error--text" id="b-vatId--error")


      //- shipping
      div.Grid-cell
        div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
          div.Grid-cell
            h4 Shipping Info
          div.Grid-cell
            div.Grid.Grid--1of2
              div.Grid-cell
                input(id="s-toggle-copy" class="Form-input--radio" type="radio")
                label(for="s-toggle-copy" class="Button-radio--sm Button--state-active Form-input--radioLabel" id="Form-input--s-toggle-copy") Use Billing
              div.Grid-cell
                input(id="s-toggle-alt" class="Form-input--radio" type="radio")
                label(for="s-toggle-alt" class="Button-radio--sm Form-input--radioLabel" id="Form-input--s-toggle-alt") Enter Other 
        //- This part is shown/hidden based on the toggle
        div.Form-shipping-container
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="name_s" type="text" placeholder="name" name="name_s0" required data-parsley-trigger="focusout" data-parsley-errors-container="#s-name--error")
              p(class="Form-error--text" id="s-name--error")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="phone_s" type="text" placeholder="phone number" name="phone_s" required data-parsley-trigger="focusout" data-parsley-errors-container="#s-phone--error")
              p(class="Form-error--text" id="s-phone--error")
          div.Grid-cell
            input(class="Form-input Form-input--text" id="country_s" name="country_s" placeholder='country' list="country" required data-parsley-countryvalidator="postalCode_s-division_s" data-parsley-trigger="focusout" data-parsley-errors-container="#s-country--error")
            p(class="Form-error--text" id="s-country--error")
            datalist(id="country")
              each val,key in countryObj
                option(value=key)
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              textarea(class="Form-input Form-input--text Form-input--textarea" id="address_s0" placeholder="street address" name="address_s0" required data-parsley-maxlength="90" data-parsley-trigger="focusout" data-parsley-errors-container="#s-address--error")
              p(class="Form-error--text" id="s-address--error")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="city_s" type="text" placeholder="city" name="city_s" required data-parsley-maxlength="30" data-parsley-trigger="focusout" data-parsley-errors-container="#s-city--error")
              p(class="Form-error--text" id="s-city--error")                
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="division_s" type="text" placeholder="state/province/division" name="division_s" required data-parsley-maxlength="30" data-parsley-divisionvalidator="0" data-parsley-trigger="focusout" data-parsley-errors-container="#s-division--error")
              p(class="Form-error--text" id="s-division--error")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="postalCode_s" type="text" placeholder="postal code" name="postalCode_s" data-parsley-postalcodevalidator=0 data-parsley-trigger="focusout" data-parsley-errors-container="#s-postalCode--error")
              p(class="Form-error--text" id="s-postalCode--error")
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="company_s" type="text" placeholder="(optional) company or institution" name="company_s")
            div.Grid-cell




    //- payment | notes
    div.u-padTop--1
      div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
        
        //- payment method
        div.Grid-cell
          div.Grid
            div.Grid-cell
              h4 Payment Method
          div.Grid.Grid--1of3
            div.Grid-cell
              input(id="p-credit" class="Form-input--radio Form-payment-type" type="radio" name="p_type" value="paypal")
              label(for="p-credit" class="Button-radio--sm Form-input--radioLabel Button--state-active" id="Form-input--p-credit") Credit Card
            div.Grid-cell
              input(id="p-banktransfer" class="Form-input--radio Form-payment-type" type="radio" name="p_type" value="banktransfer")
              label(for="p-banktransfer" class="Button-radio--sm Form-input--radioLabel" id="Form-input--p-banktransfer") Bank Transfer
            div.Grid-cell
              input(id="p-purchaseorder" class="Form-input--radio Form-payment-type" type="radio" name="p_type" value="purchaseorder")
              label(for="p-purchaseorder" class="Button-radio--sm Form-input--radioLabel" id="Form-input--p-purchaseorder") Purchase Order  
        
        //- notes
        div.Grid-cell 
          div.Grid
            div.Grid-cell
              h4 Notes
          div.Grid
            div.Grid-cell
              //- label(for='notes') Additional Notes
              textarea(class="Form-input Form-input--text Form-input--textarea" id='notes' placeholder="If you have any questions or notes, please write them here." name="x_notes")

    input(type="text" class="Form-input--hidden" id="o_type" name="o_type")
    input(type="text" class="Form-input--hidden" id="countryIso_b" name="countryIso_b")
    input(type="text" class="Form-input--hidden" id="countryIso_s" name="countryIso_s")
    textarea(class="Form-input--hidden" id="cartObject" name="cart")
    //- submit
    div.Grid
      div.Grid-cell.Grid-cell--full.u-textCenter.u-padTop--3
        input(type='submit' value="submit" id="form-submit" class="Form-input--submit")
        label(for="form-submit" class="Button Button--cart Button-submit") Submit
    div.Grid
      div.Grid-cell.Grid-cell--full.u-textCenter
        p.Cart-disclaimerTxt by submitting the form, you agree to our #[a(href='/tos') terms and conditions of sale]



