//- see http://peric.github.io/GetCountries/
- var countryObj = contents.cart['country_list.json'].metadata
- var countryList = countryObj['countries']
//- contact
div.Cart-orderForm-container
  form
    div.Grid
      div.Grid-cell
        h3 Contact Info
    div.Grid.Grid--1of2.Grid--gutters
      div.Grid-cell
        //- label(for="c-email") Contact Email 
        input(class="Form-input Form-input--text" id="c-email" type="email" placeholder="email address")
      div.Grid-cell
        //- label(for="c-name-first") First Name
        input(class="Form-input Form-input--text" id="c-name" type="text" placeholder="name")

    //- billing & shipping is in the same row
    //- |=== Billing ===|=== Shipping ===|
    div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
      
      div.Grid-cell
        div.Grid
          div.Grid-cell.Form-header
            h3 Billing Info
        div.Grid.Grid--gutters.Grid--1of2
          div.Grid-cell
            //- label(for="b-name-first") First Name 
            input(class="Form-input Form-input--text" id="b-name" type="text" placeholder="name")
          div.Grid-cell
            //- label(for="b-phone") Phone
            input(class="Form-input Form-input--text" id="b-phone" type="text" placeholder="phone number")
        div.Grid.Grid--gutters.Grid--1of2
          div.Grid-cell
            //- label(for="b-company") Company
            input(class="Form-input Form-input--text" id="b-company" type="text" placeholder="company or institution")
          div.Grid-cell
            //- label(for="b-vat-id") EU VAT ID
            input(class="Form-input Form-input--text" id="b-vat-id" type="text" placeholder="EU VAT ID")
        div.Grid.Grid--gutters.Grid--1of2
          div.Grid-cell
            //- label(for="b-address") Address
            textarea(class="Form-input Form-input--text Form-input--textarea" id="b-address" placeholder="billing address")
          div.Grid-cell
            //- label(for="b-country") Country
            input(class="Form-input Form-input--text" id="b-country" name="country-name" placeholder='country' list="country")
            datalist(id="country")
              each country in countryList
                option(value=country['countryName'])

      //- shipping
      div.Grid-cell
        div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
          div.Grid-cell
            h3 Shipping Info
          div.Grid-cell
            div.Grid.Grid--1of2
              div.Grid-cell
                input(id="s-toggle-copy" class="Form-input--radio" type="radio")
                label(for="s-toggle-copy" class="Button-radio--sm Button--state-active Form-input--radioLabel" id="Form-input--s-toggle-copy") Use Billing
              div.Grid-cell
                input(id="s-toggle-alt" class="Form-input--radio" type="radio")
                label(for="s-toggle-alt" class="Button-radio--sm Form-input--radioLabel" id="Form-input--s-toggle-alt") Enter Other 
        //- This part is shown/hidden based on the toggle
        div.Form-shipping-container
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="s-name" type="text" placeholder="name")
            div.Grid-cell
              input(class="Form-input Form-input--text" id="s-phone" type="text" placeholder="phone number")
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              input(class="Form-input Form-input--text" id="s-company" type="text" placeholder="company or institution")
            div.Grid-cell
              //- input(class="Form-input Form-input--text" id="s-vat-id" type="text" placeholder="EU VAT ID")
          div.Grid.Grid--gutters.Grid--1of2
            div.Grid-cell
              textarea(class="Form-input Form-input--text Form-input--textarea" id="s-address" placeholder="billing address")
            div.Grid-cell
              //- input(class="Form-input Form-input--text" id="s-country" name="country-name" placeholder='country' list="country")
              //- datalist(id="country")
              //-   each country in countryList
              //-     option(value=country['countryName'])

    //- payment | notes
    div.Grid.Grid--1of2.Grid--gutters.Grid--justifyCenter
      
      //- payment method
      div.Grid-cell
        div.Grid
          div.Grid-cell
            h3 Payment Method
        div.Grid.Grid--1of3
          div.Grid-cell
            input(id="p-paypal" class="Form-input--radio" type="radio")
            label(for="p-paypal" class="Button-radio--sm Button--state-active Form-input--radioLabel" id="Form-input--p-paypal") Paypal & Credit Card
          div.Grid-cell
            input(id="p-transferwise" class="Form-input--radio" type="radio")
            label(for="p-transferwise" class="Button-radio--sm Form-input--radioLabel" id="Form-input--p-transferwise") Transferwise
          div.Grid-cell
            input(id="p-banktransfer" class="Form-input--radio" type="radio")
            label(for="p-banktransfer" class="Button-radio--sm Form-input--radioLabel" id="Form-input--p-banktransfer") Bank Transfer
      
      //- notes
      div.Grid-cell 
        div.Grid
          div.Grid-cell
            h3 Notes
        div.Grid
          div.Grid-cell
            //- label(for='notes') Additional Notes
            textarea(class="Form-input Form-input--text Form-input--textarea" id='notes' placeholder="If you have any questions or notes, please write them here.")


    //- submit
    div.Grid
      div.Grid-cell.Grid-cell--full.u-textCenter
        button(type='submit' id="form-submit" class="Button Button--cart Button-submit") Submit




