//- see http://peric.github.io/GetCountries/
- var countryObj = contents.cart['country_list.json'].metadata
- var countryList = countryObj['countries']
//- contact
div.Cart-orderForm-container
  form
    div.Grid
      div.Grid-cell
        h3 Contact Info
    div.Grid.Grid--1of2.Grid--gutters
      div.Grid-cell
        //- label(for="c-email") Contact Email 
        input(class="Form-input Form-input--text" id="c-email" type="email" placeholder="email address")
      div.Grid-cell
        //- label(for="c-name-first") First Name
        input(class="Form-input Form-input--text" id="c-name" type="text" placeholder="name")

    //- billing
    div.Grid.Grid--1of2.Grid--gutters
      div.Grid-cell
        div.Grid
          div.Grid-cell
            h3 Billing Info
        div.Grid.Grid--gutters
          div.Grid-cell
            //- label(for="b-name-first") First Name 
            input(class="Form-input Form-input--text" id="b-name" type="text" placeholder="name")
          div.Grid-cell
            //- label(for="b-phone") Phone
            input(class="Form-input Form-input--text" id="b-phone" type="text" placeholder="phone number")
        div.Grid.Grid--gutters
          div.Grid-cell
            //- label(for="b-company") Company
            input(class="Form-input Form-input--text" id="b-company" type="text" placeholder="company or institution")
          div.Grid-cell
            //- label(for="b-vat-id") EU VAT ID
            input(class="Form-input Form-input--text" id="b-vat-id" type="text" placeholder="EU VAT ID")
        div.Grid.Grid--gutters
          div.Grid-cell
            //- label(for="b-address") Address
            textarea(class="Form-input Form-input--text Form-input--textarea" id="b-address" placeholder="billing address")
          div.Grid-cell
            //- label(for="b-country") Country
            input(class="Form-input Form-input--text" id="b-country" name="country-name" placeholder='country' list="country")
            datalist(id="country")
              each country in countryList
                option(value=country['countryName'])

      //- shipping
      div.Grid-cell
        div.Grid
          div.Grid-cell
            h3 Shipping Info
        div.Grid.Grid--1of2.Grid--gutters
          div.Grid-cell
            a(href='#') Use Billing
          div.Grid-cell
            a(href='#') Use Other Address
        //- the rest is populated by jquery

    //- payment method
    div.Grid
      div.Grid-cell
        h3 Payment Method
    div.Grid.Grid--1of3.Grid--gutters
      div.Grid-cell
        a(href='#') PayPal & Credit Card
      div.Grid-cell
        a(href='#') Transferwise
      div.Grid-cell
        a(href='#') Bank Transfer

    //- notes & submit
    div.Grid
      div.Grid-cell
        h3 Notes
    div.Grid
      div.Grid-cell
        //- label(for='notes') Additional Notes
        textarea(class="Form-input Form-input--text Form-input--textarea" id='notes' placeholder="Any additional notes and questions")
    div.Grid
      div.Grid-cell.Grid-cell--full.u-textCenter
        button(type='submit' id="form-submit" class="Button Button--cart Button-submit") Submit




