- var td = titleData;
div.Banner-container.Banner--gradientBkg
  div.Banner-item.u-textCenter
    each v,k in td
      - var titleItem = (k == 'title' ? "<h1 class='Banner-title'>"+v+"</h1>" : "<h2 class='Banner-subtitle'>"+v+"</h2>")
        | !{ titleItem }


