- var d = twoColData
div.Grid
  each v,k in d
    div.Banner-item.u-textCenter
      div.Grid-cell.Grid-cell--1of2.Grid-cell--center
        div.Feature.Feature--padded-1
          h1.Feature-title--lg.u-textCenter= k.title 
          h2.Feature-subtitle--lg!= k.html 
