<footer>
  <section class="Footer-flex-container-social">
    <div class="Footer-flex-item-social-full-width">
      <h3 class="Footer-social-connect-h3">Connect</h3>
    </div>
    {% for title, link in CONNECTITEMS -%}
    <div class="Footer-flex-item-social-one-third-width">
      <a href="{{ link }}" target="_blank" class="Footer-nav-link">{{ title }}</a>
    </div>  
    {%- endfor %}
  </section>
  <section class="Footer-flex-container-nav">
    <div class="Footer-flex-item-sitemap">
      <h3 class="Footer-nav-headings">Explore</h3>
      <ul class="Footer-nav-list">
      {% for title, link in SITEMAP -%}
      <li>
        <a href="{{ SITEURL }}/{{ link }}" class="Footer-nav-link">{{ title }}</a>
      </li>
      {%- endfor %}
      </ul>
    </div>
  </section>
</footer>
<!-- 
    <div class="Footer-flex-item-nav-half-width">
      <h3 class="Footer-nav-headings">Recent Blog Posts</h3>
      <ul class="Footer-post-list">
      {% for a in articles[:5] -%}
        <li>
          <a href="{{ SITEURL }}/{{ a.slug }}" class="Footer-post-link">{{ a.title }}</a>
        </li>
      {%- endfor %}
      </ul>
    </div> -->