<footer class="Footer-gradient">
  <section class="Footer-nav">
    <ul class="Footer-flex-nav-container">
    {% for title, link in FOOTERMENU -%}
    <li class="Footer-flex-nav-item">
      <a href="{{ SITEURL }}/{{ link }}" class="Footer-nav-link">{{ title }}</a>
    </li>
    {%- endfor %}
    </ul>
  </section>
  <section class="Footer-flex-social-container">
    {% for title, link in CONNECTITEMS -%}
    <div class="Footer-flex-social-item">
      <a href="{{ link }}" target="_blank" class="Footer-flex-social-link">{{ title }}</a>
    </div>  
    {%- endfor %}
  </section>
  <section class="Footer-copy">
    <div class="Footer-flex-copy-container">
      <div class="Footer-flex-copy-item">Pupil Labs {{ COPYYEAR }}</div>
    </div>
  </section>
</footer>
<!-- 
    <div class="Footer-flex-item-nav-half-width">
      <h3 class="Footer-nav-headings">Recent Blog Posts</h3>
      <ul class="Footer-post-list">
      {% for a in articles[:5] -%}
        <li>
          <a href="{{ SITEURL }}/{{ a.slug }}" class="Footer-post-link">{{ a.title }}</a>
        </li>
      {%- endfor %}
      </ul>
    </div> -->