<!-- load jquery from Google or fallback to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.4.min.js"><\/script>')</script>

<!-- load jquery plugins -->
{% assets filters="coffeescript,uglifyjs", output="js/plugins.min.js", "js/plugins.coffee" %}
    <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}

<!-- load and minify site javascript -->
{% assets filters="coffeescript,uglifyjs", output="js/main.min.js", "js/main.coffee" %}
    <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
