svg.svg-container(preserveAspectRatio="xMidYMid" viewBox="0 0 227.6 267.3" class="Feature-image")
  path(class="bg" d="M175.9,201.7v21.7a5.7,5.7,0,0,1-9.8,4.1l-11.8-11.8a8.6,8.6,0,0,0-8.9-2.1A109.8,109.8,0,1,1,179.1,195,7.7,7.7,0,0,0,175.9,201.7Z" fill="#e5e5e5")
  g(id="loop")
    path(class="loop-l" d="M3.8,109.8a44,44,0,0,1,75-31l24.1,24.1,6.9,6.9,29.1,29.1,2,2a43.9,43.9,0,1,0,0-62.1l-23.1,23.1-8,8L80.7,138.9l-2,2a44,44,0,0,1-75-31.1Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round")
    path(class="loop-r" d="M215.9,109.4a44,44,0,0,0-75-30.6l-23.1,23.1-8,8L80.7,138.9l-2,2a43.9,43.9,0,1,1,0-62.1l24.1,24.1,6.9,6.9,29.1,29.1,2,2a43.9,43.9,0,0,0,75-31.5Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round")
    circle(cx="48" cy="153.9" fill="#97d2ad" r="5")
    circle(cx="171.7" cy="66" fill="#97d2ad" r="5")