svg( xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMidmeet" width="100%" viewbox="0 0 314 314")
  g( fill="none" fill-rule="evenodd")
    path( fill="#E5E5E5" d="M223.7 244.5v21.7c0 5.1-6.2 7.7-9.8 4.1l-11.8-11.8c-2.3-2.3-5.8-3.1-8.9-2.1-53.8 18.5-112.8-7.2-136-59.2-23.2-52-2.7-113 47-140.7C154 29 216.7 43.9 248.5 91.1c31.9 47.1 22.5 110.8-21.7 146.7-2.2 1.8-3.1 3.7-3.1 6.7z")
    g( transform="translate(51 104)")
      path( stroke="#010101" d="M168.2 4.7c17-.1 33.8 9.5 41.1 27.1 2.2 5.4 3.3 10.9 3.4 16.3.3 23.4-18.5 44.4-44 44.4-11.6 0-22.8-4.6-31.1-12.9l-2-2-29.1-29.1-6.9-6.9-24.1-24.1C53.4-4.6 15.8 2.8 3.9 31.7 1.7 37.1.6 42.6.5 48 .2 71.4 19 92.4 44.5 92.4c11.6 0 22.8-4.6 31.1-12.9l2-2 29.1-29.1 8-8 23.1-23.1c8.5-8.4 19.5-12.6 30.4-12.6z")
      circle( cx="168.8" cy="4.7" r="4" fill="#97D2AD" stroke="#97D2AD")
      circle( cx="43.8" cy="92.6" r="4" fill="#97D2AD" stroke="#97D2AD")
