{% extends "topbar.j2" %}

{% block jumbotron %}
<div class="jumbotron" style="margin-top: -50px;">
    <div class="container">
		<h1>
			{{ resource.meta.title }}
		</h1>
		<p><small>
			<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
		    Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
			</time>
		</small>
		</p>
    </div><!-- /container -->
</div><!-- /jumbotron -->
{% endblock jumbotron %}
{% block container %}



{% if resource.meta.tags %}
<div class="pull-right">
{% for tag in resource.meta.tags %}
    <span class="badge"><a href="{{ content_url('blog/tags/'~tag~'.html') }}">{{ tag }}</a></span>
{% endfor %}
</div>
{% endif %}
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
</article>


<div class="btn-group">
<button type="button" class="btn btn-default">
<a href="{{ content_url('blog/index.html') }}">
Back to list</a>
</button>

{% if resource.prev_by_time %}
<button type="button" class="btn btn-default">
<a href="{{ content_url(resource.prev_by_time.url) }}" title="{{ resource.prev_by_time.meta.title }}">
Previous
</a>
</button>
{% endif %}

{% if resource.next_by_time %}
<button type="button" class="btn btn-default">
<a href="{{ content_url(resource.next_by_time.url) }}" title="{{ resource.next_by_time.meta.title }}">
Next
</a>
</button>
{% endif %}
</div>

{%- endblock %}