{# Jumbotron template #}

{% extends "topbar.j2" %}


{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        {% filter markdown -%}
            {% block headline %}{% endblock %}
        {%- endfilter %}
    </div><!-- /container -->
</div><!-- /jumbotron -->
{% endblock jumbotron %}
{% block container %}

<div class="row">
    <div class="col-md-4">
        {% filter markdown -%}
            {% block column1 %}{% endblock %}
        {%- endfilter %}
    </div>

    <div class="col-md-4">
        {% filter markdown -%}
            {% block column2 %}{% endblock %}
        {%- endfilter %}
    </div>

    <div class="col-md-4">
        {% filter markdown -%}
            {% block column3 %}{% endblock %}
        {%- endfilter %}
    </div>

</div><!-- /.row -->

{% endblock container %}