---
title: Pupil
subtitle: Pupil Labs Project Page
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development. 
download_mac_buton: Download for MacOS
download_linux_button: Download for Linux
---

{% extends "single-project.j2" %}

{% block headline %}
# Pupil

Open source mobile eye tracking platform.

Pupil is in active, community driven development.
{% endblock headline %}

{% block overview %}
## Overview
**Pupil** is a head mounted mobile eye tracking platform.  With **Pupil**, you will be able to record gaze positions. This means that you can view what someone else is looking at in real time, record gaze positions, and visualize results.  

Pupil software is [Open Source](http://github.com/pupil-labs/pupil "Pupil Github").  You can customize the software to your needs, build your own plugins, and contribute back to the community!
{% endblock %}

{% block hardware %}
## Hardware
Pupil headsets are 3D printed frames that you wear like a pair of glasses. A lot of design and engineering energy has gone into getting the ergonomics of the headset just right.

<a class="btn btn-default btn-md btn-default-pupil" data-toggle="modal" data-toggle="modal" data-target="#pupilDesign">Learn More - Pupil Hardware Design</a> 

Pupil headsets hold two cameras. One camera tracks and records your eye movements, and another camera records your field of view.  Pupil headsets are lightweight and compatible with most modern computers with 2 USB ports.  

Pupil headsets currently come in two flavors - **Pupil** and **Pupil Pro**.
{% endblock %}

{% block price_table %}
    <thead>
    <tr>
        <th class="width-20"></th>
        <th class="width-40"><h3>Pupil</h3></th>
        <th class="width-40"><h3>Pupil Pro</h3></th>
    </tr>
    </thead>

    <tbody>
    <tr>
    <td></td>
    <td><img src="../media/img/dev_front_crop.jpeg" class="img-responsive img-rounded" alt="Pupil Front"></td>
    <td><img src="../media/img/pro-front-r20-crop.png" class="img-responsive img-rounded" alt="Pupil Pro Front"></td>
    </tr>
    <tr>
        <td class="td-overflow">Description</td>
        <td>This is the &quot;bare&quot; version, with uncovered cameras and 720p World camera.
        <br>It is intended for individuals that want to experiment and use Pupil for their projects.
        </td>
        <td>Pupil Pro is the next step up from Pupil. It has upgraded Eye and World Cameras, improved cable management, and fully enclosed cameras.</td>
    </tr>
    <tr>
    <tr>
        <td class="td-overflow"><strong>Specifications</strong></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="td-overflow">Eye Camera</td>
        <td>Maximum Resolution - 640x360 @ 30fps</br>Infrared camera with IR Filter</td>
        <td>Maximum Resolution - 640x480 @ 30fps</br>Infrared camera with IR Filter</br>Adjustable Camera Arm.</br><a class="btn btn-default btn-md btn-default-pupil" data-toggle="modal" data-toggle="modal" data-target="#pupilProEyeCam">Detailed Specs</a></td>
    </tr>
    <tr>
        <td class="td-overflow">World Camera</td>
        <td>Maximum Resolution - 1280x720 @ 30fps</br>View Angle 68 degrees</td>
        <td>Maximum Resolution - 1920x1080 @ 30 fps</br>Carl-Zeiss Optics</br>View Angle 90 degrees</td>
    </tr>
    <tr>
        <td class="td-overflow">Design</td>
        <td>Exposed camera boards</td>
        <td>Fully enclosed camera boards</td>
    </tr>
    <tr>
        <td class="td-overflow">Connection</td>
        <td>USB</td>
        <td>USB with improved cable management</td>
    </tr>
    <tr>
        <td class="td-overflow">Material</td>
        <td>PLA</td>
        <td>PLA</td>
    </tr>  
    <tr>
        <td class="td-overflow">Weight</td>
        <td>290 grams</td>
        <td>350 grams</td>
    </tr>
    <tr>
        <td><strong>Price</strong></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td class="td-overflow">Academic / Noncommercial</td>
        <td>
        <strong>380 &euro; + shipping</strong>
        </td>

        <td>
        <strong>800 &euro; + shipping</strong>
        </td>
    </tr>
    <tr>
        <td class="td-overflow">Commercial Enterprise</td>
        <td><a href="mailto:sales@pupil-labs.com">Contact us for a quotation</a></td>
        <td><a href="mailto:sales@pupil-labs.com">Contact us for a quotation</a></td>
    </tr>
    </tbody>

{% endblock price_table %}

{% block software %}
## Software
**Pupil** is a project in active, community driven development and distributed under an OpenSource license. The capture software runs on Linux, MacOS, and Windows. 

We are actively developing for Linux and MacOS.  Windows installations are supported by the Pupil community.  You can download the app, plug in your Pupil Headset, and get started!  
<div class="row row-buttons-pupil">
<a type="button" class="btn btn-default btn-lg col-md-4 col-md-offset-1 btn-default-pupil" href="https://github.com/pupil-labs/pupil/releases/tag/v0.3.7">
    Download Pupil for Linux
</a>
<a type="button" class="btn btn-default btn-lg col-md-4 col-md-offset-2 btn-default-pupil" href="https://github.com/pupil-labs/pupil/releases/tag/v0.3.7">
    Download Pupil for MacOS
</a>
</div>
{% endblock %}

{% block development %}   
## Open Source Development 
Much work went into making the software modular and accessible.  You can develop and extend to suit your needs.  We want **Pupil** software to serve as an experiment and development platform for **Pupil** developers. 

Developers, &uuml;ber-nerds, and code explorers -- you can fork and clone the repository and install all dependencies on your machine and run **Pupil** directly from the Python source.  Follow build instructions for your platform of choice.
<div class="row row-buttons-pupil">
    <a type="button" class="btn btn-default btn-lg col-md-4 col-md-offset-1 btn-default-pupil" href="https://github.com/pupil-labs/pupil/">
    Go to code on Github
    </a>
    <div class="btn-group btn-group-pupil col-md-4 col-md-offset-2">
        <button type="button" class="btn btn-default btn-lg btn-default-pupil">Go to Build Instructions</button>
        <button type="button" class="btn btn-default btn-lg btn-default-pupil dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-pupil" role="menu">
            <li><a href="https://github.com/pupil-labs/pupil/wiki/Dependencies-Installation-Linux">Linux (Ubuntu)</a></li>
            <li><a href="https://github.com/pupil-labs/pupil/wiki/Dependencies-Installation-MacOS">MacOS</a></li>
            <li><a href="https://github.com/pupil-labs/pupil/wiki/Dependencies-Installation-Windows">Windows</a></li>
        </ul>
    </div>
<!--     <a type="button" class="btn btn-default btn-lg col-md-4 col-md-offset-2 btn-default-pupil" href="https://code.google.com/p/pupil/wiki/Installing_Dependecies">
    Go to build instructions
    </a>     -->
</div>
{% endblock %} 

{% block community %}
## Community, Documentation, & Support
Check out documentation on the [wiki](http://github.com/pupil-labs/pupil/wiki)

We provide free support for Pupil users through the [Pupil Google Group](http://groups.google.com/group/pupil-discuss), on the [wiki](http://github.com/pupil-labs/pupil/wiki), and video tutorials embedded on the wiki.  

If you require a higher level of support via email, video-call (via Google Hangouts preferred), or on-site setup and training, contact us to get a quote at <sales@pupil-labs.com>

Still have questions or want to chat?  Contact us at <info@pupil-labs.com>.   
{% endblock %}

{% block license %}
## License
We want Pupil to proliferate! We want you to use Pupil to empower and inspire whatever you do. Be it academic research, teaching, art, assistive technologies or professional work.

For noncommercial use, the software is free and Open Source, and the hardware is very accessible and modifiable. We consider you a member of the Pupil community rather than a customer of the Pupil product or Pupil Labs. We encourage the modification of software and hardware in accordance to the [open source license](http://creativecommons.org/licenses/by-nc-sa/3.0/).

If you plan to use Pupil in a commercial context, you will receive a commercial use license with your purchase. We offer to work closely with you to integrate Pupil into your workflow.
{% endblock %}


<!-- Modal Popup Blocks -->
{% block pupil_design_modal %}
    <h4>
      <strong>Pupil</strong> is 3D printed pre-tensioned.
    </h4>  
    <h4>
      When you put on the Pupil headset, it will transform into the shape we designed.
    </h4>
    <br>
    <p>  
    <iframe  style="width: 100%;" src="//player.vimeo.com/video/54518329?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;loop=1" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </p>
    <br>
    <h4>
      <strong>Finite Element Analysis</strong>
    </h4>
    <p>
      The video is a visualization of the Fininte Element Analysis simulation that we use to compute the exact geometry of the headset.  We print the deformed geometry.  When you put the headset on your head, cameras come into alignment and the headset fits securely.   
    </p>
    <h4>
      <strong>Features</strong>
    </h4>
    <p>
      FEA simulations allow us to design a headset that performs robustly and embodies all qualities we find important in a device that you will be wearing.
      <ul>
      <li>Thin</li>
      <li>Lightweight</li>
      <li>Stable - doesn't shift around while wearing</li>
      <li>Comfortable to Wear</li>
      <li>Unobtrusive</li>
      </ul>
    </p>
{% endblock %}

{% block pupil_pro_eye_cam_specs %}
    <h4>
    The new <strong>Pupil Pro</strong> Eye Camera is small and adjustable. 
    </h4>
    <br>
    <img src="../media/img/pupil-pro-eye-cam-adjustable-arm.png" class="img-responsive img-rounded" alt="Pupil Pro Eye Cam Mount">
    <br>
    <h4>
      <strong>Smaller Camera Footprint</strong>
    </h4>
    <h5>
      The Eye Camera is less visible within the field of view.
    </h5>
    <h4>
      <strong>Adjustable Mount</strong> 
    </h4>
    <p>
      The Eye Camera mount can orbit around a ball joint and be extended in order to better track all eyes and all face geometries.
    </p>

{% endblock %}

<!-- End Popup Blocks -->






