---
title: Success
subtitle: Success! We received your request!  
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development. 
---

{% extends "jumbotron.j2" %}

{% block headline %}
# Success
Thanks for placing a request - You will receive an email confirmation shortly.

While we're working on your request, why not browse a bit.  
{% endblock headline %}

{% block column1 %}
## Pupil Labs Blog

<div class="text-center">
<img src="{{ media_url('img/Pupil_Logo_wiki-02.png') }}">
</div>
Take a look at our blog to see what we've been working on recently. Also, sign up for our newsletter in the bar at the top of the page - for summaries of updates a few times per year.  

Follow progress and updates on the Pupil Labs blog.

<p class="text-center"><a href="/blog" class="btn btn-default btn-lg btn-default-pupil" target="_blank">Pupil Labs Blog</a></p>
{% endblock column1 %}

{% block column2 %}
## Pupil Technical Paper

<div class="text-center">
<img src="{{ media_url('img/Pupil_Logo_wiki-04.png') }}">
</div>
Are you new to Pupil? Start with some reading. We suggest having a look at the technical paper draft on arxiv.org. The paper provides an overview of Pupil hardware and software and metrics on performance. 

<p class="text-center"><a href="http://arxiv.org/abs/1405.0006" class="btn btn-default btn-lg btn-default-pupil" target="_blank">Pupil Paper</a></p>
{% endblock column2 %}

{% block column3 %}
## Pupil Documentation

<div class="text-center">
<img src="{{ media_url('img/Pupil_Logo_wiki-03.png') }}">
</div>
Are you a developer, or curious to read some code? Go straight to the wiki to read more. Download the latest release or fork the repo and get started working with Pupil.

<p class="text-center"><a href="http://github.com/pupil-labs/pupil/wiki" class="btn btn-default btn-lg btn-default-pupil" target="_blank">Pupil Wiki</a></p>
{% endblock column3 %}