---
title: Pupil Order
subtitle: Get Pupil 
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development. 

formUrl: 'https://docs.google.com/a/pupil-labs.com/forms/d/1M9mAvQgc0iVFrXx4jootu-nyQVOEQr-lwV-WA1YMLrY/formResponse'
formRedirect: '/pupil/order/success.html'


a: Order Info 

a1: Pupil Pro
a2: Pupil Dev
a3: Order
a4: Quotation

a5: Order Type
a5name: entry.1839398256
a5id: entry_1839398256

a6: Order Sum
a6name: entry.440208153
a6id: entry_440208153


b: Contact Info

b1: First Name
b1label: What's your first name?
b1name: entry.2118017599  
b1id: entry_2118017599  

b2: Last Name
b2label: What's your last name?
b2name: entry.1420197993
b2id: entry_1420197993

b3: Email
b3label: user@domain.com
b3name: entry.940596204
b3id: entry_940596204


c: Billing Info

c1: First Name
c1label: What's your first name?
c1name: entry.1244849286
c1id: entry_1244849286

c2: Last Name
c2label: What's your last name?
c2name: entry.601760669
c2id: entry_601760669

c4: Company
c4label: Company or University or Affiliation
c4name: entry.957201568
c4id: entry_957201568

c5: VAT ID
c5label: EU VAT ID Number
c5name: entry.1482821857
c5id: entry_1482821857

c6: Phone
c6label: Required for shipping purposes
c6name: entry.1660789631
c6id: entry_1660789631

c7: Address
c7label: This address will appear on the invoice or quotation.
c7name: entry.1817651636
c7id: entry_1817651636

c8: Country
c8name: entry.1961904792
c8id: entry_1961904792


d: Shipping Info
dsub: Where should we send Pupil?
da: Use Billing Info
db: Enter Alternate Info 

d1: First Name
d1label: What's your first name?
d1name: entry.655129585
d1id: entry_655129585

d2: Last Name
d2label: What's your last name?
d2name: entry.1138308189
d2id: entry_1138308189

d4: Company
d4label: Company or University or Affiliation
d4name: entry.1385636873
d4id: entry_1385636873

d7: Address
d7label: This address will appear on the invoice or quotation.
d7name: entry.2088845882
d7id: entry_2088845882

e: Preferences
esub: What is your preferred payment method?
e1: Pay Pal
e2: Bank Transfer

e3: Payment Method
e3name: entry.1068543995
e3id: entry_1068543995

f: Notes
fsub: Have questions or additional notes?
flabel: Write notes and questions here... then hit Submit!
fname: entry.1077590176
fid: entry_1077590176

g: Submit
---

{% extends "jumbotron_order.j2" %}

{% block headline %}
# Get Pupil

Place an **Order** or **Quotation** request to get started
{% endblock headline %}
