---
title: Pupil Order
subtitle: Get Pupil 
description: Pupil Labs - Research & Development & Design. Makers of Pupil, open source mobile eye tracking product, in active community driven development. 

sandboxformUrl: 'https://docs.google.com/a/pupil-labs.com/forms/d/1g19mw1YnXqtGx8ngQYqITmbJVPQIQ-xZ4aj3RSCWJFE/formResponse'
formUrl: 'https://docs.google.com/a/pupil-labs.com/forms/d/1M9mAvQgc0iVFrXx4jootu-nyQVOEQr-lwV-WA1YMLrY/formResponse'
formRedirect: '/pupil/order/success.html'


a: Order Info 

a1: Pupil Pro
a2: Pupil Dev
a3: Order
a4: Quotation

a5: Order Type


a6: Order Sum
a6name: Order Type

b: Contact Info

b1: First Name
b1label: What's your first name?

b2: Last Name
b2label: What's your last name?

b3: Email
b3label: user@domain.com
b3name: Email

c: Billing Info

c1: First Name
c1label: What's your first name?

c2: Last Name
c2label: What's your last name?

c4: Company
c4label: Company or University or Affiliation

c5: VAT ID
c5label: EU VAT ID Number
c5name: VAT ID

c6: Phone
c6label: Required for shipping purposes
c6name: Phone

c7: Address
c7label: This address will appear on the invoice or quotation.

c8: Country
c8name: Country

d: Shipping Info

dsub: Where should we send Pupil?
da: Use Billing Info
db: Enter Alternate Info 

d1: First Name
d1label: What's your first name?

d2: Last Name
d2label: What's your last name?

d4: Company
d4label: Company or University or Affiliation

d7: Address
d7label: This address will appear on the invoice or quotation.

e: Preferences
esub: What is your preferred payment method?
e1: Pay Pal
e2: Bank Transfer

e3: Payment Method
e3name: Payment Method

f: Notes
fsub: Have questions or additional notes?
flabel: Write notes and questions here... then hit Submit!
fname: Notes

g: Submit
---

{% extends "jumbotron_order.j2" %}

{% block headline %}
# Get Pupil

Place an **Order** or **Quotation** request to get started
{% endblock headline %}
