.Article-summary-list
	display flex
	flex-direction column
	justify-content center
	list-style none
	
.Article-list-item
	list-style none
	border-bottom 1px solid #ddd
	margin 0 0 1em
	
	&:last-child
		border-bottom none

	
// .Article-link
// 	transition color .3s ease-in-out
	
.Article-time
	font-size .9em
	color $gray
	
.Article-title-h2
	font-size 1.5em
	
.Article-link
	font-variant small-caps
	font-weight 700
	

	