.button-flex
	display flex
	align-items center
	border-radius 5px
	border 1px solid #ddd
	color currentColor
	background transparent
	justify-content center
	min-width 15em
	padding 1em
	position relative
	z-index 10
	transition color .3s ease-in-out,background .3s ease-in-out
	font-family $font-family-sans-serif
	font-weight 700
	font-size 1em
	
	margin-top 1.5em

	&:hover
		background $link-hover-color
		color #fff
		
