// Footer navigation (site map)
// 

.Footer-nav
	width 100%
	background rgba(0,0,0,.3)
	// padding 2em 2em 1em 2em
	
.Footer-flex-nav-container
	flexbox_container(0 0 auto,nowrap,space-around)
	align-items stretch
	width 100%	
	overflow hidden
	padding-top 2em
	padding-bottom 2em
			
	@media all and (max-width: 48em)
		// small screen
		flex-wrap wrap

.Footer-flex-nav-item
	display flex
	justify-content center
	padding .15em .75em

.Footer-nav-link
	color #fff
	font-family $font-family-sans-serif
	font-weight 700
	transition color .4s ease
	letter-spacing .01em		
	
	@media all and (min-width: 48em)
		// big screen
		font-size 1.1em 
		
	@media all and (max-width: 48em)
		// small screen
		font-size 1em
	
// Footer social links
// 

.Footer-social
	width 100%
	
.Footer-flex-social-container
	flexbox_container(0 0 auto,nowrap,space-around)
	align-items stretch
	width 100%	
	background rgba(0,0,0,.6)
	overflow hidden
	padding-top 2em
	padding-bottom 2em	
	
.Footer-flex-social-item
	display flex
	justify-content center
	padding .15em .75em

.Footer-flex-social-link
	color #fff
	font-family $font-family-sans-serif
	font-weight 700
	transition color .4s ease
	letter-spacing .01em		
	
	@media all and (min-width: 48em)
		// big screen
		font-size 1.1em 
		
	@media all and (max-width: 48em)
		// small screen
		font-size 1em	