.Home-flex-container
	// documentation on flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	flexbox_container()
	align-items stretch // fill the container	

	// full width container
	width 100%
	
.Home-flex-item-full-width
	display flex
	flex-direction column
	align-items center
	flex 0 0 auto
	justify-content center

	background linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(255,255,255,1))
	// set up a min-height
	min-height 40vh	
	
	overflow hidden
	position relative
	width 100% // items within the element container should be full width
	padding 5em
	
	@media all and (min-width: 48em)
		min-height 60vh

Home_flex_item_half_width(_flex_direction= column, _align_items=center, _justify_content=center)
	display flex
	flex-direction _flex_direction
	align-items _align_items
	justify-content _justify_content

	background rgba(255,255,255,0.5)
	// set up a min-height
	min-height 40vh	
	
	overflow hidden
	position relative
	padding 1.75em 1em
	
	@media all and (min-width: 48em)
		// big screen
		// two columns
		flex 1 0 auto
		width 50%
		min-height 60vh
		
	@media all and (max-width: 48em)
		// small screen
		// single column
		flex 0 0 auto
		width 100%	
	

.Home-flex-item-half-width
	Home_flex_item_half_width()
	
.Home-flex-item-half-width-stretch
	Home_flex_item_half_width(column,stretch,center)

home-item-heading(_text-align=center)
	text-align _text-align
	position relative

.Home-item-title
	home-item-heading()
	color #515151 
	font-size 2.9em
	
	@media all and (min-width: 48em)
		font-size 4em	

.Home-item-h1
	home-item-heading()
	color #515151 
	font-size 2.4em
	z-index 10

.Home-item-subtitle 
	home-item-heading()
	text-shadow 0 1px 0 rgba(0,0,0,.1)		
	display flex
	align-items center
	color #8A8A8A 
	font-size 1.6em
	z-index 10
	
.Home-item-h2-pupil
	home-item-heading(left)
	padding .2em 1em
	color darken(#8A8A8A, 20%) 
	font-size 1.3em
	text-align left
	
	@media all and (min-width: 48em)
		font-size 1.6em
	
.Home-item-image
	// display flex
	display block
	position absolute
	left 50%
	max-height 100%
	// max-width 100%
	transform translateY(-50%)translateX(-50%)
	z-index 5
	