.Site
	display flex
	flex-direction column
	min-height 100vh

.Site-container
	padding 0
	flex 1

.Site-fade-in
	-webkit-animation reveal .6s .2s ease both
	animation reveal .6s .2s ease both

.Site-flex
	flexbox()
	flex()