extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="About")
    //- Title block
    - var page_data = contents.about['index.json']
    - var page_meta = page_data.metadata;
    - var titleData = {'title':page_meta.title}   
    include includes/title
    
    div.Grid
      div.Grid-cell--main
        div.Feature.u-padBottom--3
          img(class="Feature-image" src="../media/images/gsm_2016_bw.jpg")

    - var items = _.chain(contents.about['info']._.pages).sortBy(function(item) {
    -   return item.metadata['order'];
    - }).value()    
    div.u-padBottom--5
      div.Grid.Grid--1of2
        each i in items
          div.Grid-cell
            h2.Feature-title.u-textCenter.u-padBottom--1= i.title
            div.Article!= typogr(i.html).typogrify()
