extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="Article")
    div.Site-content-container
      div.Feature-container-column

        article.Grid.Article
          header.Grid-cell.Grid-cell--full.Blog-article-header.u-textCenter
            h1.Blog-article-title= page.title
            h4= moment.utc(page.date).format('YYYY MMM DD')
          section.Grid-cell.Grid-cell--full.content!= typogr(page.html).typogrify()
    a(href="/blog")
      div.Blog-nav.u-textCenter
        p.Blog-nav-link back to blog index
      

