extends layout

block main
  div(id="Cart")
    //- Title block
    - var page_data = contents.cart['index.json']
    //- include includes/title
    table(id="Cart-table")
      thead
        tr 
          th(class="Cart-items--3of5") Item
          th(class="Cart-items--1of5 u-textCenter" colspan='2') Quantity
          th(class="Cart-items--1of5 u-textCenter") Price
          th(class="Cart-items--1of5 u-textCenter") Remove
      tbody
        //- pull items from local storage
      tfoot
        tr(class="CartSum")
          td(class="CartSum--label u-textRight")
          td
          td(class="CartSum--total u-textCenter") 
 


