extends layout

block vars
  - var bodyClass = "Site"
  - var mainClass = "Site-content Site-cart"


block append title
  | #{ " - " + page.title}

block page_scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.1.2/parsley.min.js" async)

block main
  div(id="Cart")
    //- Title block
    //- - var page_data = contents.cart['index.json']
   
    div(id="Cart-empty" style="display:none;").Background-img-top.Background-img-cover  
      div(style="top:40%").Site-content-container.Background-img-caption-container.u-textCenter
        h1 Your cart is empty...
        h3 Go to the #[a(href="/store" title="store") store] to add items.


    //- |---------Item---------|---Quantity---|---Price---|---Remove---|
    //- | Pupil description    |   ##  | +/-  |   xx EUR  |      X     |
    //-            3/5                 1/5          1/5         1/5

    div.Cart-container
      div.Cart-table-container
        div.Site-content-container
          div(class="Grid" id="Cart-table")
            //- div.Grid-cell--2of3.u-textCenter 
            //-   h3.Grid-cell--header Item
            //- div.Grid-cell--1of18.u-textCenter 
            //-   h3.Grid-cell--header Unit Cost
            //- div.Grid-cell--1of22.u-textCenter
            //-   h3.Grid-cell--header 
            //- div.Grid-cell--1of18.u-textCenter
            //-   h3.Grid-cell--header Quantity
            //- div.Grid-cell--1of22.u-textCenter
            //-   h3.Grid-cell--header 
            //- div.Grid-cell--1of18.u-textCenter
            //-   h3.Grid-cell--header Sum Cost
            //- div.Grid-cell--1of18.u-textCenter 
            //-   h3.Grid-cell--header #[a(href="#" id="Cart-clearCart") Remove]
            //- jquery will fill this in
          div(id="CartSum" class="Grid")
            div(class="Grid-cell--2of3" id="CartSum-label--container")
              h3(id=id="CartSum--label")
            div(class="Grid-cell--1of3 u-textCenter")
              h3(id="CartSum--total")
            //- div(class="Grid-cell--1of18 u-textCenter")
        div.Site-content-container
          div.Cart-checkout
            div(class="Grid" id="Cart-checkout--buttons")
              div.Grid-cell.Grid-cell--1of2
                input(id="order" class="Form-input--radio Form-checkout" type="radio")
                label(for="order" id="OrderType-order" class="Button-radio--lg Form-input--radioLabel--lg") Place Order
                //- a(href="#" id="CheckOut" class="Button Button-checkout") Place Order
              div.Grid-cell.Grid-cell--1of2
                input(id="quote" class="Form-input--radio Form-checkout" type="radio")
                label(for="quote" class="Button-radio--lg Form-input--radioLabel--lg" id="OrderType-quote") Get Quote
                //- a(href="#" id="CheckOut" class="Button Button-checkout") Request Quote
            include includes/order-form   


