extends layout

block vars
  - var bodyClass = "Site"
  - var mainClass = "Site-content Site-cart"


block append title
  | #{ " - " + page.title}

block page_scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js")

  script.
    if (Modernizr.input.list === false){
      console.warn("This browser does not support html element <datalist>.");
      $.when(
        $.getScript('/js/vendor/jquery.relevant-dropdown.min.js'),
        $.getScript('/js/vendor/datalist-fallback-safari.js')
      ).done(function(){
        console.log("Finished loading polyfill to support datalist on this browser.");
      });
    }

block main
  div(id="Cart")
    //- Title block
    //- - var page_data = contents.cart['index.json']
   
    div(id="Cart-empty" style="display:none;").Background-img-top.Background-img-cover  
      div(style="top:40%").Site-content-container.Background-img-caption-container.u-textCenter
        h1 Your cart is empty...
        h3 Go to the #[a(href="/store" title="Store") store] to add items.


    //- |---------Item---------|---Quantity---|---Price---|---Remove---|
    //- | Pupil description    |   ##  | +/-  |   xx EUR  |      X     |
    //-            3/5                 1/5          1/5         1/5

    div.Cart-container
      div.Cart-table-container(style="padding-bottom:unset;")
        div.Cart-table.Grid(style="min-height:calc(100vh - (64px + 16px));")

            div.cart.order(
              ref="CartFixedContainer"
            )
              h3(style="border-bottom:1px solid #808080;") Your Order
              div.Grid.Grid--justifySpaceBetween
                div(id="Cart-table" style="margin-top:10px;")
                div.Grid.Grid--justifySpaceBetween(id="CartSum" style="width:100%;")
                  div(id="CartSum-label--container")
                    h3(id="CartSum--label" style="padding-bottom:0.5em;")
                  div.u-textCenter
                    h3(id="CartSum--total")

            div.cart.form(
              ref="cartCheckout"
            )
              div.Cart-checkout
                include includes/order-form