extends layout

block main
  div(id="Cart")
    //- Title block
    - var page_data = contents.cart['index.json']
    //- include includes/title
    table(id="Cart-items")
      thead
        tr 
          th(class="") Item
          th(class="") Quantity
          th(class="") Price
          th(class="") Remove
      tbody
        tr
        //- pull items from local storage
      tfoot(id="CartSum")
        tr
          td
          td
          td(id="CartSum--total") 
 


