extends layout

block vars
  - var bodyClass = "Site"
  - var mainClass = "Site-content Banner--gradientBkg"

block append title
  | #{ " - Checkout Success"}

block main
  div(id="Checkout")

  div.Background-img-top.Background-img-cover  
    div(style="top:40%").Site-content-container.Background-img-caption-container.u-textCenter
      h1 Success
      h3 Your payment was submitted.
      h3 We are now reviewing your payment.
      h3 We will send you an email with invoice as confirmation, and begin fulfilling your order.