div.Grid-cell
		//- modular
		svg.svg-container(preserveAspectRatio="xMidYMid" viewBox="0 0 227.6 267.3")
			circle(cx="109.8" cy="110.2" r="109.8" transform="translate(-45.7 109.9) rotate(-45)" fill="#e5e5e5")
			g(id="modular-cubes")

				line(x1="133.3" y1="196.5" x2="133.3" y2="217.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="180.3" y2="49.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="49.9" x2="180.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="49.9" x2="192.4" y2="37.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="59.6" x2="133.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="83.1" x2="109.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="106.6" x2="133.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="133.3" y1="83.1" x2="133.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="26.4" x2="133.3" y2="2.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="156.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="133.3" y1="49.9" x2="156.8" y2="26.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="26.4" x2="133.3" y2="2.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="133.3" y1="2.9" x2="156.8" y2="26.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="156.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="139.8" x2="180.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="83.1" x2="180.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="133.3" y1="196.5" x2="149.4" y2="212.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="173" x2="179.1" y2="195.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="163.3" x2="180.3" y2="194.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="163.3" x2="180.3" y2="194.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="163.3" x2="180.3" y2="194.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="139.8" x2="203.8" y2="167" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="52.8" y1="16.3" x2="62.8" y2="26.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="27.3" y1="37.8" x2="39.3" y2="49.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="1.5" y1="92.2" x2="15.8" y2="106.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="139.8" x2="15.8" y2="167" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="40.5" y1="195.3" x2="62.8" y2="173" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="163.3" x2="39.3" y2="194.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="163.3" x2="39.3" y2="194.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="163.3" x2="39.3" y2="194.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="196.5" x2="86.3" y2="217.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="106.6" x2="109.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="83.1" x2="109.8" y2="106.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="2.9" x2="109.8" y2="26.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="26.4" x2="133.3" y2="49.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="133.3" y1="49.9" x2="133.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="133.3" y1="83.1" x2="156.8" y2="106.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="106.6" x2="156.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="83.1" x2="180.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="83.1" x2="203.8" y2="106.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="83.1" x2="180.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="106.6" x2="203.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="83.1" x2="39.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="83.1" x2="62.8" y2="106.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="83.1" x2="39.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="106.6" x2="62.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="106.6" x2="15.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="26.4" x2="62.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="26.4" x2="86.3" y2="49.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="26.4" x2="62.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="49.9" x2="86.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="49.9" x2="39.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="156.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="156.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="139.8" x2="62.8" y2="173" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="116.3" x2="109.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="116.3" x2="203.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="116.3" x2="203.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="116.3" x2="62.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="116.3" x2="62.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="59.6" x2="39.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="59.6" x2="39.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="59.6" x2="180.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="59.6" x2="180.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="196.5" x2="109.8" y2="220" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="1" y1="124.9" x2="15.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="9.2" y1="66.3" x2="15.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="9.2" y1="66.3" x2="15.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="9.2" y1="66.3" x2="15.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="53.4" x2="15.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="53.4" x2="15.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="7" y1="148.7" x2="15.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="7" y1="148.7" x2="15.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="70.2" y1="212.6" x2="86.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="70.2" y1="212.6" x2="86.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="70.2" y1="212.6" x2="86.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="139.8" x2="212.7" y2="148.7" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="139.8" x2="218.6" y2="124.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="59.6" x2="210.5" y2="66.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="139.8" x2="218.6" y2="124.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="106.6" x2="218.1" y2="92.2" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="139.8" x2="218.6" y2="124.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="166.8" y2="16.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="166.8" y2="16.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="166.8" y2="16.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="53.4" x2="203.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="203.8" y1="53.4" x2="203.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="52.8" y1="16.3" x2="62.8" y2="26.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="26.4" x2="156.8" y2="10.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="26.4" x2="109.8" y2="0.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="26.4" x2="62.8" y2="10.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="133.3" y1="83.1" x2="156.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="196.5" x2="109.8" y2="173" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="173" x2="86.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="220" x2="133.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="163.3" x2="203.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="139.8" x2="180.3" y2="163.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="163.3" x2="86.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="220" x2="133.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="163.3" x2="109.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="220" x2="133.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="163.3" x2="86.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="163.3" x2="62.8" y2="139.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="139.8" x2="86.3" y2="163.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="163.3" x2="86.3" y2="196.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="139.8" x2="39.3" y2="163.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="26.4" x2="86.3" y2="2.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="26.4" x2="86.3" y2="2.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="83.1" x2="203.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="83.1" x2="203.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="49.9" x2="62.8" y2="26.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="83.1" x2="109.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="26.4" x2="86.3" y2="2.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="49.9" x2="109.8" y2="26.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="109.8" y1="26.4" x2="109.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="59.6" x2="39.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="139.8" x2="39.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="106.6" x2="39.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="15.8" y1="139.8" x2="39.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="59.6" x2="86.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="139.8" x2="86.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="39.3" y1="83.1" x2="62.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="62.8" y1="106.6" x2="86.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="86.3" y1="83.1" x2="86.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="180.3" y1="83.1" x2="203.8" y2="59.6" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="59.6" x2="180.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="139.8" x2="180.3" y2="116.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

				line(x1="156.8" y1="106.6" x2="180.3" y2="83.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

			polygon(points="133.3 116.3 156.8 139.8 156.8 173 133.3 196.5 109.8 173 109.8 139.8 133.3 116.3" fill="none" stroke="#97d2ad" stroke-miterlimit="10" stroke-width="2" id="inside-cube")
			polygon.cube_color(points="180.3 210.3 203.8 186.8 227.3 210.3 227.3 243.5 203.8 267 180.3 243.5 180.3 210.3" fill="#97d2ad")
			g.cube_outline(id="cube_outline" data-name="cube outline")
				line(x1="203.8" y1="233.8" x2="203.8" y2="267" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				polygon(points="180.3 210.3 203.8 186.8 227.3 210.3 227.3 243.5 203.8 267 180.3 243.5 180.3 210.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				line(x1="203.8" y1="233.8" x2="227.3" y2="210.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				line(x1="180.3" y1="210.3" x2="203.8" y2="233.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")

div.Grid-cell
		//- community
		svg.svg-container(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 222.2 260.5")
			circle( cx="112.4" cy="134.7" r="109.7" fill="#e5e5e5")
			g( id="fork")
				path(class="fork-line--1" d="M78.5,49.6,94.5,65.6,95.9,67l12.3,12.3h0a12.9,12.9,0,0,1,4.2,8.8q0,.6,0,1.3v28.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--2" d="M112.4,118.3V89.4a13.1,13.1,0,0,0-4.2-10.2l-9-9A15.6,15.6,0,0,1,96.7,67,13.3,13.3,0,0,1,95,60v-30" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--3" d="M112.4,118.3V98.7a14.6,14.6,0,0,1,.8-5.1,13.8,13.8,0,0,1,3.4-5.1l6.3-6.3,9.8-9.8,6.9-6.9" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--4" d="M128.8,134.7h5.8a5.7,5.7,0,0,0,5.7-5.7v-22a13.1,13.1,0,0,1,4.2-10.2l1.6-1.6,12.8-12.8L170,71.3" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--5" d="M128.8,134.7h29a13.5,13.5,0,0,1,6.6,1.5,15.2,15.2,0,0,1,3.5,2.7l11.6,11.6,2.2,2.2,9.6,9.6,6.1,6.1" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--6" d="M128.8,134.7h16.2a12.7,12.7,0,0,1,6.8,2.1,16.4,16.4,0,0,1,2.5,2.1l6.5,6.5,2.8,2.8a12.9,12.9,0,0,1,4.2,8.9q0,.6,0,1.3V183a13.3,13.3,0,0,0,1.7,6.9,15.5,15.5,0,0,0,2.5,3.2l15.7,15.7,14,14" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--7" d="M132.1,194.6l-4.2-4.2-7.9-7.9-.9-.9-2.4-2.4a13.4,13.4,0,0,1-3.7-6,15.4,15.4,0,0,1-.5-4.2v-18" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--8" d="M96,134.7H88.7a6.6,6.6,0,0,0-5.1,2.1l-1,1L71.3,149.1a6.6,6.6,0,0,0-2.1,5.1v61.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--9" d="M96,134.7H88.7a6.6,6.6,0,0,0-5.1,2.1l-.8.8-9.6,9.6-1.9,1.9a6.6,6.6,0,0,1-5.1,2.1H7.7" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--10" d="M96,134.7h-18a12.9,12.9,0,0,1-8.2-4.1l-2.1-2.1-2-2-7.7-7.6-4.4-4.3-2.1-2.1-4.7-4.7" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path(class="fork-line--11" d="M30.1,38.2l6.3,6.3,2.2,2.2,9.2,9.2L58.9,67,72.4,80.5l4.9,4.9a15.5,15.5,0,0,1,2.5,3.2,13.3,13.3,0,0,1,1.7,7v24a15.6,15.6,0,0,0,.5,3.9,12,12,0,0,0,.5,1.5,14.1,14.1,0,0,0,3.3,4.7l2.8,2.8a6.6,6.6,0,0,0,5.1,2.1H96" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
			g( id="push-pull")
				path( d="M96,134.7H88.7a6.7,6.7,0,0,0-3.3.8,7.6,7.6,0,0,0-1.7,1.3l-7.1,7.1L73,147.4l-1.7,1.7a6.6,6.6,0,0,0-2.1,5.1v10.1h-.1v8.2a13.1,13.1,0,0,0,4.2,10.2l3.3,3.3,8.7,8.7,10.6,10.6,5,5a13.1,13.1,0,0,1,4.2,10.2v32.4" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path( d="M138.7,6.6l-8.5,8.5a6.6,6.6,0,0,0-2.1,5.1v54a6.6,6.6,0,0,1-2.1,5.1l-9.4,9.4a13.1,13.1,0,0,0-4.2,10.2v19.5" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
				path( d="M213.5,101.5l-10.9,10.9-10,10-8.1,8.1-1.7,1.5a12.9,12.9,0,0,1-8.5,2.7H128.8" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.75")
			g( id="nodes")
				path(id="fork-dot--1" d="M79.8,46.4a3.7,3.7,0,0,0-7.4,0,3.2,3.2,0,0,0,0,.3,3.7,3.7,0,1,0,7.4.1A3.4,3.4,0,0,0,79.8,46.4Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				path(id="fork-dot-5" d="M200.4,167.3a3.7,3.7,0,0,1,0,7.4H200a3.7,3.7,0,0,1-.1-7.4Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				path(id="fork-dot-3" d="M138.3,62.1a3.7,3.7,0,0,1,7.4,0,3.2,3.2,0,0,1,0,.3,3.7,3.7,0,1,1-7.4.1A3.4,3.4,0,0,1,138.3,62.1Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				path(id="fork-dot-8" d="M72.9,220a3.7,3.7,0,0,1-7.4,0,3.2,3.2,0,0,1,0-.3,3.7,3.7,0,1,1,7.4-.1A3.5,3.5,0,0,1,72.9,220Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				path(id="fork-dot-10" d="M46.7,101.6a3.7,3.7,0,0,0-5.2,5.2l.2.3a3.7,3.7,0,1,0,5.3-5.2Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				path(id="fork-dot-2" d="M98.7,25.8a3.7,3.7,0,0,0-7.4,0,3.2,3.2,0,0,0,0,.3,3.7,3.7,0,0,0,7.4.1A3.5,3.5,0,0,0,98.7,25.8Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				path(id="fork-dot-7" d="M131.1,197.9a3.7,3.7,0,0,0,7.4,0,3.2,3.2,0,0,0,0-.3,3.7,3.7,0,1,0-7.4-.1A3.5,3.5,0,0,0,131.1,197.9Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				circle(id="fork-dot-11" cx="23.6" cy="31.7" r="9.2" transform="translate(-15.5 26) rotate(-45.1)" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				path(id="pp-dot-3" d="M109,256.9a3.7,3.7,0,0,1-7.4,0,3.2,3.2,0,0,1,0-.3,3.7,3.7,0,1,1,7.4-.1A3.5,3.5,0,0,1,109,256.9Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				circle(id="fork-dot-4" cx="176.5" cy="64.8" r="9.2" transform="translate(6 144.1) rotate(-45.1)" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				path(id="pp-dot-2" d="M212.5,98.6a3.7,3.7,0,0,1,7.4,0,3.2,3.2,0,0,1,0,.3,3.7,3.7,0,0,1-7.4.1A3.4,3.4,0,0,1,212.5,98.6Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5")
				circle(id="dot-center" cx="112.4" cy="134.7" r="17.4" transform="translate(-53.6 78) rotate(-31.3)" fill="#97d2ad" stroke="#231f20" stroke-miterlimit="10")
				path(id="fork-dot-9" d="M6.3,148.4a3.7,3.7,0,0,0-5.2,5.2l.2.3a3.7,3.7,0,0,0,5.3-5.2Z" fill="#97d2ad" stroke="#000" stroke-miterlimit="10" stroke-width="0.5")
				path(id="pp-dot-1" d="M137.6,3.6a3.7,3.7,0,0,1,7.4,0,3.2,3.2,0,0,1,0,.3,3.7,3.7,0,1,1-7.4.1A3.5,3.5,0,0,1,137.6,3.6Z" fill="#97d2ad" stroke="#000" stroke-miterlimit="10" stroke-width="0.5")
				circle(id="fork-dot-6" cx="208.3" cy="229.3" r="9.2" transform="translate(-101.2 215) rotate(-45.1)" fill="#97d2ad" stroke="#000" stroke-miterlimit="10" stroke-width="0.5")
			g( id="pp-dot")
			g( id="fork-dot")

div.Grid-cell
		//- support
		svg.svg-container(preserveAspectRatio="xMidYMid" viewBox="0 0 227.6 267.3")
			path(class="bg" d="M175.9,201.7v21.7a5.7,5.7,0,0,1-9.8,4.1l-11.8-11.8a8.6,8.6,0,0,0-8.9-2.1A109.8,109.8,0,1,1,179.1,195,7.7,7.7,0,0,0,175.9,201.7Z" fill="#e5e5e5")

			g(id="loop")
				path(class="loop-l" d="M3.8,109.8a44,44,0,0,1,75-31l24.1,24.1,6.9,6.9,29.1,29.1,2,2a43.9,43.9,0,1,0,0-62.1l-23.1,23.1-8,8L80.7,138.9l-2,2a44,44,0,0,1-75-31.1Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round")
				path(class="loop-r" d="M215.9,109.4a44,44,0,0,0-75-30.6l-23.1,23.1-8,8L80.7,138.9l-2,2a43.9,43.9,0,1,1,0-62.1l24.1,24.1,6.9,6.9,29.1,29.1,2,2a43.9,43.9,0,0,0,75-31.5Z" fill="none" stroke="#010101" stroke-linecap="round" stroke-linejoin="round")
				
				circle(cx="48" cy="153.9" fill="#97d2ad" r="5")
				circle(cx="171.7" cy="66" fill="#97d2ad" r="5")

