extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="Jobs").Site-transform
    //- Title block
    - var page_data = contents.jobs['index.json']
    - var page_meta = page_data.metadata
    - var titleData = {'title':page_meta.title,'s1':page_meta.subtitle}    
    //- include includes/title

    -var positions_folder = contents.jobs['positions']

    - var missionData = contents.jobs['pupil_mission.md']
    
    //- show background image
    div.Grid
      div(class="Background-img--full-wh Background-img-cover" style="background-image: url('../media/images/jobs/jobs_workbench.jpg');")
  
    div.Site-gray-bkg  
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.Feature-title--lg.u-padBottom--1 Jobs
              div.Grid
                div.Grid-cell.Grid-cell--full
                  p.Feature-paragraph Are you excited about eye tracking, computer vision, design, and contributing to open source? Check out current openings below. 


    - var positions = _.chain(positions_folder._.pages).sortBy(function(item) {
    -   return item.metadata['order'];
    - }).filter(function(item){return item.metadata['order'] > 0}).value()
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Current Opportunities
          div.Grid
            each p in positions
              div.Grid-cell.Grid-cell--full.u-padBottom--2
                div.Article.Feature--job-item
                  a(class='anchor' name=p.metadata.jobTitle)
                  h2(class="Feature-title u-textCenter u-padBottom--1 u-padTop--1" id=p.metadata.order)= p.title
                  div!= typogr(p.html).typogrify()
                  a(href="mailto:jobs@pupil-labs.com" target="_blank" role="button" class="Button") email us to apply
                  p.Cart-disclaimerTxt.u-textCenter (please include your cv and links to relevant work)
