doctype html
html(class='' lang='en')
  include  includes/head.jade

  body(class='Site')
    include includes/header.jade

  main(role="main" class="Site-main-content")
    block main
      p Nothing to see here, move along.

  include includes/footer.jade
  include includes/js.jade
  block scripts
    