extends layout

block vars
  - var bodyClass = "Site"
  - var mainClass = "Site-content Banner--gradientBkg"

block append title
  | #{ " - Order Success!"}

block main
  div(id="Success")
    div.Background-img-top.Background-img-cover  
      div(style="top:40%").Site-content-container.Background-img-caption-container.u-textCenter
        h1 Success
        h3 Thank you for submitting your request.
        h3 We will be in touch via email with a proforma invoice.

