extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="#{ 'Page-' + page.metadata.id }")
    - var bannerData = { "title": page.title, "s1": page.html}
    include includes/banner