extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="pi-article")
    div.Site-content-container
      div.Feature-container-column
        article.Grid
          header.Grid-cell.Grid-cell--full.u-textCenter(style="padding-top:1em;")
            h1.Blog-article-title= page.title
            if page.metadata.topic
              h4.small= page.metadata.topic + ' - ' + moment.utc(page.date).format('YYYY MMM DD')
            //- h4.small= moment.utc(page.date).format('YYYY MMM DD')

    div.Site-content-container(style="background-color:#ECEFF1;")
      div.Feature-container-column
        article.Grid
          section.Grid-cell.Grid-cell--full.content!= typogr(page.html).typogrify()

    a(href="/blog")
      div.Blog-nav.u-textCenter
        h4.Blog-nav-link Back to blog


