extends layout

block append title
  | #{ " - " + page.title}

block main
  //- Title block
  div(id="Pupil")
    - var page_data = contents.pupil['index.json']
    - var page_meta = page_data.metadata
    - var pupil_slides_data = contents.pupil.features['slides_pupil_drawings.json']
    - var pupil_slides_meta = pupil_slides_data.metadata
    
    //- slider 
    //- TODO - add bkg color class (not inline)
    //- TODO - pull slider images from json file and run in for loop
    - var slider_data = pupil_slides_meta
    - var slider_inline_style = "background-color: gray;"
    - var slider_id = "Pupil-slider"

    include  includes/slider.jade

    //- pupil intro row
    div(id="content-top" class="Site-content-container")
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg Pupil
              h2.Feature-subtitle.u-padBottom--1 A platform for eye tracking and egocentric vision research
              p.Feature-paragraph Pupil headsets are 3D printed frames that you wear like a pair of glasses. 
              p.Feature-paragraph Cameras record your field of view and your eye movements. Data is correlated with Pupil Capture software. 
              p.Feature-paragraph Pupil is designed as a modular system to support the diverse needs and applications of researchers.

    //- full width background image
    div.Grid
      div(class="Background-img--full-w-fixed" style="background-image: url('../media/images/home/slides/01.jpg');")

    //- software row
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg Software
              h2.Feature-subtitle.u-padBottom--1 Connect your Pupil headset to a Linux, MacOS, or Windows computer via USB 
            div.Grid.Grid--1of3
              div.Grid-cell
                h2.Feature-subtitle Capture
              div.Grid-cell
                h2.Feature-subtitle Player
              div.Grid-cell
                h2.Feature-subtitle Service

    //- open source
    div.Site-content-container
      div.Feature-container-column
      div.Grid.Grid--1of2.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
        div.Grid-cell
          div.Feature
            h1.Feature-title--lg.u-padBottom--1 Open Source
            p.Feature-paragraph We believe in open source. All Pupil code is released with open source licenses.
            p.Feature-paragraph A lot of work went into making the software modular and accessible. The majority of the codebase is written in Python.
            p.Feature-paragraph We have developed a plugin structure that enables you to extend Pupil Capture and Pupil Player to suit your needs. 
            p.Feature-paragraph Check out the pupil repository on <a href="https://github.com/pupil-labs/pupil/" rel="noopener">Github</a>. Read developer documentation on the <a href="https://github.com/pupil-labs/pupil/wiki" rel="noopener">wiki</a>.
        div.Grid-cell
          div.Feature
            figure.Feature-figure
              img(class="Feature-image" src="../media/images/pupil_page/web/pupil_source_code.png")


    //- tech specs and performance
    div.Site-gray-bkg
      div(id="content-top" class="Site-content-container")
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg Technical Specifications & Performance
                p.Feature-paragraph Eye tracking performance is determined in equal parts by the hardware and software. We constantly work on our algorithms and codebase, so you can expect a steady improvement and the latest features.
                p.Feature-paragraph Accuracy 0.60 degrees 
                p.Feature-paragraph Precision 0.08 degrees
                p.Feature-paragraph Latency 5.7 ms (using 120hz eye and high speed world cameras).


    //- design
    div.Site-content-container
      div.Feature-container-column
      div.Grid.Grid--1of2.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
        div.Grid-cell
          div.Feature
            h1.Feature-title--lg.u-padBottom--1 Design
            p.Feature-paragraph A lot of design and engineering thought has gone into getting the ergonomics of the headset just right.
            p.Feature-paragraph It is designed to fit snugly, securely, and comfortably. The headset and cameras can be adjusted to accommodate a wide range of users. The headset is made from laser sintered PA12, an extremely flexible, durable, and lightweight material.
        div.Grid-cell
          div.Feature
            figure.Feature-figure
              img(class="Feature-image" src="../media/images/pupil_page/web/frame_flex.jpg")


   
      //- background video placeholder or placeholder image
    div(id="Assembly-video-container").Grid
      div.Grid-cell.Grid-cell--full
        video(id="background_video" class="Background-img--full-w-scroll" style="object-fit: cover;" loop muted)
        div(id="video_cover" class="Background-img--full-w-scroll")


      //- Modular & Hackable

      //- Community
      
block page_scripts
  script(src=contents.js['pupil_video.js'].url)

