
div.Aligner-item(style="padding-top: 0;")
  div.Tag-inner
    a(href="https://github.com/pupil-labs/pupil/releases/latest" title="Download Pupil Player" rel="noopener")
      svg(width="135px" height="135px" id="pc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 272 272")
        defs
          radialGradient(cx="50%" cy="50%" fx="50%" fy="50%" r="50%" id="radialGradient-1")
            stop(stop-color="#A1DEF0" offset="0%")
            stop(stop-color="#92E0E2" offset="62.7820504%")
            stop(stop-color="#38EA92" offset="100%")
        g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
          g(id="pc" transform="translate(9.616516, 10.750000)")
            path(d="M126.385399,250.5 C57.1100156,250.5 0.955535736,194.424332 0.955535736,125.252868 C0.955535736,56.076624 57.1100156,0 126.385399,0 C195.65791,0 251.811433,56.076624 251.811433,125.252868 C251.811433,194.424332 195.65791,250.5 126.385399,250.5 Z" id="iris" fill="url(#radialGradient-1)")
            path(d="M55.6757546,125.252868 C55.6757546,86.3173282 87.3960942,54.6415076 126.385399,54.6415076 C165.375661,54.6415076 197.096001,86.3173282 197.096001,125.252868 C197.095044,164.186496 165.375661,195.861361 126.385399,195.861361 C87.3960942,195.861361 55.6757546,164.186496 55.6757546,125.252868 Z" id="pupil" stroke="#FFFFFF" stroke-width="12" fill="#080707")
      h2.u-textCenter.u-padTop--1 Pupil Capture


div.Aligner-item(style="padding-top: 0;")
  div.Tag-inner
    a(href="https://github.com/pupil-labs/pupil/releases/latest" title="Download Pupil Player" rel="noopener")
      svg(idth="135px" height="135px" id="pp" viewBox="0 0 272 272" xmlns="http://www.w3.org/2000/svg")
        defs
          linearGradient(x1="78.9520334%" y1="50%" x2="0%" y2="50%" id="linearGradient-1")
            stop(stop-color="#A1DEF0" offset="0%")
            stop(stop-color="#38EA92" offset="100%")

        g(stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
          g(id="pp" transform="translate(17.000000, 11.000000)")
            path(d="M87.350746,237.868321 C39.3066411,264.985687 0.197818548,242.086832 0.197818548,186.98187 L0.197818548,63.1746183 C0.197818548,8.06965649 39.3773589,-14.9532443 87.5046048,12.0124046 L200.632923,75.4503817 C248.762081,102.416031 248.881536,146.666031 200.838387,173.783397 L87.350746,237.868321 L87.350746,237.868321 Z" id="pp-iris" fill="url(#linearGradient-1)")

            path(d="M64.6407944,199.189885 C55.3968387,199.189885 46.0687863,192.375954 46.0687863,177.15458 L46.0687863,73.0019084 C46.0687863,57.754771 55.428375,50.9293893 64.7048226,50.9293893 C68.9392863,50.9293893 73.3371653,52.245229 77.779004,54.8396947 L165.988875,106.377863 C173.766871,110.923664 178.232601,117.640267 178.244069,124.805344 C178.256492,131.971374 173.810831,138.700382 166.050992,143.26813 L77.7560685,195.237595 C73.2998952,197.858779 68.8876815,199.189885 64.6407944,199.189885 L64.6407944,199.189885 Z" id="pp-pupil" stroke="#FFFFFF" stroke-width="12" fill="#080707")
      h2.u-textCenter.u-padTop--1 Pupil Player
