extends layout

block append title
  | #{ " - " + page.title}

block main
  //- Title block
  div(id="Pupil" class="Wallop-transform")
    - var page_data = contents.pupil['index.json']
    - var page_meta = page_data.metadata
    - var pupil_slides_data = contents.pupil.features['slides_pupil_drawings.json']
    - var pupil_slides_meta = pupil_slides_data.metadata
    
    //- slider 
    //- TODO - add bkg color class (not inline)
    //- TODO - pull slider images from json file and run in for loop
    - var slider_data = pupil_slides_meta
    - var slider_id = "Pupil-slider"
    - var slide_img_class = "Background-img--half-w Background-img-contain"
    - var slider_button_previous_inline_style = "left: 20px;"
    - var slider_button_next_inline_style = "right: calc(50vw + 20px);"
    - var slider_show_pagination = false

    div.Grid
      div(class="Background-img--full-wh Background-img-cover" style="background-image: url('../media/images/home/slides/03.jpg');")

    //- pupil intro row
    //- div(id="content-top" class="Site-content-container")
    //-   div.Feature-container-column
    //-     div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
    //-       div.Grid-cell.Grid-cell--full
    //-         div.Feature
    //-           h1.Feature-title--lg.u-textCenter Pupil
    //-           h2.Feature-subtitle.u-padBottom--1.u-textCenter.u-padTop--1 A platform for eye tracking and egocentric vision research
    //-           p.Feature-paragraph.u-textCenter.u-padTop--2 Pupil headsets are 3D printed frames that you wear like a pair of glasses. 
    //-           p.Feature-paragraph.u-textCenter Cameras record your field of view and your eye movements. Data is correlated with Pupil Capture software. 
    //-           p.Feature-paragraph.u-textCenter Pupil is designed as a modular system to support the diverse needs and applications of researchers.

    //- half width slider
    section(style="background-color:#6f7679;")
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--center
            div.Grid-cell.Grid-cell--full
              div(style="color: white;").Feature
                h1(style="color: white;").Feature-title--lg.u-textCenter Pupil
                h2.Feature-subtitle.u-padBottom--1.u-textCenter.u-padTop--1 A platform for eye tracking and egocentric vision research
                p.Feature-paragraph Pupil headsets are 3D printed frames that you wear like a pair of glasses. The hardware is designed as a #[strong modular system] that can be configured to support your research and application requirments.
            div(style="color: white;").Grid-cell.Grid-cell--1of3

                //- p.Feature-paragraph Cameras record your field of view and your eye movements. Data is correlated with Pupil Capture software. 
                each slide, i in slider_data
                  - var text_class = (i == 0 ? "Feature-paragraph Wallop-txt Wallop-txt--current" : "Feature-paragraph Wallop-txt Wallop-txt--hidden")
                  p(class=text_class)=slide.configuration_title + " - " + slide.configuration_text 

            div.Grid-cell.Grid-cell--2of3.u-padBottom--2
              div(id="pupil-headset-slider").Grid.Grid--center.Grid--align-ContentCenter.Wallop
                div.Wallop-list.Grid-cell.Grid-cell--full
                  each slide, i in slider_data    
                    - var slide_class = (i == 0 ? "Wallop-item Wallop-item--current" : "Wallop-item")
                    - var bkg_img = "background-image: url('"+slide.url+"');"
                    div(class=slide_class)
                      div(class="Background-img--full-w-grid Background-img-contain" style=bkg_img)

            div.Grid-cell.Grid-cell--full.u-textCenter.Wallop-pagination-container
              each slide, i in slider_data
                button.Wallop-dot

    //- software 
    //- div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg.u-padBottom--1 Software
                h2.Feature-paragraph.u-padBottom--1 Connect your Pupil headset to a Linux, MacOS, or Windows computer via USB 
                div.Grid.Grid-pad--1of2
                  div.Grid-cell
                    h2.Feature-subtitle.u-padBottom--1 Record
                    p.Feature-paragraph Pupil Capture is the software used with your Pupil headset.
                    p.Feature-paragraph Pupil Capture recieves video and audio streams, detects your pupil, tracks your gazem tracks markers in your environment, stream data in real-time over the network, and records data in an open format.
                  div.Grid-cell
                    h2.Feature-subtitle.u-padBottom--1 Play
                    p.Feature-paragraph Pupil Player is a media and data visualizer at its core. You will use it to look at Pupil Capture recordings. 
                    p.Feature-paragraph Visualize your data and export it. All Pupil software is open-source. You can modify it or write your own plugins to suit your needs.
                div.Grid.Grid--1of2
                  div.Grid-cell
                    div.Feature.u-padTop--2
                      figure.Feature-image--capturePlayerIcons
                        img(class="Feature-image" src="../media/graphics/web/pupil-app-icons/pc.png")
                      h2.Feature-subtitle.u-textCenter.u-padTop--1 Pupil Capture
                  div.Grid-cell
                    div.Feature.u-padTop--2
                      figure.Feature-image--capturePlayerIcons
                        img(class="Feature-image" src="../media/graphics/web/pupil-app-icons/pp.png")
                      h2.Feature-subtitle.u-textCenter.u-padTop--1 Pupil Player
    //- full width background image
    div.Grid
      div(class="Background-img--full-wh Background-img-cover" style="background-image: url('../media/images/home/slides/01.jpg');")


    //- open source
    div.Site-gray-bkg
    div.Site-content-container
      div.Feature-container-column
      div.Grid.Grid--1of2.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
        div.Grid-cell
          div.Feature
            h1.Feature-title--lg.u-padBottom--1 Open Source
            p.Feature-paragraph We believe in open source. All Pupil code is released with open source licenses.
            p.Feature-paragraph A lot of work went into making the software modular and accessible. The majority of the codebase is written in Python.
            p.Feature-paragraph We have developed a plugin structure that enables you to extend Pupil Capture and Pupil Player to suit your needs. 
            p.Feature-paragraph Check out the pupil repository on <a href="https://github.com/pupil-labs/pupil/" rel="noopener">Github</a>. Read developer documentation on the <a href="https://github.com/pupil-labs/pupil/wiki" rel="noopener">wiki</a>.
        div.Grid-cell
          div.Feature
            figure.Feature-figure
              img(class="Feature-image" src="../media/images/pupil_page/web/pupil_source_code.png")

    //- full width background image software screenshots
    //- div.Grid
    //-   div(class="Background-img--full-w-scroll--contain" style="background-image: url('../media/images/v04_world_eye_composite_screenshot.png');")


    //- design
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--1of2.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Design
              p.Feature-paragraph A lot of design and engineering thought has gone into getting the ergonomics of the headset just right.
              p.Feature-paragraph It is designed to fit snugly, securely, and comfortably. The headset and cameras can be adjusted to accommodate a wide range of users. The headset is made from laser sintered PA12, an extremely flexible, durable, and lightweight material.
          div.Grid-cell
            div.Feature
              figure.Feature-figure
                img(class="Feature-image" src="../media/images/pupil_page/web/frame_flex.jpg")

    //- tech specs and performance
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg.u-textCenter.u-padBottom--1 Technical Specifications & Performance
                p.Feature-paragraph.u-textCenter Eye tracking performance is determined in equal parts by the hardware and software. We constantly work on our algorithms and codebase, so you can expect a steady improvement and the latest features.
                p.Feature-paragraph.u-textCenter Accuracy 0.60 degrees 
                p.Feature-paragraph.u-textCenter Precision 0.08 degrees
                p.Feature-paragraph.u-textCenter Latency 5.7 ms (using 120hz eye and high speed world cameras)


    //- Modular & Hackable
    div.Site-content-container
      div.Feature-container-column
      div.Grid.Grid--1of2.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
        div.Grid-cell
          div.Feature
            h1.Feature-title--lg.u-padBottom--1 Modular & Hackable
            p.Feature-paragraph If we don't have the configuration you need, customize it yourself. Our camera mount geometry and electrical interface is open. We also like to work with users to create custom solutions. Get in touch if you're excited about SMD soldering and hacking: you can buy a DEV frame, buy parts, and follow assembly instructions to build your own Pupil DEV headset.
        div.Grid-cell
          div.Feature
            figure.Feature-figure
              figure.Feature-figure
              img(class="Feature-image" src="../media/images/pupil_page/web/dev_explo.jpg")

    //- Community
    div.Site-gray-bkg
      div(id="content-top" class="Site-content-container")
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg.u-textCenter.u-padBottom--1 Community
                p.Feature-paragraph.u-textCenter Pupil is driven by an active community. 
                p.Feature-paragraph.u-textCenter Make a fork of the Pupil Github repository and start developing. 
                p.Feature-paragraph.u-textCenter Read the docs and contribute to the user guide. 
                p.Feature-paragraph.u-textCenter Discuss your project and get free support.

    //- Commercial Use & Dedicated Suppor
    div(id="content-top" class="Site-content-container")
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg.u-textCenter.u-padBottom--1 Commercial Use & Dedicated Support
              p.Feature-paragraph.u-textCenter We offer dedicated email and video training and support packages. 
              p.Feature-paragraph.u-textCenter See support packages in the store. 
              p.Feature-paragraph.u-textCenter We offer use licenses to commercial users.
              p.Feature-paragraph.u-textCenter Contact us to discuss custom licensing options.


