extends layout

block main
  div.Pupil-flex-container
    //- Title block
    section.Pupil-flex-item-full-width-title
      h1.Pupil-item-title
      h2.Pupil-item-subtitle

    //- Selling points
    //- ====================================
    //- Configurable

    //- Design features

    //- Software

    //- Modular & Hackable

    