extends layout

block append title
  | #{ " - " + page.title}

block main
  //- Title block
  div(id="Store")
    - var page_data = contents.store['index.json']
    - var page_meta = page_data.metadata
    - var titleData = {'title':page_meta.title,'s1':page_meta.s1, 's2':page_meta.s2}    
    include includes/title

    //- Configurator
    include includes/configurator

    //- Additional Products
    div.Banner--gradientBkg--reverse.u-padBottom--2
        - var bannerData = {'title': 'Additional Products','subtitle': "cameras, lens sets, accessories, support packages, and more"}
        - var bannerBkg = "Banner-container--sm"
        include includes/banner

        section.Store-wrapper
          div.Grid--gutters.Aligner.Additional-products

    //- Pupil DIY    
    div.Banner-bkg--gray-darker
        //- - var bannerData = {'title': 'Pupil DIY','s1': 'If you are excited about SMD soldering and hacking','s2': 'you can buy the parts, modify cameras, and assemble a Pupil DEV headset'}
        //- - var bannerBkg = "Banner-container--sm"
        //- include includes/banner

        section.Store-wrapper--dev-diy
            div.Grid.Grid--1of2
                div.Grid-cell.u-textCenter
                    h1.Banner-title Pupil DEV
                    div.Feature
                      figure.Feature-figure.Feature-figure--config
                        img(id="pupil-config-img" class="Feature-image Feature-image--configEye" src="http://placehold.it/800x500/444444")
                    a(role='button' id='product_pupil_dev' class='AddToCart Button Button-inverse' href='#' data-product='product') Add to Cart

                div.Grid-cell.u-textCenter
                    h1.Banner-title Pupil DIY
                    h2.Banner-subtitle If you're excited about SMD soldering and hacking,
                    h2.Banner-subtitle you can buy the parts, modify cameras, and assemble a Pupil DEV headset
                    h3.Store-diy We have made a guide and a shopping list for you. The total cost for all parts is approximately € 300.  
                    div.Grid.Grid--gutters-noMargin.Grid--1of3
                        div.Grid-cell
                            a(href="https://github.com/pupil-labs/pupil/wiki/DIY-Kit-Guide" class="Button-inverse" target="_blank") DIY Guide
                        div.Grid-cell
                            a(href="https://docs.google.com/spreadsheets/d/1NRv2WixyXNINiq1WQQVs5upn20jakKyEl1R8NObrTgU/pub?single=true&gid=0&output=html" class="Button-inverse" target="_blank") BOM
                        div.Grid-cell
                            a(href="https://www.shapeways.com/product/LQJJK2CHQ/pupil-mobile-eye-tracking-headset" class="Button-inverse" target="_blank") DIY Frame

