extends layout

block main
  div.Pupil-flex-container
    //- Title block
    - var intro = contents.store['index.json']
    include partials/title

    section.Store-presets
      ul.Store-flex-nav-container
        each item in contents.store.products['pupil-presets.json'].metadata
          li.Store-flex-nav-item 
            a(href="#" class="Store-nav-link") #{ item.label } 

    //- Configurator
    div.Pupil-flex-row

      //- Images
      section.Pupil-flex-item-half-width
        img(class="Pupil-item-image" src="http://placehold.it/800/333333")
      
      //- Controls
      section.Pupil-flex-item-half-width
        h1.Pupil-item-h1 Configurator

    //- Grid of products
    section.Grid
      each item in contents.store.products['product-list.json'].metadata
        div.Grid--1of3
          img(class="Store-item-image" src=item.img)
          h2(class="Store-item-h2")= item.label
