extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="Store")
    - var page_data = contents.store['index.json']
    - var page_meta = page_data.metadata


    //- Pupil section
    section.Site-gray-bkg
      div.Site-content-container
        a(class='anchor' name="pupil")
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.u-padBottom--0 Pupil
              div.Grid
                div.Grid-cell.Grid-cell--full
                  h3 configure your hardware to suit your needs

    //- Configurator
    include includes/configurator


    //- VR/AR/MR
    section.Site-gray-bkg
      div.Site-content-container
        a(class='anchor' name="vr-ar")
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.u-padBottom--0 VR/AR
              div.Grid
                div.Grid-cell.Grid-cell--full
                  h3 integrate eye tracking into your vr and ar hardware

    div.Site-content-container
      div.Store-wrapper
        div.Grid--gutters-lg.Aligner.VR-AR-products

    //- Additional Products
    section.Site-gray-bkg
      div.Site-content-container
        a(class='anchor' name="additional-products")
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.u-padBottom--0 Additional Products
              div.Grid
                div.Grid-cell.Grid-cell--full
                  h3 add-ons, cameras, lens sets, accessories, support packages, and more

    div.Site-content-container
      div.Store-wrapper
        div.Grid--gutters-lg.Aligner.Additional-products
