extends layout

block append title
  | #{ " - " + page.title}

block main
  //- Title block
  div(id="Store")
    - var page_data = contents.store['index.json']
    - var page_meta = page_data.metadata
    - var titleData = {'title':page_meta.title,'s1':page_meta.s1, 's2':page_meta.s2}    
    include includes/title

    //- Configurator
    include includes/configurator

    //- Additional Products
    div.Banner--gradientBkg--reverse.u-padBottom--2
        - var bannerData = {'title': 'Additional Products','subtitle': "support packages, lenses, computers, and more"}
        include includes/banner

        section.Store-wrapper
          div.Grid--gutters.Aligner.Additional-products

    //- Pupil DIY    
    div.Banner-bkg--gray-darker
        - var bannerData = {'title': 'Pupil DIY'}
        include includes/banner

        section.Store-wrapper
            div.Grid.Grid--gutters.Grid--1of2
                div.Grid-cell

