extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="TOS")
    //- Title block
    - var page_data = contents.tos['index.json']
    - var page_meta = page_data.metadata
    - var tosContent =  contents.tos['tos_terms.md']
    div.Grid.Article
      div.Grid-cell--sidebar
      div.Grid-cell--main.u-padBottom--5
        section.content!= typogr(tosContent.html).typogrify()
      div.Grid-cell--sidebar
