extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="TOS")
    //- Title block
    - var page_data = contents.tos['index.json']
    - var page_meta = page_data.metadata
    - var tosContent =  contents.tos['tos_terms.md']
    div.Site-content-container
      div.Feature-container-column
        article.Grid
          header.Grid-cell.Grid-cell--full.Blog-article-header.u-textCenter
            h1.Blog-article-title Terms of Sale
          section.Grid-cell.Grid-cell--full.content!= typogr(tosContent.html).typogrify()
