extends layout

block append title
  | #{ " - " + page.title}

block main
  //- Title block
  div(id="VR-AR")
    - var page_data = contents['vr-ar']['index.json']
    - var page_meta = page_data.metadata
    - var vr_ar_slides_data = contents['vr-ar']['slides_vr.json']
    - var vr_ar_slides_meta = vr_ar_slides_data.metadata
    
    //- slider 
    //- TODO - add bkg color class (not inline)
    //- TODO - pull slider images from json file and run in for loop
    - var slider_data = vr_ar_slides_meta
    - var slider_inline_style = "background-color: gray;"
    - var slider_id = "VR-AR-slider"

    include  includes/slider.jade

    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Eye Tracking
              h2 for
            div.Grid.Grid--1of3
              div.Grid-cell
                p.Feature-paragraph VR
              div.Grid-cell
                p.Feature-paragraph AR
              div.Grid-cell
                p.Feature-paragraph MR
