extends layout

block append title
  | #{ " - " + page.title}

block page_scripts
  script(src=contents.js['bkg_video.js'].url)

block main
  div(id="VR-AR" class="Site-transform")

    div(id="Oculus-addon-cup-video-container").Background-img-top.Background-video-container 
      video(id="background-video" muted).Background-video
      div(id="video_cover" class="Background-img--full-wh" data-src="../media/images/vr_ar/still/dk2-cup.png")   

    //- intro
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Eye Tracking
              h2 for
            div.Grid.Grid--1of3
              div.Grid-cell
                p.Feature-title--lg VR
                p.Feature-paragraph Virtual Reality 
              div.Grid-cell
                p.Feature-title--lg AR
                p.Feature-paragraph Augmented Reality
              div.Grid-cell
                p.Feature-title--lg MR
                p.Feature-paragraph Mixed Reality
            div.Grid-cell.Grid-cell--full
              p.Feature-paragraph Our goal is to work with and support a community of researchers and developers in creating reusable open source software for eye tracking in HMDs. Many developers have already thought of, or implemented eye tracking software HMDs. Instead re-inventing the wheels, we have formed a community to share knowledge and tools.

    //- additional products
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Hardware Add-On
            div.Grid.Grid--1of3
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  img(class="Feature-image" src="../media/images/store_vr_ar/oculusdk2m.png")
                p.Feature-paragraph 120hz monocular eye tracking add-on for Oculus DK2. Includes one custom lens cup with IR mirror. IR LEDs. 1 x 120 Hz eye camera, and USB cables.
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  img(class="Feature-image" src="../media/images/store_vr_ar/addon_epson_bt200a.png")
                p.Feature-paragraph Augmented Reality
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  img(class="Feature-image" src="../media/images/store_vr_ar/addon_epson_bt200a.png")
                p.Feature-paragraph Mixed Reality

    //- full width background image
    //- div.Grid
    //-   feature(class="Background-img--full-wh-grid Background-img-cover" style="background-image: url('../media/images/home/slides/01.jpg');")

    //- software
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Software
            div.Grid-cell.Grid-cell--full There is no one size fits all approach for this. So we have made Pupil Service - based on Pupil Capture that gives you access to all data (from eye video, to pupil data, gaze data). 

        div.Grid.Grid--1of2
          div.Grid-cell
              div.Feature
              figure.Feature-figure
                img(class="Feature-image" src="../media/images/blog/pupil-service.png")
              p.Feature-paragraph Pupil Service
              p.Feature-paragraph Explains what it is and how it works

            div.Grid-cell
              div.Feature
              figure.Feature-figure
                img(class="Feature-image" src="../media/images/blog/pupil-service.png")
              p.Feature-paragraph HMD Eyes
              p.Feature-paragraph Explains what it is


    //- made in berlin row
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Community
            div.Grid
              div.Grid.Grid--1of3
                div.Grid-cell
                  div.Feature
                  figure.Feature-figure
                    img(class="Feature-image" src="../media/images/additional_products/web/addon_oculus_dk2.png")
                  p.Feature-paragraph Github
                div.Grid-cell
                  div.Feature
                  figure.Feature-figure
                    img(class="Feature-image" src="../media/images/additional_products/web/addon_epson_bt200a.png")
                  p.Feature-paragraph Gitter
                div.Grid-cell
                  div.Feature
                  figure.Feature-figure
                    img(class="Feature-image" src="../media/images/additional_products/web/addon_epson_bt200a.png")
                  p.Feature-paragraph Mailing List
