a(href="https://github.com/pupil-labs/pupil/releases/latest" title="Download Pupil Service" rel="noopener")
  svg( width="150px" height="150px" viewBox="0 0 272 272" xmlns="http://www.w3.org/2000/svg")
    defs
      radialGradient( cx="50%" cy="50%" fx="50%" fy="50%" r="48.1515067%" id="radialGradient-1")
        stop( stop-color="#A1DEF0" offset="0%")
        stop( stop-color="#92E0E2" offset="74.7820504%")
        stop( stop-color="#38EA92" offset="100%")
    g( stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
      g(id="ps" transform="translate(17.000000, 17.000000)")
        rect( id="iris" fill="url(#radialGradient-1)" x="6.60804744e-13" y="0" width="238" height="238" rx="75.2400007")
        rect( id="pupil" stroke="#FFFFFF" stroke-width="12" fill="#080707" x="53" y="53" width="131" height="131" rx="38")
  h2.u-padTop--1.u-textCenter Pupil Service

