extends layout

block append title
  | #{ " - " + page.title}

block page_scripts
  script(src=contents.js['bkg_video.js'].url)

block main
  div(id="VR-AR" class="Site-transform")

    div(id="Oculus-addon-cup-video-container").Background-img-top.Background-video-container 
      video(id="background-video" muted).Background-video
      div(id="video_cover" class="Background-img--full-wh Background-img-contain" style="background-image: url('../media/images/vr_ar/still/dk2-cup.png');")   
      div(id="play" style="display:none;").Site-content-container.Background-img-button-container.u-textCenter
        i(style="font-size: 6em;").Background-img-caption.material-icons play_arrow


    //- intro
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Eye Tracking
              h2 for
            div.Grid.Grid--1of2
              div.Grid-cell
                p.Feature-title--lg VR
                p.Feature-paragraph Virtual Reality 
              div.Grid-cell
                p.Feature-title--lg AR
                p.Feature-paragraph Augmented Reality
            div.Grid-cell.Grid-cell--full
              p.Feature-paragraph To enable eye tracking without compromise on the AR and VR experience we have created eye tracking add-ons for the current range of leading AR and VR platforms. Choose the AR/VR hardware you prefer or already own and augment it with our tools-free drop-in eye tracking hardware. Use our software tools for your work or roll your own. With our open source software and direct access to the raw eye video feed this becomes your choice.

    //- additional products
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Hardware Add-On
            div.Grid.Grid--1of2
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  img(class="Feature-image" src="../media/images/store_vr_ar/htcviveb.png")
                  //- include name of the hardware??
                  //- p.Feature-paragraph HTC Vive Binocular Add-on
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  img(class="Feature-image" src="../media/images/store_vr_ar/oculusdk2m.png")
                  //- p.Feature-paragraph Oculus Rift DK2 Binocular Add-on Cup
            div.Grid-cell.Grid-cell--full.u-padTop--2
              p.Feature-paragraph Our add-ons give your AR/VR Headset eye tracking powers. The video is transferred to your host via USB2.0. The hardware can easily be attached and removed. The cameras work at 120hz and have a latency of 5.7ms. Fast enough for interaction applications and detection of saccades and quick fixations.

    //- full width background image
    //- div.Grid
    //-   feature(class="Background-img--full-wh-grid Background-img-cover" style="background-image: url('../media/images/home/slides/01.jpg');")

    //- software
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Software
            div.Grid-cell.Grid-cell--full 
              p.Feature-paragraph There is no one size fits all approach for this. So we have made Pupil Service - based on Pupil Capture that gives you access to all data (from eye video, to pupil data, gaze data). Get the lasted release for free here:
          div.Grid-cell
              div.Feature
                a(href="https://github.com/pupil-labs/pupil/releases/latest" title="Download Pupil Player" rel="noopener")
                  //- icon size bit big i think
                  figure.Feature-image--capturePlayerIcons
                    img(class="Feature-image" src="../media/images/blog/pupil-service.png")
                  h2.Feature-paragraph.u-textCenter Pupil Service
              p.Feature-paragraph.u-textCenter We created a community driven repository of tools to hmd eye tracking. We call it #[a(href="https://gitter.im/pupil-labs/hmd-eyes" rel="noopener") HMD-eyes]

    //- community
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Community
            div.Grid
              p.Feature-paragraph Our goal is to work with and support a community of researchers and developers in creating reusable open source software for eye tracking in HMDs. Many developers have already thought of, or implemented eye tracking software HMDs. Instead of continuing to re-inventing wheels, we have formed a community to share knowledge and tools.
            div.Grid.Grid--1of3.u-padTop--2
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                h3 #[a(href="https://github.com/pupil-labs/" rel="noopener") Github]
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                h3 #[a(href="https://gitter.im/pupil-labs/pupil" rel="noopener") Gitter]
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                h3 #[a(href="mailto:info@pupil-labs.com" rel="noopener") Mailing List]
