extends layout

block append title
  | #{ " - " + page.title}

block page_scripts
  script(src=contents.js['bkg_video.js'].url)

block main
  div(id="VR-AR" class="Site-transform")

    div(id="Oculus-addon-cup-video-container").Background-img-top.Background-video-container 
      video(id="background-video" muted).Background-video
      div(id="video_cover" class="Background-img--full-wh Background-img-contain" style="background-image: url('../media/images/vr_ar/still/dk2-cup.png');")   
      div(id="play" style="display:none;").Site-content-container.Background-img-button-container.u-textCenter
        i(style="font-size: 6em;").Background-img-caption.material-icons play_arrow


    //- intro
    section.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1 Eye Tracking
                h2 for
            div.Grid-cell.Grid-cell--full
              div.Grid.Grid--1of3.u-textCenter.u-padBottom--1
                div.Grid-cell
                  h1.u-padBottom--0 VR
                  p Virtual Reality 
                div.Grid-cell
                  h1.u-padBottom--0 +
                div.Grid-cell
                  h1.u-padBottom--0 AR
                  p Augmented Reality
            div.Grid-cell.Grid-cell--full
              p We have created eye tracking add-ons for the current range of leading VR and AR platforms. Our add-ons enable eye tracking without compromising your VR or AR experience.
              p You can use the VR or AR hardware you already own, and augment it with our tool-free, drop-in eye tracking hardware. 
              p You can use our software platform, or roll your own. With our open source software and direct access to the raw eye video feeds you are never locked into a platform.

    //- additional products
    section.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1 Hardware Add-Ons
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Grid.Grid--gutters.Grid--1of2.Grid--bottom
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  picture(class="ratio-box lazy-img style="padding-bottom:55%;"")
                    source(srcset="../media/images/store_vr_ar/htcviveb.webp" type="image/webp")
                    source(srcset="../media/images/store_vr_ar/htcviveb.png" type="image/png")
                    img(class="img-small" src="../media/images/store_vr_ar/htcviveb.webp")
                    img(class="img-large lazyload" data-src="../media/images/store_vr_ar/htcviveb.webp" title="HTC Vive Binocular Add-on" alt="HTC Vive Binocular Add-on")
                  p #[a(href="/store#vr-ar" title="Pupil Labs Store HTC Vive Binocular Add-on") HTC Vive Binocular Add-on]
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  picture(class="ratio-box lazy-img" style="padding-bottom:55%;")
                    source(srcset="../media/images/store_vr_ar/addon_hololens.webp" type="image/webp")
                    source(srcset="../media/images/store_vr_ar/addon_hololens.jpg" type="image/jpeg")
                    img(class="img-small" src="../media/images/store_vr_ar/addon_hololens.webp")
                    img(class="img-large lazyload" data-src="../media/images/store_vr_ar/addon_hololens.webp" title="Microsoft Hololens Add-on" alt="Microsoft Hololens Binocular Add-on")
                  p #[a(href="/store#vr-ar" title="Pupil Labs Store Microsoft Hololens Binocular Add-on") Microsoft Hololens Binocular Add-on]
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Grid.Grid--gutters.Grid--1of2.Grid--bottom        
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  picture(class="ratio-box lazy-img" style="padding-bottom:55%;")
                    source(srcset="../media/images/store_vr_ar/addon_epson_bt300b.webp" type="image/webp")
                    source(srcset="../media/images/store_vr_ar/addon_epson_bt300b.jpg" type="image/jpeg")
                    img(class="Feature-image img-small" src="../media/images/store_vr_ar/addon_epson_bt300b.jpg")
                    img(class="Feature-image img-large lazyload" data-src="../media/images/store_vr_ar/addon_epson_bt300b.jpg" title="Epson BT-300 Add-on" alt="Epson BT-300 Add-on")
                  p #[a(href="/store#vr-ar" title="Pupil Labs Store Epson BT-300 add-on") Epson BT-300 Add-on]
              div.Grid-cell
                div.Feature
                figure.Feature-figure
                  picture(class="ratio-box lazy-img" style="padding-bottom:55%;")
                    source(srcset="../media/images/store_vr_ar/oculusdk2m.webp" type="image/webp")
                    source(srcset="../media/images/store_vr_ar/oculusdk2m.png" type="image/png")
                    img(class="img-small" src="../media/images/store_vr_ar/oculusdk2m.png")
                    img(class="img-large lazyload" data-src="../media/images/store_vr_ar/oculusdk2m.png" title="Oculus Rift DK2 Binocular Add-on" alt="Oculus Rift DK2 Binocular Add-on")
                  p #[a(href="/store#vr-ar" title="Oculus Rift DK2 Binocular Add-on") Oculus Rift DK2 Binocular Add-on]
          div.Grid-cell.Grid-cell--full.u-padTop--2
            p Our add-ons give your AR/VR Headset eye tracking superpowers. Eye videos are transferred to your host via USB 2.0. 
            p The hardware is easily attached and removed. Eye cameras can run up to 120hz and have a latency of 5.7ms. Fast enough for interaction applications and detection of saccades and quick fixations.


    //- software
    section.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1 Software
            div.Grid-cell.Grid-cell--full.u-textCenter
              p There is no one size fits all approach - that is why we made Pupil Service. 
              p Pupil Service is based on Pupil Capture and gives you access to all data: eye videos, to pupil data, gaze data, and more. Get the lastest release below.
            div.u-padTop--1
              include vr-ar-svg
            div.Grid-cell.Grid-cell--full
              p We also maintain and contribute to a community driven repository of tools for eye tracking in head mounted displays called #[a(href="https://gitter.im/pupil-labs/hmd-eyes" title="HMD-eyes on Github" rel="noopener") HMD-eyes]


    section.Site-content-container
      a(name="technical-specs")
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1 Technical Specifications & Performance
              h4 VR and AR add-ons share many of the same specifications due to our modular design approach. There are subtle differences in specs and performance where noted in the table below. 
            div.Grid-cell.TechSpecs-container
              div.Grid-cell.TechSpecs--world
                table.TechSpecs-table-feature.TechSpecs-txt--world
                  tbody
                    tr
                      td.Table--column #[strong Basic Capabilities]
                      td
                    tr
                      td.Table--column Mono | Stereo
                      td Both, depending on desired setup
                    tr
                      td.Table--column Tracking Frequency
                      td 120Hz
                    tr
                      td.Table--column Field of View
                      td HTC Vive, Oculus DK2: up to HMD limits. Epson BT-200: greater than 100 deg
                    tr
                      td.Table--column Gaze Accuracy
                      td ~1.0deg
                    tr
                      td.Table--column Gaze Precision
                      td ~0.08deg
                    tr
                      td.Table--column #[strong Latency]
                      td 
                    tr
                      td.Table--column Camera Latency
                      td 5.7ms
                    tr
                      td.Table--column Processing latency
                      td 3-4ms on i5 CPU
                    tr
                      td.Table--column #[strong Imaging]
                      td 
                    tr
                      td.Table--column Resolution
                      td 640x480
                    tr
                      td.Table--column Connection
                      td USB 2.0
                    tr
                      td.Table--column Saturation
                      td Interconnected bandwidth USB 2.0 ~60% saturation
                    tr
                      td.Table--column #[strong Data Output]
                      td 
                    tr
                      td.Table--column Combined Eye Gaze
                      td Yes
                    tr
                      td.Table--column Independent Eye Gaze 
                      td Yes - 1 gaze point per eye
                    tr
                      td.Table--column Pupil Position
                      td Yes
                    tr
                      td.Table--column Pupil Diameter
                      td Yes - units in pixels using 2d appearance, units in mm using 3d model
                    tr
                      td.Table--column Velocity | Acceleration
                      td Can be implemented if desired
                    tr
                      td.Table--column Eye Accomodation
                      td Yes, using binocular vergence
                    tr
                      td.Table--column #[strong Calibration]
                      td 
                    tr
                      td.Table--column Method
                      td 5 point
                    tr
                      td.Table--column #[strong Power | Performance | Memory]
                      td 
                    tr
                      td.Table--column Host CPU % Utilization 
                      td 50% of one core per eye
                    tr
                      td.Table--column #[strong Connectivity]
                      td 
                    tr
                      td.Table--column SDK
                      td #[a(href="http://docs.pupil-labs.com/#interprocess-and-network-communication" title="Pupil Docs - Interprocess and Network Communication" rel="noopener") Through network message based API]
                    tr
                      td.Table--column Plugin for Game Engines
                      td #[a(href="https://github.com/pupil-labs/hmd-eyes" title="HMD Eyes" rel="noopener") Reference plugin] implementation for Unity3D


    //- community
    section.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.Feature-title--lg.u-padBottom--1 Community
            div.Grid-cell.Grid-cell--full.u-textCenter
              p Our goal is to work with and support a community of researchers and developers in creating reusable open source software for eye tracking in HMDs. 
              p Many researchers and developers have already thought of, or implemented eye tracking software HMDs. Instead of continuing to reinvent the wheel, we have formed a community with the goal of sharing knowledge and tools.
              p Fork the hmd-eyes code on  #[a(href="https://github.com/pupil-labs/hmd-eyes" title="hmd-eyes on Github" rel="noopener") Github]. Chat with the hmd-eyes community on #[a(href="https://gitter.im/pupil-labs/hmd-eyes" title="HMD-eyes Gitter chat" rel="noopener") Gitter].

