<!doctype html>
<html class="" lang="en">
{% include 'includes/head.html' %}

<body class="Site">
  <div class="Site-container">
    {% include 'includes/header.html' %}
    
    <main role="main" class="Site-fade-in">
    {% block main %}{% endblock main %}
    </main>
    
  </div> <!-- Site-contentContainer -->
    {% include 'includes/footer.html' %}

    {% include 'includes/js.html' %}
    <!-- {% include 'includes/ga.html' %} -->
    {% block scripts %}{% endblock scripts %}
</body>
</html>