{% extends 'base.html' %}
{% block main %}
  <div class="Home-flex-container">
    <section class="Home-flex-item-full-width">
      <h1 class="Home-item-h1">{{ page.pupil_title }}</h1>
      <h2 class="Home-item-h2">{{ page.pupil_subtitle }}</h2>
    </section>
    <section class="Home-flex-item-half-width">
      <!-- <h2 class="Home-item-h2">Pupil</h2> -->
      <img class="Home-item-image" src="/{{ THEME_STATIC_DIR }}/images/pupil_binocular_high_speed.png" alt="Pupil Binocular">
    </section>
    <section class="Home-flex-item-half-width">
      <h2 class="Home-item-h2">Pupil Description</h2>
    </section>
    <section class="Home-flex-item-half-width">
      <h2 class="Home-item-h2">About Us</h2>
    </section>
    <section class="Home-flex-item-half-width">
      <h2 class="Home-item-h2">Recent Blog Posts</h2>
    </section>
  </div>
{% endblock main %}