{% extends 'base.html' %}
{% block main %}
  <div class="Pupil-flex-container">
    <section class="Pupil-flex-item-full-width-title">
      <h1 class="Pupil-item-title">{{ page.title }}</h1>
      <h2 class="Pupil-item-subtitle">{{ page.subtitle }}</h2>
    </section>

    <!-- Configurable -->
    <div class="Pupil-flex-row">
      <section class="Pupil-flex-item-half-width">
        <img src="http://placehold.it/800/555555&text=Config+Images" class="Pupil-item-image">
      </section>
      <section class="Pupil-flex-item-half-width">
        <h1 class="Pupil-item-h1">Configurable</h1>
      </section>
    </div>

    <!-- Design -->
    <div class="Pupil-flex-row-reverse">
      <section class="Pupil-flex-item-half-width">
        <h1 class="Pupil-item-h1">Design</h1>
      </section>
      <section class="Pupil-flex-item-half-width">
        <img src="http://placehold.it/800/444&text=Design+Images" class="Pupil-item-image">
      </section>
    </div>

    <!-- Software -->
    <div class="Pupil-flex-row">
      <section class="Pupil-flex-item-half-width">
        <img src="http://placehold.it/800/333&text=Software+Images" class="Pupil-item-image">
      </section>
      <section class="Pupil-flex-item-half-width">
        <h1 class="Pupil-item-h1">Software</h1>
      </section>
    </div>

    <!-- Modular + Hackable -->
    <div class="Pupil-flex-row-reverse">
      <section class="Pupil-flex-item-half-width">
        <h1 class="Pupil-item-h1">Modular + Hackable</h1>
      </section>
      <section class="Pupil-flex-item-half-width">
        <img src="http://placehold.it/800/222&text=Modular+Images" class="Pupil-item-image">
      </section>
    </div>

    <!-- Open Source Software -->
    <section class="Pupil-flex-item-full-width">
      <h1 class="Pupil-item-title">Open Source Software</h1>
    </section>

    <!-- Community + License -->
    <section class="Pupil-flex-item-half-width">
      <h1 class="Pupil-item-h1">Community</h1>
    </section>
    <section class="Pupil-flex-item-half-width">
      <h1 class="Pupil-item-h1">License</h1>
    </section>

	</div>
{% endblock main %}