{% extends 'base.html' %}
{% block main %}
  <div class="Home-flex-container">
    <section class="Home-flex-item-full-width">
      <h1 class="Home-item-title">{{ page.pupil_title }}</h1>
      <h2 class="Home-item-subtitle">{{ page.pupil_subtitle }}</h2>
    </section>
    <section class="Home-flex-item-half-width">
    <!-- Pupil Image -->
      <img class="Home-item-image" src="/{{ THEME_STATIC_DIR }}/images/pupil_binocular_high_speed.png" alt="Pupil Binocular">
    </section>
    <section class="Home-flex-item-half-width">
      <h1 class="Home-item-h1">Pupil</h1>
      <h2 class="Home-item-h2-pupil">{{ page.pupil_description_1 }}</h2>
      <h2 class="Home-item-h2-pupil">{{ page.pupil_description_2 }}</h2>
      <a href="{{ SITEURL }}/pupil" class="button-flex">Order Now</a>
    </section>
    <section class="Home-flex-item-half-width">
      <h2 class="Home-item-h2">About Us</h2>
    </section>
    <section class="Home-flex-item-half-width">
      <h2 class="Home-item-h2">Recent Blog Posts</h2>
    </section>
  </div>
{% endblock main %}