{% extends 'base.html' %}
{% block main %}
  <div class="Home-flex-container">
    <section class="Home-flex-item-full-width">
      <h1 class="Home-item-title">{{ page.pupil_title }}</h1>
      <h2 class="Home-item-subtitle">{{ page.pupil_subtitle }}</h2>
    </section>
    <section class="Home-flex-item-half-width">
    <!-- Pupil Image -->
      <img class="Home-item-image" src="/{{ THEME_STATIC_DIR }}/images/pupil_binocular_high_speed.png" alt="Pupil Binocular">
    </section>
    <section class="Home-flex-item-half-width">
      <h1 class="Home-item-h1">Pupil</h1>
      <h2 class="Home-item-h2-pupil">{{ page.pupil_description_1 }}</h2>
      <h2 class="Home-item-h2-pupil">{{ page.pupil_description_2 }}</h2>
      <a href="{{ SITEURL }}/pupil" class="button-flex">Order Now</a>
    </section>
    <section class="Home-flex-item-half-width-stretch">
      <h2 class="Home-item-h1">Recent Blog Posts</h2>
      <ul class="Article-summary-list">
      {% for a in articles[:4] -%}
        <li class="Article-list-item">
          <article>
            <header>
              <h2 class="Article-title-h2">{{ a.title }}</h2>
              <p>
                <time datetime="{{ a.date.strftime('%Y-%M-%d') }}" class="Article-time">{{ a.date.strftime('%Y %B %d') }}</time>
              </p>
            </header>
              <p>
              {{ a.summary }}
              </p>
            <a href="{{ a.url }}" class="Article-link">read more &#9657;</a>
          </article>
        </li>
      {%- endfor %}
      </ul>
    </section>
    <section class="Home-flex-item-half-width-stretch">
      <h2 class="Home-item-h1">About Us</h2>
      <article>
      </article>
    </section>
  </div>
{% endblock main %}

