{% extends 'base.html' %}
{% block main %}
  <div class="Store-flex-container">

    <div class="Store-flex-row">
      <section class="Store-flex-item-full-width">
        <!-- Pupil Presets -->
      </section>
    </div>

    <!-- Configurator -->
    <div class="Store-flex-row">
      <section class="Store-flex-item-half-width">
      <!-- Pupil Configurator Images -->
      </section>

      <section class="Store-flex-item-half-width">
      <!-- Pupil Configurator Controls -->
      </section>
    </div>

    <!-- Additional Products Grid -->
    <div class="Store-flex-row">
      <!-- Loop through store items -->
    </div>
  
  </div>
{% endblock main %}