    
ul.Activity
  word-wrap break-word
  li 
    font-weight 700
    font-family $font-family-sans-serif
    color #555
    font-size .85em
    
    p
      font-weight 400
      font-family $font-family-sans-serif-alt
      font-size .85em
      margin-left 1em

.Activity-releaseEvent
  font-weight 700
  font-family $font-family-sans-serif-alt

.Activity-releaseEvent--tag
  background $gray-darker
  color #fff

