    
ul.Activity
  word-wrap break-word
  list-style none

  li 
    // font-weight 700
    // font-family $font-family-sans-serif
    color $gray
    // font-size .85em
    
    p
      padding-left 1.3em
      // font-weight 400
      // font-family $font-family-sans-serif-alt
      // font-size .85em
      // margin-left 1em

.Activity-releaseEvent
  font-weight 700
  // font-family $font-family-sans-serif-alt

.Activity-releaseEvent--tag
  background $gray-darker
  color #fff
    

