@keyframes reveal 
  0%
    opacity 0

  100% 
    opacity 1
  

@keyframes loading 
  0%
    width .25em
  50%
    width 2.25em
  100%
    width .25em
    

.container
  width 80%
  margin auto
  
.svg-container
  width 100%
  max-width 100%
  height auto



.cube_color 
  animation color 4s 3s infinite cubic-bezier(.05, .08, 0.365, 1)
  -webkit-animation color 4s 3s infinite cubic-bezier(.05, .08, 0.365, 1)
  -webkit-animation-fill-mode forwards
  animation-fill-mode forwards


.cube_outline 
  animation line 4s 3s infinite cubic-bezier(.05, .08, 0.365, 1)
  -webkit-animation line 4s 3s infinite cubic-bezier(.05, .08, 0.365, 1)
  -webkit-animation-fill-mode forwards
  animation-fill-mode forwards


@keyframes line 
  0%

    transform translate(0px, 0px)
    
  100%

    transform translate(-70px, -70px)


@keyframes color 
  0%

    opacity 1
    transform translate(0px, 0px)

  85%
    opacity .8
    
  100%

    opacity 0
    transform translate(-70px, -70px)


.loop 
  stroke #000000
  stroke-width 1px

@keyframes offset 
  to 
    stroke-dashoffset: 0px;

.loop 
  animation offset 2s linear forwards

.loop-circle 
  transform translate(-300, -300)
