.Banner
	padding 0
	margin 0
	min-height 40vh
	padding 5em

	@media $break-lg
		min-height 60vh

.Banner--gradientBkg
	background linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(255,255,255,1))

.Banner-title
	text-align center!important
	position relative
	color #515151 // move to h1 styles or darken color
	font-size 2.9em
	
	@media $break-lg
		font-size 4em	
	
.Banner-subtitle
	text-align center!important
	text-shadow 0 1px 0 rgba(0,0,0,.1)		
	font-size 1.6em
	
	 