#Blog
  // background linear-gradient(to bottom, rgba(255,255,255,1) 5%, rgba(255,255,255,.0001), rgba(0,0,0,.35))

.Blog-row
  &:nth-child(even)
    background #f5f5f5

.Blog-pageTitle
  background transparent
  
.Blog-articleLink
  // 

.Blog-article
  padding 5em
  background transparent
  transition color .3s ease-in-out, background .3s ease-in-out
  
  &:active
    background $link-hover-color  

  @media $break-sm
    padding 3em .8em 3em .8em

.Blog-article-intro
  padding-left 2em
  @media $break-767
    padding-left 0em
    
.Blog-article-header
  padding-bottom 5em
  padding-top 1em

.Blog-article-title
  padding-bottom 0.1em
  color #666

.Blog-article-subtitle
  color $gray
  
    
.no-touch
  .Blog-article
    &:hover
      background rgba(0,0,0,.5)
      
      .Blog-article-title      
        color darken(#666, 30%)
      .Blog-article-subtitle
        color lighten($gray,70%)
      .Blog-article-date
        color lighten($text-color,70%)
    &:active
      transition none
      background darken($link-hover-color,25%)  


.Blog-article-date
  color $text-color
  
.Blog-content *  
    color invert($text-color)
  
.Blog-content h2
  color darken(#fff,5%)
  
.Blog-nav
  padding 3em 3em
  
.Blog-nav-link
  font-family $font-family-sans-serif
  font-weight 700
  transition color .4s ease
  letter-spacing .01em  
  text-align center 
  
  @media $break-lg
    // big screen
    font-size 1.1em 
    
  @media $break-sm
    // small screen
    font-size 1.05em 
    



.ui.compact.menu 
  display inline-flex
  margin 20px
  vertical-align middle
  position relative

.ui.compact.vertical.menu 
  display inline-block

.ui.compact.menu .item:last-child 
  border-radius 0em 0.285714rem 0.285714rem 0em

.ui.compact.menu .item:last-child:before 
  display none

.ui.compact.vertical.menu 
  width auto !important

.ui.compact.vertical.menu .item:last-child::before 
  display block

.ui.simple.dropdown .menu:before,
.ui.simple.dropdown .menu:after 
  display none

.ui.simple.dropdown .menu 
  position absolute
  display block
  overflow hidden
  top -9999px !important
  opacity 0
  width 0
  height 0
  -webkit-transition opacity 0.1s ease
  transition opacity 0.1s ease

.ui.simple.active.dropdown,
.ui.simple.dropdown:hover 
  border-bottom-left-radius 0em !important
  border-bottom-right-radius 0em !important

.ui.simple.active.dropdown > .menu,
.ui.simple.dropdown:hover > .menu 
  overflow visible
  width auto
  height auto
  top 100% !important
  opacity 1

.ui.simple.dropdown > .menu > .item:active > .menu,
.ui.simple.dropdown:hover > .menu > .item:hover > .menu 
  overflow visible
  width auto
  height auto
  top 0% !important
  left 100% !important
  opacity 1

.ui.simple.disabled.dropdown:hover .menu 
  display none
  height 0px
  width 0px
  overflow hidden


/* Visible */
.ui.simple.visible.dropdown > .menu 
  display block
  
.ui.menu 
  display flex
  margin 1rem 0px
  font-family $font-family-sans-serif
  background rgba(34,36,38,0.14902)
  font-weight 400
  border 1px solid rgba(34, 36, 38, 0.15)
  box-shadow rgba(34,36,38,0.14902) 0px 1px 2px 0px
  border-radius 0.285714rem
  min-height 2.85714em


.ui.menu:after 
  content ''
  display block
  height 0px
  clear both
  visibility hidden


.ui.menu:first-child 
  margin-top 0rem

.ui.menu:last-child 
  margin-bottom 0rem
  
.ui.items > .item 
  display @display
  margin @itemSpacing 0em
  width @width
  min-height @minHeight
  background @background
  padding @padding

  border @border
  border-radius 0.285714rem
  box-shadow @boxShadow
  transition @transition
  z-index @zIndex

.ui.items > .item a 
  cursor pointer


/*--------------
      Items
---------------*/

.ui.items 
  margin @groupMargin


.ui.items:first-child 
  margin-top 0em !important

.ui.items:last-child 
  margin-bottom 0em !important


/*--------------
      Item
---------------*/

.ui.items > .item:after 
  display block
  content ' '
  height 0px
  clear both
  overflow hidden
  visibility hidden

.ui.items > .item:first-child 
  margin-top 0em

.ui.items > .item:last-child 
  margin-bottom 0em
  

.ui.menu .menu 
  margin 0em


.ui.menu:not(.vertical) > .menu 
  display flex


/*--------------
      Item
---------------*/

.ui.menu:not(.vertical) .item 
  display flex
  align-items center
  -webkit-box-align center


.ui.menu .item 
  position relative
  vertical-align middle
  line-height 1
  text-decoration none
  -webkit-tap-highlight-color transparent
  -webkit-box-flex 0
  -webkit-user-select none

  background 0px 0px
  padding 0.928571em 1.14286em
  text-transform none
  color rgba(0,0,0,0.870588)
  font-weight 400
  transition background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease


.ui.menu > .item:first-child 
  border-radius 0.285714rem 0px 0px 0.285714rem


/* Border */
.ui.menu .item:before 
  position absolute
  content ''
  top 0%
  right 0px
  height 100%

  width @dividerSize
  background @dividerBackground



/*******************************
            Dropdown
*******************************/

.ui.dropdown 
  cursor pointer
  position relative
  display:inline-block
  outline none
  text-align left
  -webkit-transition box-shadow 0.1s ease, width 0.1s ease
  transition box-shadow 0.1s ease, width 0.1s ease
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)



/*******************************
            Content
*******************************/


/*--------------
      Menu
---------------*/

.ui.dropdown .menu 
  cursor auto
  position absolute
  display none
  outline none
  top 100%
  min-width -webkit-max-content
  min-width -moz-max-content
  min-width max-content
  margin 0em
  padding 0em 0em
  background #FFFFFF
  font-size 1em
  text-shadow none
  text-align left
  box-shadow 0px 2px 3px 0px rgba(34, 36, 38, 0.15)
  border 1px solid rgba(34, 36, 38, 0.15)
  border-radius 0.28571429rem
  -webkit-transition opacity 0.1s ease
  transition: opacity 0.1s ease
  z-index 11
  will-change transform, opacity

.ui.dropdown .menu > * 
  white-space nowrap
  

.ui.menu .dropdown.item .menu 
  left 0px
  min-width calc(100% - 1px)
  border-radius 0em 0em 0.285714rem 0.285714rem
  background rgb(255, 255, 255)
  margin 0px
  box-shadow rgba(0, 0, 0, 0.0784314) 0px 1px 3px 0px
  flex-direction column !important
  -webkit-box-orient: vertical
  -webkit-box-direction: normal



/* Menu Items */
.ui.menu .ui.dropdown .menu > .item 
  margin 0
  text-align left
  font-size 1em
  padding 0.785714em 1.14286em !important
  background 0px 0px !important
  color rgba(0, 0, 0, 0.870588) !important
  text-transform none !important
  font-weight 400 !important
  box-shadow none !important
  transition none !important

.ui.menu .ui.dropdown .menu > .item:hover 
  background @dropdownHoveredItemBackground !important
  color @dropdownHoveredItemColor !important

.ui.menu .ui.dropdown .menu > .selected.item 
  background @dropdownSelectedItemBackground !important
  color @dropdownSelectedItemColor !important

.ui.menu .ui.dropdown .menu > .active.item 
  background @dropdownActiveItemBackground !important
  font-weight @dropdownActiveItemFontWeight !important
  color @dropdownActiveItemColor !important
  
.ui.menu .ui.dropdown.item .menu .item:not(.filtered)
  display block

.ui.menu .ui.dropdown .menu > .item .icon:not(.dropdown)
  display inline-block
  font-size @dropdownItemIconFontSize !important
  float @dropdownItemIconFloat;
  margin @dropdownItemIconMargin;
  
  /*--------------
      Hover
---------------*/


.ui.link.menu .item:hover
.ui.menu .link.item:hover
.ui.menu a.item:hover 
  cursor pointer
  background rgba(0,0,0,.03)
  color rgba(0,0,0,.95)
  
.ui.menu .dropdown.item:hover
  cursor pointer
  background rgba(0,0,0,.03)
  color rgba(0,0,0,.95)


/*--------------
     Pressed
---------------*/

.ui.link.menu .item:active
.ui.menu .link.item:active
.ui.menu a.item:active 
  background @pressedItemBackground
  color @pressedItemTextColor



/*--------------
     Active
---------------*/

.ui.menu .active.item  
  background @activeItemBackground
  color @activeItemTextColor
  font-weight @activeItemFontWeight
  box-shadow @activeItemBoxShadow

.ui.menu .active.item > i.icon 
  opacity @activeIconOpacity


/*--------------
  Active Hover
---------------*/

.ui.menu .active.item:hover
.ui.vertical.menu .active.item:hover 
  background-color @activeHoverItemBackground
  color @activeHoverItemColor



/*--------------
     Disabled
---------------*/

.ui.menu .item.disabled
.ui.menu .item.disabled:hover 
  cursor default
  background-color transparent !important
  color @disabledTextColor
  
/*latest post
*/

.Top-post
  background-position center
  background-repeat no-repeat
  // background-attachment scroll // set to scroll so content doesn't scroll over top
  width 100vw
  height 50vh
  margin 20px
  

.Top-post-cover
  background-size cover

.Top-img
  display block
  margin auto
  width 100%
  height auto


.Top-img-caption-container
  transform translateY(-100%)
  margin-left 0px
  padding-bottom 70px
  position relative
  top 100%
  z-index 1
  
.Top-img-caption
  line-height 0.1em
  color #ffffff
  
.Grid-pop--1of4
  > .Grid-cell-pop
    flex 0 0 25%
    max-width 25%
    
    @media $break-767
      flex 0 0 100%
      max-width 100%
    
.Grid-cell-pop
  flex-direction row
  
.Feature-image--pop
  display block
  margin-left auto
  margin-right auto
  width 40%
  height auto
  
.Feature-image--right
  display block
  margin-left auto
  width auto
  height auto
  
.Feature-image--top
  display block
  width 90%
  height 100%
  
.Blog-content-container
  margin 0 300px
  padding 0 30px
  
.Blog-content-container-flex
  padding 0 30px  


.Container
  margin-right 300px
  margin-left 300px
  padding 30px
    
.Overlay
  position absolute
  left 0px
  right 0px
  top 0px
  bottom 0px
  background rgba(0,0,0,0.25)
  transition background 0.8s
  z-index 1
  
.Blog-feature-img
  background-size cover
  background-repeat no-repeat
  background-position center
  position relative
  left 0px
  right 0px
  top 0px
  bottom 0px
  height 300px
  
.Blog-content-img-container
  padding 0 30px
  position relative
  display block
  overflow hidden
  
.Bacground-img-blog
  height 300px
  
.Feature-image-blog
  display block
  width 70%
  height auto
  

.Post-column-left
  min-height 1px
  padding-left 15px
  padding-right 15px
  float left
  
.Post-column-right
  min-height 1px
  padding-left 15px
  padding-right 15px
  float left
  
.Side-bar-right
  position relative
  opacity .99%
  
.Side-bar-container
  position absolute
  top 1285px
  width 300px
  
.Post-container-flex--margin
  display flex
  justify-content center
  margin 0 300px
  padding 0 30px
  flex-direction row
  
.Post-container-flex-child
  flex-grow 1
  
.Post-container-flex
  display flex
  justify-content center
  flex-direction row-reverse
  
.Feature-container-column-blog
  // display flex
  // flex-direction column
  padding 3em 0em
  margin-right 200px
  
  @media $break-767
    padding 2.5em 0em
    div[class^="Grid-cell"]
      padding 1em 0em
      
.vertical-line
  padding-bottom 5px
  border-bottom: 1px solid #EEE
  
  