#Blog
  // background linear-gradient(to bottom, rgba(255,255,255,1) 5%, rgba(255,255,255,.0001), rgba(0,0,0,.35))

.Blog-row
  &:nth-child(even)
    background #f5f5f5

.Blog-pageTitle
  background transparent
  
.Blog-articleLink
  // 

.Blog-article
  padding 5em
  background transparent
  transition color .3s ease-in-out, background .3s ease-in-out
  
  &:active
    background $link-hover-color  

  @media $break-sm
    padding 3em .8em 3em .8em

.Blog-article-intro
  padding-left 2em
  @media $break-767
    padding-left 0em
    
.Blog-article-header
  padding-bottom 5em
  padding-top 1em

.Blog-article-title
  padding-bottom 0.1em
  color #666

.Blog-article-subtitle
  color $gray
  
    
.no-touch
  .Blog-article
    &:hover
      background rgba(0,0,0,.5)
      
      .Blog-article-title      
        color darken(#666, 30%)
      .Blog-article-subtitle
        color lighten($gray,70%)
      .Blog-article-date
        color lighten($text-color,70%)
    &:active
      transition none
      background darken($link-hover-color,25%)  


.Blog-article-date
  color $text-color
  
.Blog-content *  
    color invert($text-color)
  
.Blog-content h2
  color darken(#fff,5%)
  
.Blog-nav
  padding 3em 3em
  
.Blog-nav-link
  font-family $font-family-sans-serif
  font-weight 700
  transition color .4s ease
  letter-spacing .01em  
  text-align center 
  
  @media $break-lg
    // big screen
    font-size 1.1em 
    
  @media $break-sm
    // small screen
    font-size 1.05em 


//- NAT CLASS

//- Blog Top image 

.Background-img-text-container
  // transform translateY(-50%)
  position relative
  top 50%
  z-index 1
  margin-left 30px
  
.Background-header-text
  // line-height 1em
  color #ffffff
  font-size $heading-font-size
  line-height $heading-font-size * 0.5
  font-weight normal
  
.Background-caption-text
  // line-height 1em
  color #ffffff
  
.Background-caption-text-button
  // line-height 1em
  background-color white
    // color: black;
  border 2px solid #ffffff
  display inline-block
  text-align center
  padding 5px 15px
  margin 4px 2px
  border-radius 4px
  
.Caption-text-button
  background-color white
  border 2px solid #808080
  display inline-block
  text-align center
  padding 5px 15px
  margin 4px 2px
  border-radius 4px
  cursor pointer
    
.Background-text-container
  max-width 341px
  
.Background-container
  margin 0 352px
  

.Grid-pop--1of4
  > .Grid-cell-pop
    flex 0 0 25%
    max-width 25%
    
    @media $break-767
      flex 0 0 100%
      max-width 100%
    
.Grid-cell-pop
  flex-direction row

//-Page section container

.Blog-content-container
  // margin 0 352px
  padding 0 30px
  padding-top 30px
  
.Blog-content-container-body
  // margin 0 352px
  padding 0 30px
  
.Blog-content-wrapper
  max-width 1300px
  margin 0 auto
  padding 0 40px
  // @media $break-767
  //   padding 0 1em
    
.Overlay
  position absolute
  left 0px
  right 0px
  top 0px
  bottom 0px
  background rgba(0,0,0,0.25)
  transition background 0.8s
  z-index 1
  
.Blog-feature-img
  background-size cover
  background-repeat no-repeat
  background-position center
  position relative
  left 0px
  right 0px
  top 0px
  bottom 0px
  height 400px
  
.Blog-content-img-container
  padding-left 30px
  padding-right 30px
  position relative
  display block
  overflow hidden
  

.Post-container-flex
  display flex
  justify-content center
  flex-direction row
  
.Post-container-flex-child
  flex-grow 1
  
.Post-container-flex
  display flex
  justify-content center
  flex-direction row-reverse
  
.Feature-container-column-blog
  // display flex
  // flex-direction column
  max-height 400px
  padding 30px 0em  
  @media $break-767
    padding 2.5em 0em
    div[class^="Grid-cell"]
      padding 1em 0em
      
.Row
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex

  -webkit-box-orient horizontal 
  -moz-box-orient horizontal
  box-orient horizontal
  flex-direction row

  -webkit-box-pack center
  -moz-box-pack center
  box-pack center
  justify-content center

  -webkit-box-align center
  -moz-box-align center
  box-align center;
  align-items center
  background-color red


.Horizontal-line-divider
  border-bottom 1px solid #d6d6d6
  
.Horizontal-line-body
  border-bottom 1px solid #EEE

.Feature-image-blog
  // max-width 100%
  align-self center
  flex 0 0 auto
  
.Container
  display flex
  flex-flow column
  width 100%
  height 100%
  
.Box
    flex 1 1 auto
    background yellow
    display flex
    justify-content center
    align-items stretch
    
.Box img
  width 100%
  object-fit contain
  
.Header-text
  font-size $heading-font-size
  line-height $heading-font-size * 0.5
  font-weight normal
  
// .Feature-image--wrapper
//   flex 

.Aligner-item--column-max
  width 100%
  height 600px
  display flex
  flex-direction column

.Vertical-line-divider
  border-right 1px solid #d6d6d6
  
.Feature-header-container
  padding-top 78px
  padding-bottom 48px
  
  @media $break-767
    padding 2.5em 0em
    div[class^="Grid-cell"]
      padding 1em 0em
      
.Box-grey
  background-color #808080
  // border 2px solid #ffffff
  display inline-block
  text-align center
  padding 15px 25px
  margin 4px 2px
  margin-bottom 0px
  // border-radius 4px

.Body-text-wrapper
  padding-right 15px
  
