
#Blog
  // background linear-gradient(to bottom, rgba(255,255,255,1) 5%, rgba(255,255,255,.0001), rgba(0,0,0,.35))

.Blog-row
  &:nth-child(even)
    background #f5f5f5

.Blog-pageTitle
  background transparent

.Blog-articleLink
  //

.Blog-article
  padding 5em
  background transparent
  transition color .3s ease-in-out, background .3s ease-in-out

  &:active
    background $link-hover-color

  @media $break-767
    padding 3em .8em 3em .8em

.Blog-article-intro
  padding-left 2em
  @media $break-767
    padding-left 0em

.Blog-article-header
  padding-bottom 5em
  padding-top 1em

.Blog-article-title
  padding-bottom 0.1em
  color #0D122A
  font-size 48px
  font-weight 700

.Blog-article-subtitle
  color $gray


.no-touch
  .Blog-article
    &:hover
      background rgba(0,0,0,.5)

      .Blog-article-title
        color darken(#666, 30%)
      .Blog-article-subtitle
        color lighten($gray,70%)
      .Blog-article-date
        color lighten($text-color,70%)
    &:active
      transition none
      background darken($link-hover-color,25%)


.Blog-article-date
  color $text-color

.Blog-content *
    color invert($text-color)

.Blog-content h2
  color darken(#fff,5%)

.Blog-nav
  padding 3em 3em

.Blog-nav-link
  transition color .4s ease
  letter-spacing .01em
  text-align center


//- NAT CLASS

.Background-header-text
  // line-height 1em
  color #ffffff
  font-size $heading-font-size
  line-height $heading-font-size * 0.5
  font-weight normal
  padding-bottom 20px

.Top-post-header
  color #ffffff
  padding-bottom 1em

.Header-bold
  font-weight 700

.Background-caption-text-button
  // line-height 1em
  background-color white
    // color: black;
  border 2px solid #ffffff
  display inline-block
  text-align center
  padding 5px 15px
  margin 4px 2px
  border-radius 4px

.Circle-tag
  width 13em
  height 13em
  background #ededed
  border-radius 50%

  @media $break-767
    width 8em
    height 8em

  @media $break-767-height
    width 8em
    height 8em

.Tag-inner
  text-align center
  margin auto

.Icon-tag
  font-size 3em
  margin .1em

  @media $break-767
    font-size 1.5em

  @media $break-767-height
    font-size 1.5em


.Caption-tag
  font-size 1.5em
  margin 0 0 .5em

  @media $break-767
    font-size 1.3em

.new-release-bar
  margin-top 64px
  // height 60px
  width 100%
  padding 0 24px
  background-color #ECEFF1
  z-index 999
  border-bottom 1px solid rgba(0,0,0,.12)

  @media $break-767
    margin-top unset

    .Grid--justifySpaceBetween
      justify-content center
      padding 16px 0

.card
  box-shadow 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
  transition box-shadow .28s cubic-bezier(.4,0,.2,1)
  will-change box-shadow
  border-radius 4px
  flex 0 0 calc(50% - 16px) !important

  @media $break-767
    flex 0 0 100% !important

.Grid--1of2 > .Grid-cell
  &.card
    flex 0 0 45%
    margin 16px 0

.card:hover
  box-shadow 0 4px 8px -2px rgba(0,0,0,.2), 0 8px 10px 0 rgba(0,0,0,.14), 0 2px 20px 0 rgba(0,0,0,.12)

.Fill-height
  height 100%

.Blog-topic-text
  font-size 14px !important
  padding-bottom 10px
  color:#4D8AF0

  @media $break-767
    padding-bottom  6px

.Blog-header-featured
  font-size 24px !important

  @media $break-767
    font-size 18px !important

.Blog-header
  font-size 18px !important

.Blog-small-text
  font-size 14px !important

  &.grey
    color #9E9E9E

.Card-content
  height 20vh

.Blog-container
  @media $break-767
    .ratio-box
      height 20vh !important

    .u-padA--2
      padding 1em

    .u-marginY--2
      margin unset !important
      margin-top 1.5em !important

    padding 0 20px !important

.Release-tag
  height 28vh
  background-color #4D8AF0
  border-radius 4px 4px 0 0

  @media $break-767
    height 20vh

.highlight-items
  h4
    font-weight 700

  .bullet-point
    width 5px
    height 16px
    background-color #90A4AE

// mailchimp
#mc-embedded-subscribe-form .mc_fieldset
  border none
  min-height 0px
  padding-bottom 0px

#mc_embed_signup .mc-field-group input
  display block
  width 100%
  padding 8px 0
  text-indent 2%

#mc_embed_signup input
  border 1px solid #ABB0B2
  border-radius 3px

#mc_embed_signup .button
  background-color #039BE5
  border 0 none
  border-radius 4px
  transition all 0.23s ease-in-out 0s
  color #ffffff
  cursor pointer
  display inline-block
  font-size 15px
  font-weight normal
  height 32px
  line-height 32px
  margin 0 5px 10px 0
  padding 0 22px
  text-align center
  text-decoration none
  vertical-align top
  white-space nowrap
  width 100%

.pi-intro-hr
  border-top 2px solid #0D122A
  width 100%
.pi-product-title
  padding unset
  color #0D122A
  font-weight 700
  font-size 38px

.bg-img-long
  border-radius 4px
  height 80vh
#sign-up-link
  color #283593
#sign-up-anchor
  padding-left 1em
  padding-bottom unset
#ml-copy
  padding-right 50px
#whats-next-header
  font-size 48px
  padding-bottom unset
  font-weight 700
#whats-next-container
  padding-bottom 2em
.ml-header
  font-size 48px
  padding unset
  font-weight 700
#sign-up-form-cell
  border-left 2px solid #0D122A
  padding 0 5em 0 1em
#highlight-hr
  padding 1em 32px
  width 100%
#highlight-header
  font-weight 700
  font-size 48px
  padding 32px
.overlay-text
  font-size 80px
  padding unset
#highlight-bg-container
  background-color #263238
  color #ECEFF1
  padding 2em 0 2em 0
.social-links
  padding 0 3em
.pi-footer
  padding 1.5em 0

@media $break-767
  &#pi-intro
    flex-direction column-reverse
  #pi-intro
    .pi-product-title
      font-size 28px
  &#sign-up-arrow
    // display none
    padding-right 20px
  &#sign-up-anchor
    font-size 18px
    padding-left 0
    padding-top unset
  &.ml-header
    font-size 2.1em
  &#ml-copy
    padding-right 0
  &#sign-up-content
    flex-direction column-reverse
  &#sign-up-form-cell
    border-left 0px
    padding unset
  &#whats-next-header
    font-size 2.1em
  &#whats-next-container
    padding-bottom unset
  &#highlight-hr
    display none
    padding unset
  &#highlight-header
    padding 0em .6em
    font-size 2.1em
  &.highlight-items
    padding 1em
    p
      padding unset
    .Grid-cell, .Grid-cell--fillHeight
      padding-bottom unset !important

  &.overlay-text
    font-size 2.6em
  &highlight-bg-container
    padding-top 1em
  #sign-up-link
    width 100%
    .xs-left-align
      justify-content flex-start
  .bg-img-long
    height 60vh
  .pi-footer
    flex-direction column-reverse
    .Header-logo
      padding unset !important
    .company-info
      width 100%
      padding-top 1em
      p
        text-align center
  .social-links
    padding 0 1em

@media all and (max-width 930px)
  .pi-footer
    flex-direction column-reverse
    align-items center
    .Header-logo
      padding unset !important
      width 100%
      a
        width 100%
        display flex
        justify-content center
    .company-info
      width 100%
      padding-top 1em
      p
        text-align center
    .Grid-cell
      width 100%
  .social-links
    padding-bottom 2em