.button-flex
	display flex
	align-items center
	border-radius 5px
	border 1px solid #ddd
	color currentColor
	background transparent
	justify-content center
	padding 1em
	position relative
	// z-index 10
	transition color .3s ease-in-out,background .3s ease-in-out
	font-family $font-family-sans-serif
	font-weight 700
	font-size 1em
	
	margin-top 1.5em
	
	&:active
		background complement($link-hover-color)

		
.Button
	display flex
	align-items center
	border-radius 5px
	border 1px solid #ddd
	color currentColor
	background transparent
	justify-content center	
	transition color .3s ease-in-out,background .3s ease-in-out
	font-family $font-family-sans-serif
	font-weight 700
	font-size 1em
	padding 1em .1em
	

	
.Button--cart
	border-color transparent
	background rgba(255,255,255,.8)
	font-size 1.2em

	&:active
		background complement($link-hover-color)

.Button--state-inactive
	color darken(currentColor,20%)
	background darken(rgba(255,255,255,.8),50%)
	pointer-events none
    cursor default
   
	&:hover
		transition none
		hover none

.no-touch
	.button-flex
	.Button
	.Button--cart
		&:hover
			background $link-hover-color
			color #fff
	
	.Button--cart
		&:active
			transition none
			background complement($link-hover-color)	
