$w = 8px
$smw = $w*.75
$scale = 1.2

#Cart
	// nothing here - placeholder for jQuery
	// padding 1em 1.75em
		
#Cart-table
	width 100%

.Cart-row
	// nothing here - placeholder for JQuery

.Cart-container
	// nothing here - placeholder for Jquery

.Cart-rowContainer
	margin-bottom .8em
	border-bottom 1px solid gray
	
.Cart-items--3of5
	width (3/5)*100%
	text-align left
	
.Cart-items--1of5
	width (1/5)*100%
	text-align left

#CartSum
	// nothing here - placeholder for jQuery
		
.CartSum--total-disclaimer
	font-weight 400
	text-transform lowercase
	font-size .8em
	font-style italic

#CartSum--total
	color $link-hover-color

#CartSum--total
#CartSum--label
#Cart-clearCart
	font-weight 700
	padding-top 1.5em
	


tr.Cart-orderItem td
	border-bottom 1px solid black
	

.Cart-checkout
	padding-top 1.5em
	// height 100%
	// margin 0
	// background darken(rgba(255,255,255,1),10%)


.Cart-table-container
	padding 1em 1.75em


.Cart-orderForm-container
	display none
	padding 1.5em 1.75em
	background darken(rgba(255,255,255,1),5%)
	// margin-bottom 1em
	
.Cart-orderForm--state-active
	// this is for JQuery  

.Cart-removeItem
	user-select none
	transition color .3s ease-in-out, font-size .35s ease-in-out

	&:active
		cursor pointer
		color complement($link-hover-color)
		font-size $font-size-base*$scale

.no-touch
	.Cart-removeItem
		&:hover
			cursor pointer
			color complement($link-hover-color)
			font-size $font-size-base*$scale
				

.Cart-containerTriangle
	position relative
	height 100%
	display block


.Cart--triangle-up
	width 0
	height 0
	border-style solid
	border-width 0px $w $w $w
	border-color transparent transparent rgba(0,0,0,.6) transparent
	margin 0.25em
	transition border-color .3s ease-in-out, transform .35s ease-in-out
	
	@media $break-sm
		border-width 0px $smw $smw $smw
	
.Cart--triangle-down
	width 0
	height 0
	border-style solid
	border-width $w $w 0px $w
	border-color rgba(0,0,0,.6) transparent transparent transparent
	margin 0.25em
	transition border-color .3s ease-in-out, transform .35s ease-in-out
	
	@media $break-sm
		border-width $smw $smw 0px $smw
	
#Cart-empty
	// nothing here
		
.Cart-itemQuant--increment
	user-select none

	&:active
		cursor pointer
		>p.Cart--triangle-up
			transform scale($scale)
			border-color transparent transparent complement($link-hover-color) transparent
		>p.Cart--triangle-down
			transform scale($scale)
			border-color complement($link-hover-color) transparent transparent transparent

.no-touch
	.Cart-itemQuant--increment
		&:active
			cursor pointer
			>p.Cart--triangle-up
				border-color transparent transparent complement($link-hover-color) transparent
			>p.Cart--triangle-down
				border-color complement($link-hover-color) transparent transparent transparent


		&:hover
			cursor pointer
			>p.Cart--triangle-up
				transform scale($scale)
				border-color transparent transparent $link-hover-color transparent
			>p.Cart--triangle-down
				transform scale($scale)
				border-color $link-hover-color transparent transparent transparent


