.datalist
  list-style none
  display none
  background white
  box-shadow 0 2px 2px #999
  position absolute
  left 0
  top 0
  max-height 300px
  overflow-y auto
  &:empty
    display none !important
  li
    padding 3px

.active
  background #3875d7
  color white