.datalist
  list-style none
  display none
  background white
  box-shadow 0 2px 2px #999
  position absolute
  left 0
  top 0
  max-height 300px
  overflow-y auto
  padding 0
  &:empty
    display none !important
  li
    font-family $font-family-sans-serif-alt
    font-size .75em
    padding .35em

li.active
  background #1de7cb
  color white