.Feature
	// nothing here yet
		
.Feature-figure
	// nothing here yet
		
.Feature-figure--config
	position relative
	left 0
	top 0 
		
.Feature--padded-1
	padding 1em	
	
.Feature-image
	display block
	max-width 100%
	height auto
	
.Feature-title--lg
	color #515151
	font-size 2.4em
		
.Feature-subtitle--lg
	padding .2em 1em
	color darken(#8A8A8A, 20%)
	font-size 1.3em
	
	@media $break-lg
		font-size 1.6em
		
.Feature-image--configWorld
	position absolute
	width 59%
	left 0
	top 0
	
.Feature-image--configEye
	// relative positioning
	position relative
	left 0
	top 0 