.Feature
  // nothing here yet
        
.Feature-100vh
  height 100vh
  
.Feature--store
  display flex
  flex-direction column
    
.Feature-figure
  // nothing here yet
        
.Feature-figure--config
  position relative
  left 0
  top 0 

.Feature-figure--dev
  position relative
  left 0
  top 0 
  border 1px solid #ffffff
  border-radius 5px

.Feature--padded2
  padding 2em
  
  @media $break-sm
    padding 3em .8em 3em .8em 
        
.Feature--padded3
  padding 3em 
  
  @media $break-sm
    padding 3em .8em 3em .8em 
    
.Feature-image--wrapper
  flex-shrink 0


.Feature-image-100vh
  display block
  height 100vh
  width auto
  align-items center
  justify-content center
  
.Feature-image
  display block
  width 100%
  height auto
  
.Feature-video-container-4by3
  position relative
  width 100%
  height 0
  padding-bottom 75%
  margin-bottom 1em
  
.Feature-video-container-3by5
  position relative
  width 100%
  height 0
  padding-bottom 60%
  margin-bottom 1em
  
.Feature-video-container-16by9
  position relative
  width 100%
  height 0
  padding-bottom 56.25%
  margin-bottom 1em
    
.Feature-video
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.Feature-image--software
  padding-top 2em
  display block
  max-width 75%
  margin-left auto
  margin-right auto
  height auto

  @media $break-lg
    max-width 60%

.Feature-image--dev
  padding-top 2em
  display block
  max-width 40%
  margin-left auto
  margin-right auto
  height auto
  
  @media $break-sm
    max-width 80%

.Feature-image--store
  height auto
  max-width 100%

.Feature-image--capturePlayerIcons
  display block
  margin-left auto
  margin-right auto
  width 30%
  height auto

.Feature-title--lg
  color $header-color
  font-size $heading-font-size
  font-weight $heading-font-weight

        
.Feature-subtitle
  // padding .5em 1em
  // color darken(#8A8A8A, 20%)
  font-size $subtitle-font-size
  font-weight $subhead-font-weight
  text-align justify
  text-justify inter-word
  
  @media $break-lg
      font-size 1.15em
      
  > p
    padding-bottom 1em

.Feature-subtitle--lg
  padding .2em 1em
  // color darken(#8A8A8A, 20%)
  font-size $subtitle-font-size
  font-weight $subhead-font-weight

  
  @media $break-lg
      font-size 1.4em
        
.Feature-image--configWorld
  position absolute
  width 59%
  left 0
  top 0
    
.Feature-image--configEye
  // relative positioning
  position relative
  left 0
  top 0 


.Background-img-cover
  background-size cover

.Background-img-contain
    background-size contain

.Background-img--full-wh
  background-position center center
  background-repeat no-repeat
  background-attachment scroll // set to scroll so content doesn't scroll over top
  width 100vw
  height 100vh

  @media $break-767
    padding 0
    padding-bottom 75%
    height 0
    background-position-y top
    
.Background-img--full-w
  background-position center center
  background-repeat no-repeat  
  background-attachment scroll // set to scroll so content doesn't scroll over top
  width 100vw
  min-height 30em

  @media $break-767
    padding 0
    padding-bottom 75%
    height 0
    background-position-y top  


.Background-img--full-w-fixed
  background-position center center
  background-repeat no-repeat  
  background-attachment fixed // set to scroll so content doesn't scroll over top
  width 100vw
  height 80vh
  @media $break-767
    padding 0
    padding-bottom 71.4%
    height 0
    background-position-y top
    background-size contain
    background-attachment scroll

.Background-img--full-w-grid
  background-position-x center
  background-position-y center
  background-attachment scroll
  background-repeat no-repeat  
  width 100%
  padding-bottom 75%


.Background-video-container
  position relative
  overflow hidden
  margin 0
  padding 0
  
.Background-video
  height 100%
  width 100%
  video
    object-fit cover !important
    
    
.Feature-specs
  flex 1 0 auto
    
.Feature-wrapper
  display flex
  flex-direction column
        
.Feature-grayBkg
  color invert($gray-darker)
  background darken($link-hover-color,30%)
  
.Feature-container--activityHome
  background rgba(0,0,0,0.1)
  
.Feature-paragraph
  font-size $paragraph-font-size
  font-weight $paragraph-font-weight
  padding-bottom 1em

.Feature-container-column
  display flex
  flex-direction column
  padding 3em 0em
  @media $break-767
    padding 2.5em 0em
    div[class^="Grid-cell"]
      padding 1em 0em
  
.Feature-row
  min-height 30em
  @media $break-767
    min-height 0em
    
.Feature-slide-wrapper
  background-color #828282
  min-height 60vh
  padding 3em 0em
  @media $break-767
    badding 2.5em 0em

.Feature--job-item
  border-bottom-width 1px
  border-bottom-color rgb(155,155,155)
  border-bottom-style solid