.Feature
  // nothing here yet
        
.Feature--store
  display flex
  flex-direction column
    
.Feature-figure
  // nothing here yet
        
.Feature-figure--config
  position relative
  left 0
  top 0 

.Feature-figure--dev
  position relative
  left 0
  top 0 
  border 1px solid #ffffff
  border-radius 5px

.Feature--padded2
  padding 2em
  
  @media $break-sm
    padding 3em .8em 3em .8em 
        
.Feature--padded3
  padding 3em 
  
  @media $break-sm
    padding 3em .8em 3em .8em 
    
.Feature-image
  display block
  width 100%
  height auto
    
.Feature-image--store
  height auto
  max-width 100%

.Feature-image--capturePlayerIcons
  display block
  margin-left auto
  margin-right auto
  width 30%
  height auto

.Feature-title--lg
  color #515151
  font-size 2em
        
.Feature-subtitle
  padding .5em 1em
  color darken(#8A8A8A, 20%)
  font-size 1.1em
  text-align justify
  text-justify inter-word
  
  @media $break-lg
      font-size 1.15em
      
  > p
    padding-bottom 1em

.Feature-subtitle--lg
  padding .2em 1em
  color darken(#8A8A8A, 20%)
  font-size 1.3em
  
  @media $break-lg
      font-size 1.4em
        
.Feature-image--configWorld
  position absolute
  width 59%
  left 0
  top 0
    
.Feature-image--configEye
  // relative positioning
  position relative
  left 0
  top 0 
  
.Feature-specs
  flex 1 0 auto
    
.Feature-wrapper
  display flex
  flex-direction column
    
.Grid-cell p
    flex 1 0 auto
    
.Feature-grayBkg
  color invert($gray-darker)
  background darken($link-hover-color,30%)
  
.Feature-container--activityHome
  background rgba(0,0,0,0.1)