.Footer-container
  margin 0 auto
  max-width $content-max
  padding 55px 40px

.Footer-h3
  font-family "Roboto", 'sans-serif'
  color #9CAFC3
  font-weight 700
  font-size 16px
  text-transform uppercase
  padding-bottom 1em
  
.Footer-data
  font-family "Roboto", 'sans-serif'
  color rgba(0,0,0,0.48)
  font-weight 500
  font-size 14px
  padding-bottom 0.1em
  a
    color rgba(0,0,0,0.48)
    