.Footer-container
  margin 0 auto
  max-width $content-max
  padding 60px 40px

.Footer-heading
  color #9CAFC3
  text-transform uppercase
  
.Footer-data
  // font-family $font-family-sans-serif
  color rgba(0,0,0,0.48)
  font-weight 500
  font-size 0.8em
  padding-bottom 0.1em
  a
    color rgba(0,0,0,0.48) 
  


.Footer--cell
  flex 0 0 25%
  padding 1em 1em 2em
  @media $break-767
    // &:nth-child(even)
    //   margin-left 1em
    //   flex 0 0 calc(50% - 1em)
    // &:nth-child(odd)
    flex 0 0 100%