// Footer navigation (site map)
// 
.Footer-nav
	width 100%
	background rgba(0,0,0,.01)
	border-top 1px solid #ddd
	padding 1em 0em

.Footer-nav-item
	padding .5em .75em
	
.Footer-nav-link
	color $gray-light
	font-family $font-family-sans-serif
	font-weight 700
	transition color .4s ease
	letter-spacing .01em		
	
	@media $break-lg
		// big screen
		font-size 1.1em 
		
	@media $break-sm
		// small screen
		font-size 1em

.Footer-newsletter
	padding .5em 2em .5em
	
// Footer social links
// 
.Footer-social
	background rgba(0,0,0,.01)
			
.Footer-social-item
	padding .5em 1em
	
	@media $break-lg
		padding .5em 2.15em

	
.Footer-social-link
	color darken(#fff,30%)
	padding .25em 2.15em
	font-family $font-family-sans-serif
	font-weight 700
	transition color .4s ease
	letter-spacing .01em	
	text-align center	
	
	@media $break-lg
		// big screen
		font-size 1em 
		
	@media $break-sm
		// small screen
		font-size .95em	
		
// Footer copyright
// 
.Footer-copy
	background rgba(0,0,0,.8)
	
.Footer-copy-item
	padding .5em 1em		

.Footer-copy-text
	color lighten(rgba(0,0,0,.75), 40%)
	font-family $font-family-sans-serif
	font-weight 400
	font-size .85em
	letter-spacing .01em		

	