// see Phillip Walton's post: http://philipwalton.github.io/solved-by-flexbox/demos/grids/
// Grid 

// Grid container
.Grid
	display flex
	flex-wrap wrap
	list-style none
	margin 0
	padding 0

.Grid-noWrap
	display flex
	flex-wrap nowrap
	list-style none
	margin 0
	padding 0	
	overflow hidden
	
.Grid-noWrap--breakSmall
	@media $break-sm
		flex-wrap wrap
	
.Grid-cell
	flex 1
	
.Grid-cell--noFlex
	flex none

.Grid-cell--auto
	flex 0 0 auto
	
.Grid--flexCells 
	> .Grid-cell
		display flex
		
.Grid--top
	align-items flex-start
	
.Grid--bottom
	align-items flex-end
	
.Grid--center
	align-items center
	
.Grid--stretch
	align-items stretch
	
.Grid--justifyCenter
	justify-content center
	
.Grid--justifySpaceAround
	justify-content space-around

.Grid-cell--top
	align-self flex-start
	
.Grid-cell--bottom
	align-self flex-end
	
.Grid-cell--center
	align-self center

.Grid-column
	flex-direction column

.Grid-cell--autoSize
	flex none

.Grid-cell--1of2
	flex 0 0 50%
	
.Grid-cell--2of3
	flex 0 0 (2/3)*100%

.Grid-cell--2of3-padright
	padding-right 2em
	
.Grid-cell--1of18
	flex 0 0 (1/18)*100%
		
.Grid-cell--1of22
	flex 0 0 (1/22)*100%

.Grid-cell--1of2:first-child .Button-radio--lg
	border-left 0

.Grid-cell--5of8
	flex 0 0 (5/8)*100%
	
.Grid-cell--1of8
	flex 0 0 (1/8)*100%
	
.Grid-cell--1of9
	flex 0 0 (1/9)*100%
	
.Grid--rowReverse
	flex-direction row-reverse

.Grid-cell--fillHeight
	display flex

.Grid--fit 
	> .Grid-cell
		flex 1

.Grid-cell--full
	flex 0 0 100%
	max-width 100%


.Grid--full
	> .Grid-cell
		flex 0 0 100%
		max-width 100%

		
.Grid--1of2
	> .Grid-cell
		flex 0 0 50%
		// firefox fix below
		max-width 50%
			
		@media $break-sm
			flex 0 0 100%
			max-width 100%


.Grid--1of3
	> .Grid-cell
		flex 0 0 33.3333%
		// firefox fix below
		max-width 33.3333%

		
		@media $break-sm
			flex 0 0 100%
			max-width 100%

		
.Grid--1of4
	> .Grid-cell
		flex 0 0 25%
		max-width 25%
		
		@media $break-sm
			flex 0 0 100%
			max-width 100%

.Grid-cell--header
	font-weight 700
	
	@media $break-sm
		font-size .8em

.Grid-cell--borderBottom
	border-bottom 1px solid black
	
.Grid--gutters
	margin -1em 0 1em -1em
	
.Grid--gutters
	> .Grid-cell
		padding 1em 0 0 1em
		
.Aligner
	display flex
	flex-wrap wrap

.Aligner-item
	display flex
	flex 0 0 25%
	max-width 25%
	padding 1em 0 0 1em

	@media $break-sm
		flex 0 0 50%
		max-width 50%
		
.Aligner-item--column
	display flex
	flex-direction column
	
.Aligner-item--stretchHeight
	flex 1 0 auto

.Aligner-item--top
	display flex
	align-self flex-start

.Aligner-item--bottom
	display flex
	align-self flex-end

