// see Phillip Walton's post: http://philipwalton.github.io/solved-by-flexbox/demos/grids/
// Grid 

// Grid container
.Grid
	display flex
	flex-wrap wrap
	list-style none
	margin 0
	padding 0

.Grid-noWrap
	display flex
	flex-wrap nowrap
	list-style none
	margin 0
	padding 0	
	overflow hidden
	
.Grid-noWrap--breakSmall
	@media $break-sm
		flex-wrap wrap
	
.Grid-cell
	flex 1
	
.Grid-cell--noFlex
	flex none

.Grid-cell--auto
	flex 0 0 auto
	
.Grid--flexCells 
	> .Grid-cell
		display flex
		
.Grid--top
	align-items flex-start
	
.Grid--bottom
	align-items flex-end
	
.Grid--center
	align-items center
	
.Grid--stretch
	align-items stretch
	
.Grid--justifyCenter
	justify-content center
	
.Grid--justifySpaceAround
	justify-content space-around

.Grid-cell--top
	align-self flex-start
	
.Grid-cell--bottom
	align-self flex-end
	
.Grid-cell--center
	align-self center

.Grid-cell--autoSize
	flex none
	
.Grid--rowReverse
	flex-direction row-reverse

.Grid--fit 
	> .Grid-cell
		flex 1

.Grid--full
	> .Grid-cell
		flex 0 0 100%
		
.Grid--1of2
	> .Grid-cell
		flex 0 0 50%
		// firefox fix below
		max-width 50%
			
		@media $break-sm
			flex 0 0 100%

.Grid--1of3
	> .Grid-cell
		flex 0 0 33.3333%
		// firefox fix below
		max-width 33.3333%

		
		@media $break-sm
			flex 0 0 100%

		
.Grid--1of4
	> .Grid-cell
		flex 0 0 25%
		max-width 25%
		
		@media $break-sm
			flex 0 0 100%

