.Header
	background $navbar-bg
	border-bottom 1px solid $navbar-border-color
	display block
	margin 0 auto
	max-width 100%
	width 100%
	z-index $zindex-navbar
	position relative
	padding 0.75em 0 0

	@media $break-lg
		padding 1.25em 1.5em
		
		
	@extend .clearfix
	
.Header-logo
	text-decoration none
	position relative
	display block
	margin 0 auto
	// typography 
	font-family $font-family-sans-serif
	font-weight 700
	text-align center
	font-size $font-size-base + 0.3
	transition color .3s ease-in-out
	
	@media all and (min-width: 48em)
		float left
		padding-top 1em - 0.3
		
	@media all and (max-width: 48em)
		padding-top 0

	
.Header-nav
	padding-top 0
		
	@media all and (min-width: 48em)
		float right
		
	@media all and (max-width: 48em)
		padding-top 0.5em
		
	@extend .clearfix

