#Header
  position fixed
  left 0
  right 0
  top 0
  height 64px
  z-index 1
  display flex
  flex-direction row
  align-items flex-start
  border-top 2px solid transparent
  border-image linear-gradient(to left, #38EA92 0%, #A1DEF0 100%)
  border-image-slice 1
  // border-bottom 1px solid transparent
  background-color rgba(255,255,255,0.85)
  transition transform 0.33s cubic-bezier(0,0,0.15,1)

.Header-container-hide
  transform translate3d(0px, -135px, 0px);
  @media (max-width: 767px)
    transform none
        
.Header-container-show
  transform translate3d(0px, -66px, 0px);
  @media (max-width: 767px)
    transform none


.Header-menu-button-container
	position relative
	top 8px
	padding 12px
	width auto
	height auto
	z-index 0
	display block
	
.Header-menu-button
	display none
	@media (max-width: 767px)
		display inline-block
	
.Header-logo
	display inline-block
	position relative
	top 20px
	
.logotype-container
	width 90px
	// height 100px
		
.Header-nav
	position relative
	top 20px
	right 24px
	flex 1
	text-align right
	li
		font-size 14px
		margin-left 31px
		text-transform uppercase
	ul
		list-style none
		display inline-flex
		flex-direction row
		list-style-type none

.Header-nav-list
	// nothing
		
.Header-nav-item
	text-decoration none !important
	font-family 'Roboto', 'sans-serif'
	font-weight 500
	color rgba(0,0,0,0.54)
	// margin inherit
	
	
.Header-cart-badge
  position absolute
  top -4px
  right -15px
  width 18px
  height 18px
  background-color #b1b1b1
  border-radius 50%
  color white
  font-size 11px
  font-weight 700
  pointer-events none
  display none
  flex-direction column
  align-items center
  justify-content center
  
.cart-full
  display flex

.logotype
	width 110px

.logotype-pupil
	fill #4d4d4d
	
.logotype-labs
	fill lighten(#4d4d4d, 20%)

.side-nav
  position fixed
  left 0
  top 0
  z-index 2
  width 100%
  height 100%
  overflow hidden
  pointer-events none

.side-nav
  &:before
    content ''
    display block
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background rgba(255,255,255,0.5)
    opacity 0
    will-change opacity
    transition opacity 0.3s cubic-bezier(0,0,0.3,1)

.side-nav--visible
  pointer-events auto
  &.side-nav--animatable
    .side-nav__container
      transition transform 0.33s cubic-bezier(0,0,0.3,1)
  &:before
    opacity 1
  .side-nav__container
    transform none

.side-nav__container
  position relative
  width 50%
  max-width 400px
  background #FFF
  height 100%
  box-shadow 2px 0 12px rgba(0,0,0,0.4)
  transform translateX(-102%)
  display flex
  flex-direction column
  will-change transform

.side-nav--animatable
  .side-nav__container
    transition transform 0.13s cubic-bezier(0,0,0.3,1)

.side-nav__hide
  position absolute
  left 16px
  top 16px
  background none
  border none
  color #FFF
  width 24px
  height 24px
  padding 0
  margin 0

.side-nav__header
  height 100px
  background #FFF
  color gray
  display flex
  padding 16px
  align-items flex-end
  font-size 24px

.side-nav__content
  padding-top 32px
  flex 1
  list-style none
  padding 0
  margin 0
  overflow-x hidden
  overflow-y auto
  overflow-scrolling touch
  li
    height 48px
    line-height 48px
    padding 0 16px
    &:hover
      background #CCC
