// .Header
//  background $navbar-bg
//  // border-bottom 1px solid $navbar-border-color
//  display block
//  margin 0 auto
//  max-width 100%
//  width 100%
//  z-index $zindex-navbar
//  position fixed
//  top 0
//  left 0
//  // height 6.75rem
//  padding 0.5em 0 0
//  border-top 3px solid transparent
//  border-image linear-gradient(to left, #38EA92 0%, #A1DEF0 100%)
//  border-image-slice 1

//  @media $break-lg
//    background rgba(255,255,255,0.95)
//    padding .7em 1.5em
//    // height 5rem

//  @extend .clearfix
.Header-container
  position fixed
  top 0
  left 0
  // right 0
  width 100%
  z-index 1

.Header
  position relative
  display flex
  flex-direction row
  align-items center
  padding 0 1.2em
  height 64px
  background rgba(255,255,255,0.95)  
  border-top 3px solid transparent
  border-image linear-gradient(to left, #38EA92 0%, #A1DEF0 100%)
  border-image-slice 1
  transition transform 0.33s cubic-bezier(0,0,0.3,1)

  a
    text-decoration none
    display inline-block
    transition-property none
    pointer-events auto
    color $text-color    
    &:hover
      color $text-color
  
.Header-logo
  flex 1
  pointer-events none
  text-align center
  a
    font-family $font-family-sans-serif
    font-weight 700
    font-size $font-size-base + 0.3

.Header-left-bar-item
  width 40px
  display none
  @media (max-width: 767px)
    display block
    
.Header-button-container
  display inline-block
  position relative
  z-index 0
  width 40px
  height 40px
  color $text-color


.Header-menu-button
  // justify-content center
  position relative
  vertical-align middle
  display inline-flex
  padding 8px
  height 40px
  box-sizing border-box !important
  color $text-color
   

    
.Header-nav
  padding-top 0
    
  @media $break-lg
    float right
    
  @media $break-xs
    padding-top 0.5em
    
  @extend .clearfix

.Header-hide
  transform translateY(-102%)



.side-nav
  position fixed
  left 0
  top 0
  z-index 2
  width 100%
  height 100%
  overflow hidden
  pointer-events none

.side-nav
  &:before
    content ''
    display block
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    background rgba(255,255,255,0.5)
    opacity 0
    will-change opacity
    transition opacity 0.3s cubic-bezier(0,0,0.3,1)

.side-nav--visible
  pointer-events auto
  &.side-nav--animatable
    .side-nav__container
      transition transform 0.33s cubic-bezier(0,0,0.3,1)
  &:before
    opacity 1
  .side-nav__container
    transform none

.side-nav__container
  position relative
  width 50%
  max-width 400px
  background #FFF
  height 100%
  box-shadow 2px 0 12px rgba(0,0,0,0.4)
  transform translateX(-102%)
  display flex
  flex-direction column
  will-change transform

.side-nav--animatable
  .side-nav__container
    transition transform 0.13s cubic-bezier(0,0,0.3,1)

.side-nav__hide
  position absolute
  left 16px
  top 16px
  background none
  border none
  color #FFF
  width 24px
  height 24px
  padding 0
  margin 0

.side-nav__header
  height 100px
  background #FFF
  color gray
  display flex
  padding 16px
  align-items flex-end
  font-size 24px

.side-nav__content
  padding-top 32px
  flex 1
  list-style none
  padding 0
  margin 0
  overflow-x hidden
  overflow-y auto
  overflow-scrolling touch
  li
    height 48px
    line-height 48px
    padding 0 16px
    &:hover
      background #CCC


