.Nav-list-item
	display block
	float left
	list-style none
	
	@media all and (max-width: 48em)
		border-right 1px solid #ddd
		width 25%
	
.Nav-link
	border-top 1px solid #ddd
	display block
	text-decoration none
	text-align center
	padding .9em .75em
	// typography 
	font-family $font-family-sans-serif
	font-weight 700
	width 100%
	color $text-color
	transition color .4s ease-in-out, background .4s ease-in-out
	
	// small screen
	@media all and (max-width: 48em)
		background-color #f7f7f7
		letter-spacing .01em
		text-align center
		
	// large screen
	@media all and (min-width: 48em)
		border-top none
		margin 0
		padding 1em 1.75em	

#Nav-cart
	// nothing here - placeholder for jquery
		
.Nav-cart-itemCount
	// display inline-block
	// height 1.4em
	// width 1.4em
	// border-radius .75em
	// background-color red
	color complement($link-hover-color)