.Nav-list-item
	display block
	float left
	list-style none
	
	@media $break-xs
		border-right 1px solid #ddd
		width (1/6*100)%
	
	
.Nav-link
	display block
	text-decoration none
	text-align center
	padding .9em .75em
	// typography 
	font-family $font-family-sans-serif
	font-weight 700
	width 100%
	color $text-color
	transition color .4s ease-in-out, background .4s ease-in-out


#Nav-cart
	// nothing here - placeholder for jquery
		
.Nav-cart-itemCount
	// display inline-block
	// height 1.4em
	// width 1.4em
	// border-radius .75em
	// background-color red
	color complement($link-hover-color)