.Pupil-flex-container
	flexbox_container()
	align-items stretch
	width 100%

flex-item-full-width(arguments)
	display flex
	flex-direction column
	align-items center
	flex 0 0 auto
	justify-content center

	background arguments
	// set up a min-height
	min-height 40vh	
	
	overflow hidden
	position relative
	width 100% // items within the element container should be full width
	padding 5em
	
	@media all and (min-width: 48em)
		min-height 60vh
		
pupil-flex-row(_flex_direction=column)
	display flex
	flex-direction _flex_direction
	align-items center
	flex 0 0 auto
	justify-content center
	min-height 40vh
	
	overflow hidden
	position relative
	width 100%
	
	@media all and (min-width: 48em)
		min-height 60vh
		flex-direction row
		
.Pupil-flex-row
	pupil-flex-row()
	
.Pupil-flex-row-reverse
	pupil-flex-row(column)
	@media all and (min-width: 48em)
		flex-direction row-reverse
	

.Pupil-flex-item-full-width-title
	flex-item-full-width(linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(255,255,255,1)))

.Pupil-flex-item-full-width
	flex-item-full-width(#fff)
	
.Pupil-flex-item-half-width
	flex_item_half_width()
	padding 0
	

pupil-item-heading(_text-align=center)
	text-align _text-align
	position relative

.Pupil-item-title
	pupil-item-heading()
	color #515151 
	font-size 2.9em
	
	@media all and (min-width: 48em)
		font-size 4em	
		

.Pupil-item-subtitle 
	pupil-item-heading()
	text-shadow 0 1px 0 rgba(0,0,0,.1)		
	display flex
	align-items center
	color #8A8A8A 
	font-size 1.6em
	z-index 10
	
.Pupil-item-h1
	pupil-item-heading()
	color #515151 
	font-size 2.4em
	z-index 10
	
.Pupil-item-image
	// display flex
	min-width 100%
	overflow hidden
	z-index 5