.Section
	padding 0
	margin 0
	clearfix()
	
.Section--gradientBkg
	background linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(255,255,255,1))

.Section--home-60-40
	min-height 40vh
	padding 5em

	@media $break-lg
		min-height 60vh
