
.Site
  display flex
  flex-direction column
  height 100vh

.Site-content
  padding 0
  padding-top 4.8em
  flex 1 0 auto 
  width 100%
  animation reveal .6s .2s ease both
  
  @media $break-sm
    padding-top 6.4em

.Site-header
.Site-footer
  flex-shrink 0
  
  
.Site-blog
  background linear-gradient(to bottom, rgba(255,255,255,1) 5%, rgba(255,255,255,.0001), rgba(0,0,0,.35))

.Site-cart 
  background darken(rgba(255,255,255,1),5%)
