/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */
.Site
  position relative
  top $navbar-height
  left 0
  display flex
  flex-direction column
  height 100% // * 1, 3 *
  width 100vw
  overflow clip
  
.Site-content-container
  max-width $content-max
  margin 0 auto
  padding 0 40px
  // @media $break-767
  //   padding 0 1em


.Site-content
  flex 1 0 auto // * 2 *
  padding 0
  // padding-top 4.7em
  // width 100%
  animation reveal .6s .2s ease both
  // top $navbar-height
  
  // @media $break-767
  //   padding-top 5.9em

// .Site-content:after
//   content '\00a0'
//   display block
//   height 0px
//   visibility hidden

.Site-footer
  flex none // * 2 *
  width 100%
  background #ECECEC
  border-top 4px solid transparent
  border-image linear-gradient(to right, #38EA92 0%, #A1DEF0 100%) 100% 0 0 0/4px 0 0 0
  
.Site-blog
  // background linear-gradient(to bottom, rgba(255,255,255,1) 5%, rgba(255,255,255,.0001), rgba(0,0,0,.35))

.Site-cart 
  background darken(rgba(255,255,255,1),5%)
  
.Site-gray-bkg
  background #F5F5F5
  

.Site-transform
  margin-top -64px
  @media $break-767
    margin-top 0px  