.Store-presets
	width 100%
	background rgba(0,0,0,.3)

.Store-flex-nav-container
	flexbox_container(0 0 auto,nowrap,space-around)
	align-items stretch
	width 100%
	overflow hidden
	padding-top 1em
	
.Store-flex-nav-item
	list-style none
	padding .15em .75em
	
	@media all and (max-width: 48em)
		border-right 1px solid #ddd
	
.Store-nav-link
	color #fff
	font-family $font-family-sans-serif
	font-weight 700
	transition color .4s ease
	letter-spacing .01em		
	
	@media all and (min-width: 48em)
		// big screen
		font-size 1.1em 
		
	@media all and (max-width: 48em)
		// small screen
		font-size 1em

.Grid
	display flex
	flex-wrap wrap
	width 100%
	overflow hidden
	
.Grid-cell
	flex 1
	
.Grid--1of3
	flex 0 0 33.333%
	padding 1em

.Store-flex-item-third-width
	flex_item_third_width()
	padding 0
	
.Store-item-image
	width 100%
	overflow hidden
	z-index 5
	
.Store-item-h2
	text-align center
	position relative
	color #515151 
	font-size 2em
	z-index 10