storeConfig-button($stroke=1px)
	display flex
	flex-wrap nowrap
	align-items center
	justify-content center
	border-radius 3px
	// border-top $stroke solid #ddd
	// border-bottom $stroke solid #ddd
	border-right $stroke solid #ddd
	background transparent
	padding .5em
	transition color .3s ease-in-out, background .3s ease-in-out
	font-family $font-family-sans-serif
	font-weight 700
	font-size .9em

	&:last-child
		border-right 0px solid #ddd
		

.StoreConfig-world
	storeConfig-button()

.StoreConfig-eye
	storeConfig-button()			

.Store-navPreset
	storeConfig-button(0px)
		
.StoreConfig--state-active
	background $link-hover-color
	color #fff

.no-touch
	.StoreConfig-world
	.StoreConfig-eye
	.Store-navPreset
		&:hover
			background #ddd
			color black

.StoreConfig-subTotal
	// nothing here yet
		
#StoreConfig-addToCart
	// nothing here yet
		
.StoreConfig-rowContainer
	padding 1em 1em 0  
	
.StoreConfig-rowContainer--presets
	background rgba(255,255,255,1)
	
.StoreConfig-rowContainer--world
	border-top 1px solid #ddd

.StoreConfig-rowContainer--eye
	// border-top 1px solid black
	border-top 1px solid #ddd

.StoreConfig-rowContainer--cost
	background darken(rgba(255,255,255,1),10%)
	padding 1em

.StoreConfig-rowContainer--cartBtns
	padding .5em
	
.StoreConfig-header
	padding-bottom .5em
	
.TechSpecs
	text-transform lowercase
	font-variant small-caps

.TechSpecs--active
	// jquery only

.TechSpecs-txt--eye
	text-transform lowercase
	font-size .8em
	padding 0em
		
.TechSpecs-txt--world
	text-transform lowercase
	font-size .8em

