.parsley-success
  box-shadow $link-hover-color 0 -1px 0 0 inset

.parsley-error
  box-shadow complement($link-hover-color) 0 -1px 0 0 inset


.parsley-errors-list
  padding-left 0em
  list-style-type none
  opacity 0
  transition opacity .3s ease-in


.parsley-errors-list.filled
  opacity 1